<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dcoin</string>
	<key>CFBundleExecutable</key>
	<string>starter</string>
	<key>CFBundleIconFile</key>
	<string>dcoin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>club.dcoin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>CFBundleName</key>
	<string>ThrustShell</string>
	<key>NSPrincipalClass</key>
	<string>ThrustShellApplication</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>

