<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.golang.app"
	android:versionCode="6"

	android:versionName="2.2.3a5">

	<uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="Dcoin" android:theme="@android:style/Theme.NoTitleBar">

        <activity android:name="org.golang.app.GoNativeActivity"
            android:label="Dcoin"
            android:configChanges="orientation|keyboardHidden">
            <meta-data android:name="android.app.lib_name" android:value="dcoin" />
        </activity>

		<activity android:name="org.golang.app.MainActivity"
				  android:label="Dcoin"
				  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
				  android:configChanges="orientation|keyboardHidden">
			<meta-data android:name="android.app.lib_name" android:value="dcoin" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="org.golang.app.WViewActivity">

			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />

				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.OPENABLE" />

				<data android:mimeType="*/*" />
			</intent-filter>
		</activity>


	<service android:enabled="true" android:name="org.golang.app.MyService">
	    <intent-filter>
	      <action android:name="org.golang.app.MyService" />
	    </intent-filter>
	</service>

		<protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

	<!--<receiver android:enabled="true" android:name="org.golang.app.BootReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
	</receiver>-->
		
	</application>
</manifest>
