@font-face {
    font-family: 'PFSquareSansPro-Light';
    src: url('../fonts/PFSquareSansPro-Light.eot');
    src: url('../fonts/PFSquareSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Light.woff2') format('woff2'),
         url('../fonts/PFSquareSansPro-Light.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Light.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Light.svg#PFSquareSansPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFSquareSansPro-Regular';
    src: url('../fonts/PFSquareSansPro-Regular.eot');
    src: url('../fonts/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Regular.woff2') format('woff2'),
         url('../fonts/PFSquareSansPro-Regular.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Regular.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFSquareSansPro-Medium';
    src: url('../fonts/PFSquareSansPro-Medium.eot');
    src: url('../fonts/PFSquareSansPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Medium.woff2') format('woff2'),
         url('../fonts/PFSquareSansPro-Medium.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Medium.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Medium.svg#PFSquareSansPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFSquareSansPro-Bold';
    src: url('../fonts/PFSquareSansPro-Bold.eot');
    src: url('../fonts/PFSquareSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Bold.woff2') format('woff2'),
         url('../fonts/PFSquareSansPro-Bold.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Bold.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

$light: 'PFSquareSansPro-Light';
$reg: 'PFSquareSansPro-Regular';
$med: 'PFSquareSansPro-Medium';
$bold: 'PFSquareSansPro-Bold';