@import "colors";
@import "mixins";

$mobile: 768px;
$tablet: 992px;
$desktop: 1516px;

/* Main tags
----------------------------------------- */
* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
}
/* Loader
----------------------------------------- */
.synchronization {
	width:290px;
	margin:0px auto;
	h2 {
		width:100%;
		font-size:24px;
		line-height:30px;
		text-align:center;
		margin-bottom:1rem;
	}
	p {
		width:100%;
		text-align:center;
		&.connections {
			margin-bottom:0.5rem;
			.loader {
				display:inline-block;
				top:1px;
				width:12px;
				height:12px;
				margin-bottom:0px;
				&:before {
					animation: spin 1s infinite linear;
				}
				&:after {
					width:8px;
					height:8px;
					top:2px;
					left:2px;
				}
			}
		}
		&.time {
			font-size:12px;
			line-height:14px;
		}
		&.help {
			font-size:18px;
			margin-bottom:0;
		}
	}
	.block_id {
		width:100%;
		font-size:18px;
		text-align:center;
		margin-bottom:1rem;
		z-index:12;
	}
	.alerts {
		display:none;
	}
	.alert {
		display:flex !important;
		flex-flow:row wrap;
		position:absolute;
		left:1%;
		top:1%;
		width:98%;
		height:98%;
		border-radius: 50%;
		align-items:center;
		align-content:center;
		justify-content:center;
		text-align:center;
		z-index:11;
		&.alert-danger {
			strong {
				display:block;
				width:100%;
			}
		}
		button {
			margin-top:1rem;
		}
	}
	.debug {
		display:none;
		position:relative;
		height:75px;
		background-color:$white;
		margin-bottom:-75px;
		z-index:1;
	}
}
.loader {
	width: 290px;
	height: 290px;
	overflow:hidden;
	position:relative;
	border-radius: 50%;
	margin-bottom:1rem;
	&:before {
		content: "";
		position: absolute;
		left:0px;
		top:0px;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: linear-gradient($blue, $lblue 50%);
		animation: spin 1s infinite cubic-bezier(0.25,0.75,1,0.75);
	}
	&:after {
		content: "";
		position: absolute;
		width:98%;
		height:98%;
		top:1%;
		left:1%;
		background-color: $lgray;
		border-radius: 50%;
	}
	.block_id {
		visibility:hidden;
		position:absolute;
		left:0px;
		bottom:10px;
		font-size:12px;
	}
	.logo {
		position:absolute;
		left:50%;
		top:50%;
		width:60%;
		height:60%;
		margin-left:-30%;
		margin-top:-30%;
		z-index:10;
		.null {
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			background-image:url(../images/D_null.png);
			background-repeat:no-repeat;
			background-position:center top;
			background-size:100% auto;
		}
		.ok {
			position:absolute;
			left:0px;
			bottom:0px;
			width:100%;
			max-height:100%;
			background-image:url(../images/D_ok.png);
			background-repeat:no-repeat;
			background-position:center bottom;
			background-size:100% auto;
		}
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
/* Start
----------------------------------------- */
.start_type {
	width:600px;
	text-align:center;
	margin:0px auto;
	* {
		box-sizing:border-box;
	}
	#standard {
		cursor:pointer;
		display:inline-block;
	}
	#extended {
		cursor:pointer;
		display:inline-block;
		margin-bottom:15px;
	}
	#extended_div {
		margin-top:15px;
	}
	.extended_form {
		text-align:left;
		margin-top:-15px;
		.form-group {
			.control-label {
				padding-left:0px;
				padding-top:7px;
				padding-bottom:7px;
				margin-bottom:15px;
				@include max($mobile) {
					width:100%;
					padding-right:0px;
					padding-top:0px;
					padding-bottom:2px;
					margin-bottom:0px;
				}
			}
			.col-sm-9 {
				padding-left:0px;
				padding-right:0px;
				margin-bottom:15px;
				div {
					input {
						margin-top:15px;
					}
				}
			}
		}
	}
}






























































