@import "fonts";
@import "app/bootstrap";
@import "app/nprogress";
@import "app/icons";
@import "app/app";
@import "cropper";
@import "photoEditor/main";

@import "colors";
@import "mixins";

$mobile: 768px;
$tablet: 992px;
$desktop: 1516px;

/* Main tags
----------------------------------------- */
* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
}
.wrapper {
	background-color: #f5f7fa;
}
b {
	font-family:$med !important;
	font-weight:normal !important;
}
strong {
	font-family:$med !important;
	font-weight:normal !important;
}
.appStart {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color:$white;
    border-radius: 5px;
    z-index: 11;
	span {
		font-family: "PFSquareSansPro-Medium";
		font-size: 30px;
		color: #23b7e5;
	}
}
@keyframes showAppStart {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.showAppStart {
    animation: showAppStart 0.3s;
}
#dl_menu {
	position:absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	@include min($mobile) {
		position:relative;
	}
}
#dl_modal {
	position:relative;
	z-index:1000000;
}
.select2-selection__rendered,
.select2-results__option {
	span {
		position:relative;
		display:block;
		padding-left:25px;
		i {
			position:absolute;
			left:0px;
			top:6px;
			width:16px;
			height:9px;
			background-image:url(../countries/flags.png);
			background-repeat:no-repeat;
			background-position:0px 0px;
		}
		&.virtual {
			text-align:left;
			padding-left:35px;
			i {
				top:0px;
				width:25px;
				height:100%;
				background-position:0px center;
				background-size:25px auto;
			}
		}
		&.state_mm {
			background-image:url(../countries/mm.png);
			background-repeat:no-repeat;
			background-position:25px top;
			background-size:auto 200%;
			text-indent:-100000px;
		}
	}
}
.select2-results__option {
	&.select2-results__option--highlighted {
		span {
			&.state_mm {
				background-position:25px bottom;
			}
		}
	}
}
textarea {
	resize:none;
}
.navbar-brand {
	position:relative;
	.beta {
		position:absolute;
		right:-5px;
		top:3px;
		height:14px;
		border-radius:3px;
		background-color:#f05050;
		font-size:11px;
		color:$white;
		line-height:12px;
		font-weight:bold;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:2px;
	}
}
.tooltipEllipsis {
	position:relative;
	width:75px;
	height:100%;
	background-color:transparent;
	box-shadow:0px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	&.open {
		background-color:$white;
		box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	}
}
.tooltipEllipsisView {
	position:absolute;
	left:-10000px;
	top:-10000px;
	width:200px;
	padding:8px;
	background-color:$white;
	box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	white-space:pre-line;
	word-wrap:break-word;
	text-align:center;
	margin-left:-63px;
	z-index:1000;
	&:before {
		content:'';
		position:absolute;
		left:63px;
		top:-10px;
		width:75px;
		height:10px;
		background-color:$white;
	}
}
#triangles {
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-image:url(../img/bg.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	.controls {
		visibility:hidden;
		position:absolute;
		left:-100000px;
		top:-100000px;
		z-index:-1;
	}
}
.brand {
	position:relative;
	overflow:hidden;
	border:0px;
	border-radius:5px;
	box-shadow:0px 5px 15px rgba(0, 0, 0, 0.5);
	padding-top:70px;
	&:before {
		content:'';
		position:absolute;
		left:0px;
		right:0px;
		top:0px;
		height:70px;
		border-bottom:2px solid #cfdbe2;
		border-radius:4px 4px 0px 0px;
		background-color: #23b7e5;
		background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
		background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
		background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
		z-index:100000;
	}
	&:after {
		content:'';
		position:absolute;
		left:0px;
		right:0px;
		top:0px;
		height:70px;
		background-image:url(../img/logo.svg);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:225px 50px;
		z-index:100001;
	}
	.close {
		position:absolute;
		right:15px;
		top:23px;
		z-index:100002;
	}
	.sweet-alert {
		padding-top:87px;
	}
}
.content-heading {
	.pull-right {
		margin-top:-3px;
	}
}
.btn-labeled {
	padding-left:0px;
	padding-right:0px;
	.btn-label {
		left:0px;
	}
}
.two_col {
	@include min($tablet) {
		padding-left:0px;
	}
}
/* Loader
----------------------------------------- */
.synchronization {
	h2 {
		width:100%;
		font-size:24px;
		line-height:30px;
		text-align:center;
		margin-bottom:1rem;
	}
	p {
		width:100%;
		text-align:center;
		&.connections {
			margin-bottom:0.5rem;
			.loader {
				display:inline-block;
				top:1px;
				width:12px;
				height:12px;
				margin-bottom:0px;
				&:before {
					animation: spin 1s infinite linear;
				}
				&:after {
					width:8px;
					height:8px;
					top:2px;
					left:2px;
				}
			}
		}
		&.time {
			font-size:12px;
			line-height:14px;
		}
		&.help {
			font-size:18px;
			margin-bottom:0;
		}
	}
	.block_id {
		width:100%;
		font-size:18px;
		text-align:center;
		margin-bottom:1rem;
		z-index:12;
	}
	.alerts {
		display:none;
		position:static;
		top:0px;
		left:0px;
		width:auto;
		right:0px;
	}
	.alert {
		display:flex !important;
		flex-flow:row wrap;
		position:absolute;
		left:1%;
		top:1%;
		width:98%;
		height:98%;
		border-radius: 50%;
		align-items:center;
		align-content:center;
		justify-content:center;
		text-align:center;
		z-index:11;
		&.alert-danger {
			strong {
				display:block;
				width:100%;
			}
		}
		button {
			margin-top:1rem;
		}
	}
	.debug {
		display:none;
		position:relative;
		height:75px;
		background-color:$white;
		margin-bottom:-75px;
		z-index:1;
	}
}
.loader {
	width: 290px;
	height: 290px;
	overflow:hidden;
	position:relative;
	border-radius: 50%;
	margin:0px auto;
	margin-bottom:1rem;
	&:before {
		content: "";
		position: absolute;
		left:0px;
		top:0px;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: linear-gradient($blue, $lblue 50%);
		animation: spin 1s infinite cubic-bezier(0.25,0.75,1,0.75);
	}
	&:after {
		content: "";
		position: absolute;
		width:284px;
		height:284px;
		top:3px;
		left:3px;
		background-color: $lgray;
		border-radius: 50%;
	}
	.block_id {
		visibility:hidden;
		position:absolute;
		left:0px;
		bottom:10px;
		font-size:12px;
	}
	.logo {
		position:absolute;
		left:50%;
		top:50%;
		width:200px;
		height:196px;
		margin-left:-100px;
		margin-top:-98px;
		z-index:10;
		.null {
			position:absolute;
			left:0px;
			top:0px;
			width:200px;
			height:196px;
			background-image:url(../img/logo_null.svg);
			background-repeat:no-repeat;
			background-position:center top;
			background-size:200px 196px;
		}
		.ok {
			position:absolute;
			left:0px;
			bottom:0px;
			width:200px;
			max-height:196px;
			background-image:url(../img/logo_ok.svg);
			background-repeat:no-repeat;
			background-position:center bottom;
			background-size:200px 196px;
		}
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
/* Start
----------------------------------------- */
.start_type {
	text-align:center;
	* {
		box-sizing:border-box;
	}
	#standard {
		cursor:pointer;
		display:inline-block;
	}
	#extended {
		cursor:pointer;
		display:inline-block;
		margin-bottom:15px;
	}
	#extended_div {
		margin-top:15px;
	}
	.extended_form {
		text-align:left;
	}
	h1 {
		color:#9c9d9d;
	}
	fieldset {
		position:relative;
		padding-bottom:0px;
	}
	.form-group {
		&:last-of-type {
			margin-bottom:0px;
			.control-label {
				margin-bottom:0px;
			}
			.col-sm-9 {
				margin-bottom:0px;
			}
		}
		.control-label {
			text-align:left;
			padding-left:0px;
			padding-top:7px;
			padding-bottom:7px;
			margin-bottom:15px;
			@include max($mobile) {
				width:100%;
				padding-right:0px;
				padding-top:0px;
				padding-bottom:2px;
				margin-bottom:0px;
			}
		}
		.col-sm-9 {
			padding-left:0px;
			padding-right:0px;
			margin-bottom:15px;
			div {
				input {
					margin-top:15px;
				}
			}
		}
	}
}
.start_form {
	text-align:center;
	* {
		box-sizing:border-box;
	}
	h1 {
		color:#9c9d9d;
	}
	fieldset {
		position:relative;
		padding-bottom:0px;
	}
	.form-group {
		&:last-of-type {
			margin-bottom:0px;
			.control-label {
				margin-bottom:0px;
			}
			.col-sm-9 {
				margin-bottom:0px;
			}
		}
		.control-label {
			text-align:left;
			padding-left:0px;
			padding-top:7px;
			padding-bottom:7px;
			margin-bottom:15px;
			@include max($mobile) {
				width:100%;
				padding-right:0px;
				padding-top:0px;
				padding-bottom:2px;
				margin-bottom:0px;
			}
		}
		.col-sm-9 {
			padding-left:0px;
			padding-right:0px;
			margin-bottom:15px;
			div {
				input {
					margin-top:15px;
				}
			}
		}
	}
}
.addRow {
	opacity:1;
	animation-play-state:running;
	animation:show 0.3s;
}
@keyframes show {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
.df {
	@include min($tablet) {
		display:flex;
		flex-flow:row nowrap;
		align-items:stretch;
	}
}
.f100 {
	@include min($tablet) {
		flex:1 100%;
	}
}
/* Map
----------------------------------------- */
.map {
	&.wrapper {
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:stretch;
		align-content:stretch;
		& > section {
			flex:1;
			display:flex;
			height:100%;
			min-height:100%;
			padding-top:55px;
			margin-top:0px !important;
			@include max($mobile) {
				padding-top:114px;
			}
		}
		.content-wrapper {
			position:relative;
			display:flex;
			flex-direction:column;
			justify-content:flex-start;
			align-items:stretch;
			align-content:stretch;
		}
		.map_canvas,
		.avatar {
			position:relative;
			flex:1;
			display:flex;
			flex-direction:row;
			justify-content:flex-start;
			align-items:stretch;
			align-content:stretch;
		}
		#map_canvas,
		.avatar_container {
			flex:1;
			min-height:505px;
			@include max($mobile) {
				min-height:336px;
			}
		}
	}
}
/* Text Editor
----------------------------------------- */
.textEditor, .textEditorMenu {
	min-height:100px;
}



























































