/* compiler is working */
body {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 210px !important;
  -webkit-transition: margin 500ms ease;
  -moz-transition: margin 500ms ease;
  -ms-transition: margin 500ms ease;
  -o-transition: margin 500ms ease;
  transition: margin 500ms ease; }

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed; } }

.navbar-inverse .brand {
  width: 180px;
  color: #fff; }

.brand img {
  float: left;
  margin: 2px 10px 0 0; }

.brand .label {
  position: relative;
  left: 10px;
  top: -3px;
  font-weight: normal;
  font-size: 9px;
  background: #666;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7); }

.edit .demo {
  margin-left: 0px;
  margin-top: 10px;
  padding: 30px 15px 15px;
  border-radius: 4px;
  position: relative;
  word-wrap: break-word; }

.edit .demo:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Container";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px; }

.sidebar-nav {
  position: fixed;
  width: 210px;
  left: 0px;
  bottom: 0;
  top: 44px;
  background: #464646;
  padding: 9px 0;
  z-index: 10;
  overflow: auto;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.sidebar-nav .nav-header {
  cursor: pointer;
  font-size: 14px;
  color: #fff; }

.sidebar-nav .nav-header span.label {
  font-size: 10px;
  /*padding-bottom:0;*/
  position: relative;
  top: -1px; }

.sidebar-nav .nav-header .popover {
  color: #999;
  text-shadow: none; }

.popover-info {
  position: relative; }

.popover-info .popover {
  display: none;
  top: -12.5px;
  left: 15px; }

.popover-info:hover .popover {
  display: block;
  opacity: 1;
  width: 400px; }

.popover-info:hover .popover .arrow {
  top: 23px; }

.sidebar-nav .accordion-group {
  border: none; }

.sidebar-nav li {
  line-height: 25px; }

.sidebar-nav .box {
  line-height: 25px;
  width: 170px;
  height: 25px; }

.sidebar-nav .preview {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 22px; }

.sidebar-nav .preview input {
  width: 105px;
  padding: 0 10px;
  font-size: 10px;
  line-height: 20px;
  height: 20px;
  position: relative;
  top: -1px;
  border: 0; }

.sidebar-nav .boxes {
  display: none; }

.demo .preview {
  display: none; }

.demo .box .view {
  display: block;
  padding-top: 30px; }

.ui-draggable-dragging .view {
  display: block; }

/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible; border-radius: 4px; }*/
.ui-sortable-placeholder {
  outline: 1px dashed #ddd;
  visibility: visible;
  border-radius: 4px; }

.edit .drag {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }

.box, .lyrow {
  position: relative; }

.edit .demo .lyrow .drag {
  top: 5px;
  right: 80px;
  z-index: 10; }

.edit .demo .column .box .drag {
  top: 5px; }

.edit .demo .column .box .configuration {
  position: absolute;
  top: 3px;
  right: 140px;
  white-space: nowrap; }

.edit .demo .remove {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  color: #fff; }

.demo .configuration {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.demo .drag, .demo .remove {
  filter: alpha(opacity=20);
  opacity: 0.2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.demo .lyrow:hover > .drag,
.demo .lyrow:hover > .configuration,
.demo .lyrow:hover > .remove,
.demo .box:hover .drag,
.demo .box:hover .configuration,
.demo .box:hover .remove {
  filter: alpha(opacity=100);
  opacity: 1; }

.edit .demo .row-fluid:before {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Row";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  line-height: 2;
  padding: 3px 7px;
  position: absolute;
  top: -1px; }

.demo .row-fluid {
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
  padding: 25px  14px 0; }

.edit .column:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Column";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px; }

.column {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 24px;
  position: relative; }

/* preview */
body.devpreview {
  margin-left: 0px; }

.devpreview .sidebar-nav {
  left: -210px;
  -webkit-transition: all 0ms ease;
  -moz-transition: all 0ms ease;
  -ms-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease; }

.devpreview .drag, .devpreview .configuration, .devpreview .remove {
  display: none; }

.sourcepreview .column, .sourcepreview .row-fluid, .sourcepreview .demo .box {
  margin: 0px 0;
  padding: 0px;
  background: none;
  border: none;
  -webkit-box-shadow: inset 0 0px 0px transparent;
  -moz-box-shadow: inset 0 0px 0px transparent;
  box-shadow: inset 0 0px 0px transparent; }

.devpreview .demo .box, .devpreview .demo .row-fluid {
  padding-top: 0;
  background: none; }

.devpreview .demo .column {
  padding-top: 19px;
  padding-bottom: 19px; }

#download-layout {
  display: none; }

#editorModal textarea,
#downloadModal textarea {
  width: 100%;
  height: 280px;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#editorModal {
  width: 640px; }

a.language-selected {
  font-style: italic;
  font-weight: bold; }

.toolbox-reset {
  background: inherit;
  color: inherit;
  display: inherit;
  line-height: inherit;
  margin: inherit;
  padding: inherit;
  -webkit-text-size-adjust: inherit;
  -ms-text-size-adjust: inherit; }
  .toolbox-reset .collapse {
    display: block; }
  .toolbox-reset .modal {
    left: inherit; }
  .toolbox-reset .box i {
    color: inherit;
    border: inherit;
    font-size: inherit;
    padding: inherit; }

/*
 * Stuff we've deleted that comes from the bootstrap-combined.css file
 */
.toolbox-reset .modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none; }

.toolbox-reset .modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%; }

.toolbox-reset .modal.fade.in {
  top: 10%;
  display: inherit !important; }

.toolbox-reset .sidebar-nav .view {
  display: none; }

.toolbox-reset .sidebar-nav .remove,
.toolbox-reset .sidebar-nav .configuration {
  display: none; }

.toolbox-reset .accordion {
  margin-bottom: 20px; }

.toolbox-reset .accordion-group {
  margin-bottom: 2px; }

.toolbox-reset .accordion-heading {
  border-bottom: 0; }

.toolbox-reset .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px; }

.toolbox-reset .accordion-toggle {
  cursor: pointer; }

.toolbox-reset .accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5; }

.toolbox-reset .nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none; }

.toolbox-reset .nav > li > a {
  display: block; }

.toolbox-reset .nav > li > a:hover, .toolbox-reset .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.toolbox-reset .nav > li > a > img {
  max-width: none; }

.toolbox-reset .nav > .pull-right {
  float: right; }

.toolbox-reset .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase; }

.toolbox-reset .nav li + .nav-header {
  margin-top: 9px; }

.toolbox-reset .nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0; }

.toolbox-reset .nav-list > li > a, .toolbox-reset .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px; }

.toolbox-reset .nav-list > li > a {
  padding: 3px 15px; }

.toolbox-reset .nav-list > .active > a, .toolbox-reset .nav-list > .active > a:hover, .toolbox-reset .nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc; }

.toolbox-reset .nav-list [class^="icon-"], .toolbox-reset .nav-list [class*=" icon-"] {
  margin-right: 2px; }

.toolbox-reset .nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff; }

.toolbox-reset .nav-tabs, .toolbox-reset .nav-pills {
  *zoom: 1; }

.toolbox-reset .nav-tabs:before, .toolbox-reset .nav-pills:before, .toolbox-reset .nav-tabs:after, .toolbox-reset .nav-pills:after {
  display: table;
  content: "";
  line-height: 0; }

.toolbox-reset .nav-tabs:after, .toolbox-reset .nav-pills:after {
  clear: both; }

.toolbox-reset .nav-tabs > li, .toolbox-reset .nav-pills > li {
  float: left; }

.toolbox-reset .nav-tabs > li > a, .toolbox-reset .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

.toolbox-reset .nav-tabs {
  border-bottom: 1px solid #ddd; }

.toolbox-reset .nav-tabs > li {
  margin-bottom: -1px; }

.toolbox-reset .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.toolbox-reset .nav-tabs > li > a:hover, .toolbox-reset .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd; }

.toolbox-reset .nav-tabs > .active > a, .toolbox-reset .nav-tabs > .active > a:hover, .toolbox-reset .nav-tabs > .active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default; }

.toolbox-reset .nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.toolbox-reset .nav-pills > .active > a, .toolbox-reset .nav-pills > .active > a:hover, .toolbox-reset .nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc; }

.toolbox-reset .nav-stacked > li {
  float: none; }

.toolbox-reset .nav-stacked > li > a {
  margin-right: 0; }

.toolbox-reset .nav-tabs.nav-stacked {
  border-bottom: 0; }

.toolbox-reset .nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.toolbox-reset .nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px; }

.toolbox-reset .nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

.toolbox-reset .nav-tabs.nav-stacked > li > a:hover, .toolbox-reset .nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2; }

.toolbox-reset .nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

.toolbox-reset .nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

.toolbox-reset .nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

.toolbox-reset .nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.toolbox-reset .nav .dropdown-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px; }

.toolbox-reset .nav .dropdown-toggle:hover .caret, .toolbox-reset .nav .dropdown-toggle:focus .caret {
  border-top-color: #005580;
  border-bottom-color: #005580; }

.toolbox-reset .nav-tabs .dropdown-toggle .caret {
  margin-top: 8px; }

.toolbox-reset .nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff; }

.toolbox-reset .nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555; }

.toolbox-reset .nav > .dropdown.active > a:hover, .toolbox-reset .nav > .dropdown.active > a:focus {
  cursor: pointer; }

.toolbox-reset .nav-tabs .open .dropdown-toggle, .toolbox-reset .nav-pills .open .dropdown-toggle, .toolbox-reset .nav > li.dropdown.open.active > a:hover, .toolbox-reset .nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999; }

.toolbox-reset .nav li.dropdown.open .caret, .toolbox-reset .nav li.dropdown.open.active .caret, .toolbox-reset .nav li.dropdown.open a:hover .caret, .toolbox-reset .nav li.dropdown.open a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100); }

.toolbox-reset .label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999; }

.toolbox-reset .label:empty,
.toolbox-reset .badge:empty {
  display: none; }

.toolbox-reset a.label:hover,
.toolbox-reset a.label:focus,
.toolbox-reset a.badge:hover,
.toolbox-reset a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

.toolbox-reset .label-important, .toolbox-reset .badge-important {
  background-color: #b94a48;
  color: #fff; }

.toolbox-reset .label-important[href], .toolbox-reset .badge-important[href] {
  background-color: #953b39; }

.toolbox-reset .label-warning, .toolbox-reset .badge-warning {
  background-color: #f89406; }

.toolbox-reset .label-warning[href], .toolbox-reset .badge-warning[href] {
  background-color: #c67605; }

.toolbox-reset .label-success, .toolbox-reset .badge-success {
  background-color: #468847; }

.toolbox-reset .label-success[href], .toolbox-reset .badge-success[href] {
  background-color: #356635; }

.toolbox-reset .label-info, .toolbox-reset .badge-info {
  background-color: #3a87ad; }

.toolbox-reset .label-info[href], .toolbox-reset .badge-info[href] {
  background-color: #2d6987; }

.toolbox-reset .label-inverse, .toolbox-reset .badge-inverse {
  background-color: #333333; }

.toolbox-reset .label-inverse[href], .toolbox-reset .badge-inverse[href] {
  background-color: #1a1a1a; }

.toolbox-reset .btn .label, .toolbox-reset .btn .badge {
  position: relative;
  top: -1px; }

.toolbox-reset .btn-mini [class^="icon-"], .toolbox-reset .btn-mini [class*=" icon-"] {
  margin-top: -1px; }

.toolbox-reset .btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#MD {
  width: 992px; }

#SM {
  width: 768px; }

#XS {
  width: 480px; }

#LG {
  width: 100%; }
