<script>
 	var serverTime;
	var accountId;
	var pubkey;
	
	function reload_accounts() {
		load_page('accounts');
	}

	$('#send').bind('click', function () {
		do_generate();
		pubkey = $("#pubkey").val();
		if (pubkey.length > 128) {
			pubkey = pubkey.substr( pubkey.length - 128);
		}
		$.get( 'ajax?controllerName=GetServerTime&pub='+pubkey, function (data) {
			serverTime = data.time;
			accountId = data.account;
			$("#for-signature").val('{{.TxTypeId}},'+serverTime+','+accountId+',{{.Data.StateId}},' + pubkey );
			var prev = GKey.Private;
			GKey.Private = $("#prvkey").val();
			//console.log('GETTIME', GKey.Private, prev);
			doSign();
			GKey.Private = prev;
			$("#send_to_net").trigger("click");
		}, "json" );
	} );
	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.Data.CitizenId}}',
				'accountId' : accountId,
				'pubkey': pubkey,
				'prvkey': encryptShared(GKey.Public, $("#prvkey").val()),
				'stateId' : '{{.Data.StateId}}',
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data, reload_accounts) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );

</script>
	<div class="content-heading">
		Accounts
	</div>

	<div class="form">
		<!-- START panel-->
		<div class="panel panel-default" data-sweet-alert>
		 <div class="panel-body">
			   <div class="table-responsive">
		   <table class="table table-striped table-bordered table-hover">
			  <thead>
				 <tr>
					<th>Address</th>
					<th>Balance ({{.Currency}})</th>
				 </tr>
			  </thead>
			  <tbody>
			  {{ range .List }}
				 <tr>
					 <td><strong>{{.Address}}</strong></td>
					 <td><strong>{{.Amount}}</strong></td>
				 </tr>
			  {{end}}
			  </tbody>
		   </table>
			</div>
		 </div>

		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-left">
				<input id="prvkey" type="hidden" value="">
				<input id="pubkey" type="hidden" value="">
				 <button type="button" id="send" class="btn btn-primary" 
                 data-tool="panel-refresh" onClick="preloader(this);">Create new account</button>
			  </div>
		   </div>
		  </div>
		</div>

{{template "signatures".}}
