{{ define "anonymMoneyTransfer" }}

<script>
	var serverTime;
	var balance = {{.Amount}} / qDLT;
	var commission = {{.Commission}} / qDLT;
	$("#commission").val(commission);
	
	$(".aside .nav li").removeClass("active");
	$(".anonym, .anonym_money_transfer").addClass("active");
	
	function TransferOK() {
		dl_navigate0('dashboardAnonym');
	}
	
	$("#walletAddress").prop("autocomplete", "off").inputmask({mask: "9999-9999-9999-9999-9999", autoUnmask: true }).focus();
	$("#walletAddress").typeahead({
		minLength: 1,
		items: 10,
		source: function (query, process) {
			return $.get('ajax?json=ajax_addresses', { 'address': query, 'state': 0 }, function (data) {
				return process(data.address);
			});
		}
	});
	
	$("#next").bind('click', function () {
		$(".form-control").blur().each(function() {
			var id = $(this).attr("id");
			var val = $(this).val();
			
			if (id === "comment") {
				if (val) {
					$("#isComment").show();
				} else {
					$("#isComment").hide();
				}
			}
			
			$("[data-confirm=" + id + "]").text(val);
		});
		$("#next").prop("disabled", true);
		$("#send").prop("disabled", false);
		$("#Transfer").hide();
		$("#ConfirmTransfer").show();
	});
	
	$("#cancel").bind('click', function () {
		$("#next").prop("disabled", false);
		$("#send").prop("disabled", true);
		$("#Transfer").show();
		$("#ConfirmTransfer").hide();
	});
	
	$('#send').bind('click', function () {
		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val( '{{.TxTypeId}},'+serverTime+',{{.WalletId}},'+$('#walletAddress').val()+','+parseFloat($('#amount').val()) * qDLT+','+parseFloat($('#commission').val()) * qDLT+','+$('#comment').val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	});

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'walletId' : '{{.WalletId}}',
				'citizenId' : '0',
				'walletAddress' : $('#walletAddress').val(),
				'amount' : parseFloat($('#amount').val()) * qDLT,
				'commission' : parseFloat($('#commission').val()) * qDLT,
				'comment' : $('#comment').val(),
				'pubkey' : GKey.Public,
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				send_to_net_success(data, TransferOK);
			},
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	});	
</script>

<div class="content-heading">
   Money transfer
</div>
<!-- START panel-->
<div id="Transfer" class="panel panel-default keyCode_13" data-sweet-alert style="max-width:400px;">
 <div class="panel-body">
	<form id="anonymMoneyTransfer">
	   <div class="form-group">
		   <label class="control-label" for="walletAddress">Wallet address <strong class="text-danger">*</strong></label>
		   <input type="text" class="form-control" id="walletAddress" data-type="wallet">
		   <ul class="parsley-errors-list">
		       <li class="parsley-required">Please enter correct wallet addres</li>
		   </ul>
	   </div>
	   <div class="form-group">
		   <label class="control-label" for="amount">Amount <strong class="text-danger">*</strong></label>
		   <input type="text" class="form-control" id="amount">
		   <ul class="parsley-errors-list">
		       <li class="parsley-required amount"></li>
		   </ul>
	   </div>
	   <div class="form-group">
		   <label class="control-label" for="comment">Comment</label>
		   <input type="text" class="form-control" id="comment">
	   </div>
	   <div class="form-group">
		   <label class="control-label" for="commission">Commission <strong class="text-danger">*</strong></label>
		   <input type="text" class="form-control" id="commission" disabled="">
	   </div>
	</form>
 </div>
 <div class="panel-footer">
   <div class="clearfix">
	  <div class="pull-right">
		 <button type="button" class="submit btn btn-primary" id="next" disabled>Send</button>
	  </div>
   </div>
  </div>
</div>
<!-- END panel-->
<!-- START panel-->
<div id="ConfirmTransfer" class="panel panel-default keyCode_13" data-sweet-alert style="display:none; max-width:400px;">
 <div class="panel-body">
	<form>
	   <div class="form-group">
		   <label class="control-label">Wallet address</label>
		   <p class="form-control-static" data-confirm="walletAddress"></p>
	   </div>
	   <div class="form-group">
		   <label class="control-label">Amount</label>
		   <p class="form-control-static" data-confirm="amount"></p>
	   </div>
	   <div id="isComment" class="form-group">
		   <label class="control-label">Comment</label>
		   <p class="form-control-static" data-confirm="comment"></p>
	   </div>
	   <div class="form-group">
		   <label class="control-label">Commission</label>
		   <p class="form-control-static" data-confirm="commission"></p>
	   </div>
	</form>
 </div>
 <div class="panel-footer">
   <div class="clearfix">
	  <div class="pull-left">
		 <button type="button" class="btn btn-default" id="cancel">Cancel</button>
	  </div>
	  <div class="pull-right">
		 <button type="button" class="submit btn btn-primary" data-tool="panel-refresh" onClick="preloader(this);" id="send" disabled>Send</button>
	  </div>
   </div>
  </div>
</div>
<!-- END panel-->

<script>
function getDecimal(num) {
	var str = "" + num;
	var zeroPos = str.indexOf(".");
	if (zeroPos == -1) return 0;
	str = str.slice(zeroPos);
	return +str;
}
function floorFigure(figure, decimals){
    if (!decimals) decimals = 2;
    var d = Math.pow(10,decimals);
    return (parseInt(figure*d)/d).toFixed(decimals);
};

var wal = /[_-]/g;
var reg = /[^\d\.]/g;

$("#anonymMoneyTransfer").on('input', function () {
	var wallet = $("#walletAddress");
	var amount = $("#amount");
	var i = 0;
	
	if (wallet.val().replace(wal, "").length === 20) {
		wallet.removeClass("parsley-error");
		wallet.next(".parsley-errors-list").removeClass("filled");
		i += 1;
	}
	
	if (amount.val() === ".") {
		amount.val("0.");
	}
	
	var str = amount.val().replace(reg, "");
	
	if (str.indexOf(".") !== -1) {
		if (str.match(/\./g).length > 1) {
			str = str.substr(0, str.lastIndexOf("."));
		}
	}
	
	amount.val(str);
	
	if (!amount.val() || parseFloat(amount.val()) < 0.00001 || parseFloat(amount.val()) > 100000000) {
		if (amount.val()) {
			amount.addClass("parsley-error");
			amount.next(".parsley-errors-list").addClass("filled");
			amount.next(".parsley-errors-list").find(".amount").text("Amount should be from 0.00001 to 100000000");
		} else {
			amount.removeClass("parsley-error");
			amount.next(".parsley-errors-list").removeClass("filled");
		}
	} else {
		if (parseFloat(amount.val()) + commission > balance) {
			amount.addClass("parsley-error");
			amount.next(".parsley-errors-list").addClass("filled");
			amount.next(".parsley-errors-list").find(".amount").text("You don't have that much.");
			$("#next").prop("disabled", true);
			return false;
		}
		var val = Number(amount.val());
		var decimal = Number(floorFigure(val, 5));
		
		if (getDecimal(val).toString().length > 7) {
			amount.val(decimal);
			return false;
		}
		
		amount.removeClass("parsley-error");
		amount.next(".parsley-errors-list").removeClass("filled");
		i += 1;
	}
	
	if (i == 2) {
		$("#next").prop("disabled", false);
	} else {
		$("#next").prop("disabled", true);
	}
})

$(document).on('keydown', function(e){
	if (e.keyCode == 8 && $("#ConfirmTransfer:visible").length) {
		$("#cancel").click();
		return false;
	}
});
</script>

{{template "signatures".}}

{{end}}