{{ define "anonymMoneyTransfer" }}

<script>
	var interval;
	
	clearInterval(interval);
	
	$(".aside .nav li").removeClass("active");
	$(".anonym, .anonym_money_transfer").addClass("active");
	
	$( "#dl_modal" ).load( "content?controllerHTML=modal_anonym", { }, function() {});

	$('#next').bind('click', function () {
		$("#for-signature").val( '{{.TxTypeId}},{{.TimeNow}},{{.WalletId}},'+$('#walletAddress').val()+','+$('#amount').val()+','+$('#commission').val()+','+$('#comment').val());
		doSign();
		$("#send_to_net").trigger("click");
	} );

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'type' : '{{.TxType}}',
				'time' : '{{.TimeNow}}',
				'walletId' : '{{.WalletId}}',
				'citizenId' : '{{.CitizenId}}',
				'walletAddress' : $('#walletAddress').val(),
				'amount' : parseFloat($('#amount').val()) * 100000,
				'commission' : parseFloat($('#commission').val()) * 100000,
				'comment' : $('#comment').val(),
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data){
				//dl_navigate ('dashboardAnonym', {'alert': '{{.Lang.sent_to_the_net}}'} );
				console.log("saveQueue tx hash", data.hash);
				
				if (typeof data.error != "undefined") {
					Alert("Error", data.error, "error");
				} else {
					interval = setInterval(function() {
						$.ajax({
							type: 'POST',
							url: 'ajax?controllerName=txStatus',
							data: {
								'hash': data.hash
							},
							dataType: 'json',
							crossDomain: true,
							success: function(data){
								
								if (typeof data.wait != "undefined") {
									console.log("txStatus", data);
								} else if (typeof data.eror != "undefined") {
									Alert("Error", error, "error");
								} else {
									clearInterval(interval);
									Alert({{.Lang.sent_to_the_net}}, "", "success");
								}
							},
							error: function(xhr, status, error) {
								clearInterval(interval);
								Alert("Error Money transfer", error, "error");
							},
						});
					}, 1000)
				}
			},
			error: function(xhr, status, error) {
				Alert("Error Money transfer", error, "error");
			}
		});
	} );

</script>

<div class="content-heading">
   Anonym
</div>
<ol class="breadcrumb">
   <li><a href="#" onclick="dl_navigate0('dashboardAnonym')">Dashboard</a></li>
   <li class="active">Money transfer</li>
</ol>
<!-- START panel-->
<div class="panel panel-default" data-sweet-alert style="max-width:400px;">
 <div class="panel-body">
	<form role="form">
	   <div class="form-group">
		   <label>Wallet address</label>
		   <input type="text" placeholder="Enter wallet address" class="form-control" id="walletAddress">
	   </div>
	   <div class="form-group">
		   <label>Amount</label>
		   <input type="text" placeholder="Enter Amount" class="form-control" id="amount">
	   </div>
	   <div class="form-group">
		   <label>Comment</label>
		   <input type="text" placeholder="Enter Comment" class="form-control" id="comment">
	   </div>
	   <div class="form-group">
		   <label>Commission</label>
		   <input type="text" placeholder="0.01" class="form-control" id="commission" value="0.01" disabled="" placeholder="Disabled">
	   </div>
	   <button type="button" class="btn btn-green" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);" id="next">Send</button>
	</form>
 </div>
</div>
<!-- END panel-->

{{template "signatures".}}


{{end}}