<style>
	@media only screen and (min-width: 768px) {
		.row {
			margin-right: -5px;
		}
		.row .menu {
			padding-right: 5px;
		}
	}
	
	.panel.panel-default {
		overflow: hidden;
		border-top-width: 1px;
	}
	
	.widget .lateral-picture {
		height: 280px;
	}
</style>

<div class="content-heading">
	<span class="lang" lang-id="application_list"></span>
</div>
<div class="row">
	{{range .List}}
	<div class="col-md-4">
		<div class="panel panel-default elastic">
			<div class="panel-body text-center fill-area flexbox-item-grow">
				<div class="flexbox-item-grow flex-center">
					<div class="pv-lg">
						<img src="{{.Img}}" alt="Contact" class="center-block img-responsive img-circle img-thumbnail thumb96">
					</div>
					<h4>{{.Title}}</h4>
					<p class="text-left">{{.Desc}}</p>
				</div>
			</div>
			<div class="panel-footer">
				<div class="clearfix">
					<div class="pull-right">
						{{if .Done}}
							<strong>Installed</strong>
						{{else}}
							<a href="#" onclick="load_app('{{.Name}}');" type="button" class="btn btn-primary lang" lang-id="launch"></a>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{end}}
</div>