<div class="content-heading" id="apptitle"></div>
<ol class="breadcrumb">
	<li><a href="#" onclick="load_page('app_catalog')" class="lang" lang-id="application_list"></a></li>
</ol>
<div class="panel panel-warning" data-sweet-alert>
	<div class="panel-heading">
		<div class="panel-title lang" lang-id="donot_leave_page"></div>
	</div>
	<div class="panel-body">
		<!--<h1 id="head"></h1>-->
		<p id="desc"></p>
		<div class="well" style="margin-bottom:0px; margin-top:15px; background-color:#f5f5f5;">
			<!--<div style="font-size: 1.5em;font-weight:bold;" class="lang" lang-id="donot_leave_page"></div>-->
			<div id="process" style="font-size: 16px;"><span id="curtx">{{.Data.Proceed}}</span>/<span id="alltx"></span> <span class="lang" lang-id="transactions" style="text-transform:lowercase;"></span></div>
		</div>
		<!--<form role="form">
			<div class="clearfix">
				<div class="pull-left">
					<div style="font-size: 1.5em;font-weight:bold;" class="lang" lang-id="donot_leave_page"></div>
					<div id="process" style="font-size: 16px;"><span id="curtx">0</span>/<span id="alltx"></span> <span class="lang" lang-id="transactions" style="text-transform:lowercase;"></span></div>
				</div>
				<div class="pull-right">
					<button id="send" type="button" class="btn btn-primary lang" data-tool="panel-refresh" onClick="preloader(this);" lang-id="install"></button>
					<button id="sendcontract" type="button" style="display: none;" class="btn btn-primary" data-toolx="panel-refresh" onClickx="preloader(this);">Install Contract</button>
				</div>
			</div>
		</form>-->
	</div>
	<div class="panel-footer">
		<div class="clearfix">
			<div class="pull-right">
				{{if .Data.Done}}
				<strong>Installed</strong>
				{{else}}
				<button id="send" type="button" class="btn btn-primary lang" data-tool="panel-refresh" onClick="preloader(this);" lang-id="install"></button>
				{{end}}
				<button id="sendcontract" type="button" style="display: none;" class="btn btn-primary" data-toolx="panel-refresh" onClickx="preloader(this);">Install Contract</button>
			</div>
		</div>
	</div>
</div>
{{noescape .Template}}
<script language="JavaScript" type="text/javascript">
	var txcurrent = {{.Data.Proceed}};
	var serverTime;
	var predata;


	function SendTxOK( blockid ) {
		var next = txcurrent < jdata.TX.length - 1;
		$.post('ajax?json=ajax_app_process', {name: {{.Page}}, block: blockid, done: next ? 0 : 1},
		     function (data){ 
				 if (data.error && data.error.length> 0 ) { 
				 	console.log('App process', data.error);
				 }
			});
		if (next) {
			$("#tx"+txcurrent).css('background-color', '#32ac8e');
			$("#tx"+txcurrent).html(blockid);
			txcurrent++;	
			$("#curtx").html(txcurrent);
			if ( jdata.TX[txcurrent].Data.type == 'Contract' ) {
				$("#sendcontract").trigger("click");
			} else {
				$("#send").trigger("click");
			}
		} else {
			Alert('Success', 'The application has been successfully installed', 'success', function(){ 
				if (jdata.OnSuccess) {
					var load = load_page
					if (jdata.OnSuccess.script == 'template') 
					load = load_template;
					else if (jdata.OnSuccess.script == 'app') 
					load = load_app;
					load(jdata.OnSuccess.page, jdata.OnSuccess.parameters, undefined, MenuReload);
//					setTimeout( function(){ MenuReload();}, 700);
				}
			});
		}
	}
	
	$('#send').bind('click', function () {
		$("body").addClass("appInstalling");
		$("#send").attr("disabled", true);
		predata = jdata.TX[txcurrent].Data;
		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			fors = jdata.TX[txcurrent].Forsign.split(',');
			forsign = predata.typeid + ',' + serverTime + ',{{.Data.CitizenId}},{{.Data.StateId}},'
			for (i=0;i<fors.length;i++) {
				fors[i] = predata[fors[i]];
			}
			$("#for-signature").val(forsign + fors.join(','));
			doSign();
			predata.time = serverTime;
			predata.citizenId = {{.Data.CitizenId}};
			predata.stateId = {{.Data.StateId}};
			predata.signature1 = $('#signature1').val();

			$("#send_to_net").trigger("click");
		},"json" );
	} );
	$('#send_to_net').bind('click', function () {
		$.ajax({
				type: 'POST',
				url: 'ajax?controllerName=saveQueue',
				data: predata ,
				dataType: 'json',
				crossDomain: true,
				success: function(data) { 
					send_to_net_success(data, SendTxOK, true )},
				error: function(xhr, status, error) {
					Alert(returnLang("error"), error,"error");
				}
		});
	} );						
	var serverTimecontract;
	var predatacontract;

	$('#sendcontract').bind('click', function () {
		$("#sendcontract").attr("disabled", true);
		predatacontract = {
			'TxName' : jdata.TX[txcurrent].Data.name,
		};
		$.get( 'ajax?json=ajax_prepare_tx', predatacontract,
			 function (data) {
				if (data.error.length > 0 ) {
					Alert("Error", data.error, "error");
				} else {
					predatacontract.time = data.time;
					$("#for-signature").val(data.forsign);
					doSign();
					predatacontract.signature1 = $('#signature1').val();
					sendnetcontract();
				}
		}, "json" );
	} );

function sendnetcontract() {
	predatacontract['public'] = GKey.Public;
	$.ajax({
		type: 'POST',
		url: 'ajax?json=ajax_send_tx',
		data: predatacontract,
		dataType: 'json',
		crossDomain: true,
		success: function(result) {
			send_to_net_success(result, SendTxOK, true);
		},
		error: function(xhr, status, error) {
			Alert(returnLang("error"), error, "error");
		}
	});
}

//	$(document).ready( function(){
		$("#apptitle").html( jdata.Head );
		$("#head").html( jdata.Head );
		$("#desc").html( jdata.Desc );
		$("#alltx").html( jdata.TX.length );
		/*var tbl = '<table style="font-size: 12px; border-spacing: 5px;border-collapse: separate;"><tr style="text-align:center;">';
		for (i=0; i< jdata.TX.length; i++ ) {
			tbl += '<td id="tx'+i+'" style="color:#fff;border:2px solid #267F00;width: 6em;padding:0px 1em;">&nbsp;</td>'; 
		}
		$("#process").append(tbl + '</tr></table>');*/
		var tbl = '<div class="installApp">';
		{{range .Data.Blocks}}
			tbl += '<article id="txindex" style="background-color:#32ac8e">{{.}}</article>'; 
		{{end}}

		for (i={{.Data.Proceed}}; i< jdata.TX.length; i++ ) {
			tbl += '<article id="tx'+i+'">&nbsp;</article>'; 
		}
		$("#process").append(tbl + '</div>');
//	});
</script> {{template "signatures".}}