{{define "changeNodeKey"}}
<script>

	var interval;
	var serverTime;

	clearInterval(interval);


	$('#generate_change_node_key').bind('click', function () {

		$.post( 'ajax?controllerName=generateNewNodeKey', function (keys) {
				serverTime = keys.time;
				//$("#generate").css("display", "none");
				//$("#sign").css("display", "block");
				$("#public_key").val( keys.public_key );
				$("#private_key").val( keys.private_key );
				$("#for-signature").val( '{{.TxTypeID}},'+serverTime+',{{.WalletID}},'+$("#public_key").val() );
				doSign();
				$("#send_to_net").trigger("click");

			}, "json" );
	});

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'walletId' : '{{.WalletID}}',
				'citizenId' : '{{.CitizenID}}',
				'publicKey' : $('#public_key').val(),
				'privateKey' : $('#private_key').val(),
				'pubkey' : GKey.Public,
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert(returnLang("error"), error, "error");
			}
		});
	} );

</script>

<div class="content-heading lang" lang-id="change_node_key"></div>
<ol class="breadcrumb">
   <li><a href="#" onclick="dl_navigate0('forging')" class="lang" lang-id="forging"></a></li>
</ol>
{{template "alertSuccess".}}
{{if .NoPublic}}
<div class="alert alert-warning">You don't have rights for changing node key.</div>
{{else}}
<div id="generate" data-sweet-alert>
	<button class="btn btn-danger lang" type="button" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);" id="generate_change_node_key" lang-id="generate_new_node_key"></button>
</div>
{{end}}
{{template "signatures".}}

<input type="hidden" id="public_key">
<input type="hidden" id="private_key">
{{end}}