{{define "changeNodeKey"}}
<script>

	var interval;
	var serverTime;

	clearInterval(interval);


	$('#generate_change_node_key').bind('click', function () {

		$.post( 'ajax?controllerName=generateNewNodeKey', function (keys) {
				serverTime = keys.time;
				//$("#generate").css("display", "none");
				//$("#sign").css("display", "block");
				$("#public_key").val( keys.public_key );
				$("#private_key").val( keys.private_key );
				$("#for-signature").val( '{{.TxTypeId}},'+serverTime+',{{.WalletId}},{{.CitizenId}},'+$("#public_key").val() );
				doSign();
				$("#send_to_net").trigger("click");

			}, "json" );
	});

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'walletId' : '{{.WalletId}}',
				'citizenId' : '{{.CitizenId}}',
				'publicKey' : $('#public_key').val(),
				'privateKey' : $('#private_key').val(),
				'pubkey' : GKey.Public,
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );

</script>

<div class="content-heading">
   {{.Lang.change_node_key_title}}
</div>
<ol class="breadcrumb">
   <li><a href="#" onclick="dl_navigate0('forging')">Forging</a></li>
</ol>
{{template "alertSuccess".}}

<div id="generate" data-sweet-alert>
	<button class="btn btn-danger" type="button" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);" id="generate_change_node_key">{{.Lang.generate_new_node_key}}</button>
</div>

{{template "signatures".}}

<input type="hidden" id="public_key">
<input type="hidden" id="private_key">
{{end}}