<style>
	@media only screen and (min-width: 992px) {
		.info {
			padding-left:0px;
		}
	}
	.info label {
		padding-right:0px;
	}
</style>

<script>
	var predata;
	
	function js_citizen(data) {
		if (data.error.length > 0 ) {
			Alert("Error", data.error, "error");
		} else {
			console.log(data);
			predata.time = data.time;
			$("#for-signature").val(data.forsign);
			doSign();
			predata.signature1 = $('#signature1').val();
			$("#send_to_net").trigger("click");
		}
	}
	
	function js_reject() {
		predata = {
				'TxName' : 'TXRejectCitizen',
				'StateId': {{.Data.StateId}},	
				'RequestId': {{.Values.id}}
			};
		$.get( 'ajax?json=ajax_prepare_tx',  predata,
			 function (data) {
				js_citizen(data);
		}, "json" );
//			load_page('check_citizen_status', {accept: accept, request_id: {{.Values.id}}});
		return false;
	}

	function js_approve() {
		predata = {
			'TxName' : 'TXNewCitizen',
			'StateId': {{.Data.StateId}},	
			'PublicKey': '{{.Values.publicKey}}',
			'RequestId': {{.Values.id}}
		}
		$.get( 'ajax?json=ajax_prepare_tx',  predata,
			 function (data) {
				console.log(data);
				js_citizen(data);
		}, "json" );
/*			$.get( 'ajax?controllerName=GetServerTime', function (data) {
				serverTime = data.time;
				$("#for-signature").val( '{{.TxTypeId}},'+serverTime+',{{.Data.CitizenId}},{{.Data.StateId}}');
				doSign();
				$("#send_to_net").trigger("click");
			}, "json" );*/
		return false;
	}
	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?json=ajax_send_tx',
			data: predata,
			dataType: 'json',
			crossDomain: true,
			success: function(result) {
				console.log('Result', result);
				if ( result.error.length > 0 ) {
					Alert("Error", result.error, "error");
				} else {
					Alert("Success", "", "success");
					load_page('check_citizen_status', {last_id: {{.Values.id}}});
				}
			}
		});
	} );	
	
	$(".aside .nav li").removeClass("active");
	$(".citizen, .check_citizen_status").addClass("active");
	var fields = JSON.parse({{.Values.fields}});
	$(document).ready(function(){
		for (var key in fields)
			$("#"+key).val(fields[key]);
		$("#fullname").html(fields['name'] + ' ' + fields['lastname']);
	});
</script>
{{if ne .Data.CitizenId 0}}
<div class="content-heading">
   Check citizen status
</div>
<ol class="breadcrumb">
   <li><a href="#" onclick="dl_navigate0('dashboardAnonym')">Dashboard</a></li>
   <li class="active">Check citizen status</li>
</ol>
{{if .Values}}
<div class="row df">
   <div class="col-md-4 df">
	  <div class="panel panel-default f100">
		 <div class="panel-body text-center">
			<div class="pv-lg">
			   <img src="static/img/user/02.jpg" alt="Contact" class="center-block img-responsive img-circle img-thumbnail thumb96">
			</div>
			<h3 class="m0 text-bold" id="fullname"></h3>
			<div class="text-center mt-lg">
				<button type="button" class="btn btn-success" data-tool="panel-refresh" onClick="preloader(this);return js_approve();">Accept</button>
				<button type="button" class="btn btn-danger" data-tool="panel-refresh" onClick="preloader(this);return js_reject();">Reject</button>
			</div>
		 </div>
	  </div>
   </div>
   <div class="col-md-8 info">
	  <div class="panel panel-default">
		 <div class="panel-body">
			<div class="pull-right">
			   <div class="btn-group">
				  <button data-toggle="dropdown" class="btn btn-link">
					 <em class="fa fa-ellipsis-v fa-lg text-muted"></em>
				  </button>
				  <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInLeft">
					 <li>
						<a href="#">
						   <span>Action 1</span>
						</a>
					 </li>
					 <li>
						<a href="#">
						   <span>Action 2</span>
						</a>
					 </li>
					 <li>
						<a href="#">
						   <span>Action 3</span>
						</a>
					 </li>
					 <li>
						<a href="#">
						   <span class="text-warning">Action 4</span>
						</a>
					 </li>
				  </ul>
			   </div>
			</div>
			<div class="h4 text-center">Information</div>
			<div class="row pt-lg">
			   <div class="col-lg-12">
				  <form class="form-horizontal">
				    {{range .Fields}}
						{{if ne .HtmlType "file"}}
							<div class="form-group">
								<label class="col-sm-3 control-label">{{.Title}}</label>
								<div class="col-sm-9">
								   <input type="text" id="{{.Name}}" placeholder="" value="{{.Value}}" class="form-control" disabled>
								</div>
							</div>
						{{end}}
					{{end}}
					</form>
				  </div>
			   </div>
			</div>
		 </div>
	</div>
</div>
{{else}}
<p>There is no citisen requests.</p>
{{end}}
{{end}}
{{template "signatures".}}