{{ define "editPage" }}
<style>
	#back {
		margin-left:-15px;
		margin-top:-15px;
		margin-bottom:10px;
	}
	#back span {
		font-size:26px;
	}
</style>

<script>
	var serverTime;
	var menu = null;
	
	$(".aside .nav li").removeClass("active");
	$(".citizen, .citizen_interface").addClass("active");
	
	var editor = ace.edit("textEditor");
	var JavaScriptMode = ace.require("ace/mode/markdown").Mode;
	$(".textEditor code").html(editor.getValue());
	$("#page_value").val(editor.getValue());
	editor.setTheme("ace/theme/chrome");
    editor.session.setMode(new JavaScriptMode());
	editor.setShowPrintMargin(false);
	editor.getSession().setUseWrapMode(true);
	editor.getSession().on('change', function(e) {
		$(".textEditor code").html(editor.getValue());
		$("#page_value").val(editor.getValue());
		editor.resize();
	});
	
	define("hoverlink", [], function(require, exports, module) {
		"use strict";
		
		var oop = require("ace/lib/oop");
		var event = require("ace/lib/event");
		var Range = require("ace/range").Range;
		var EventEmitter = require("ace/lib/event_emitter").EventEmitter;
		
		var HoverLink = function(editor) {
			if (editor.hoverLink)
				return;
			editor.hoverLink = this;
			this.editor = editor;
		
			this.update = this.update.bind(this);
			this.onMouseMove = this.onMouseMove.bind(this);
			this.onMouseOut = this.onMouseOut.bind(this);
			this.onClick = this.onClick.bind(this);
			event.addListener(editor.renderer.scroller, "mousemove", this.onMouseMove);
			event.addListener(editor.renderer.content, "mouseout", this.onMouseOut);
			event.addListener(editor.renderer.content, "click", this.onClick);
		};
		
		(function(){
			oop.implement(this, EventEmitter);
			
			this.token = {};
			this.range = new Range();
		
			this.update = function() {
				this.$timer = null;
				var editor = this.editor;
				var renderer = editor.renderer;
				
				var canvasPos = renderer.scroller.getBoundingClientRect();
				var offset = (this.x + renderer.scrollLeft - canvasPos.left - renderer.$padding) / renderer.characterWidth;
				var row = Math.floor((this.y + renderer.scrollTop - canvasPos.top) / renderer.lineHeight);
				var col = Math.round(offset);
		
				var screenPos = {row: row, column: col, side: offset - col > 0 ? 1 : -1};
				var session = editor.session;
				var docPos = session.screenToDocumentPosition(screenPos.row, screenPos.column);
				
				var selectionRange = editor.selection.getRange();
				if (!selectionRange.isEmpty()) {
					if (selectionRange.start.row <= row && selectionRange.end.row >= row)
						return this.clear();
				}
				
				var line = editor.session.getLine(docPos.row);
				if (docPos.column == line.length) {
					var clippedPos = editor.session.documentToScreenPosition(docPos.row, docPos.column);
					if (clippedPos.column != screenPos.column) {
						return this.clear();
					}
				}
				
				var token = this.findLink(docPos.row, docPos.column);
				this.link = token;
				if (!token) {
					return this.clear();
				}
				this.isOpen = true
				editor.renderer.setCursorStyle("pointer");
				
				session.removeMarker(this.marker);
				
				this.range =  new Range(token.row, token.start, token.row, token.start + token.value.length);
				this.marker = session.addMarker(this.range, "ace_link_marker", "text", true);
			};
			
			this.clear = function() {
				if (this.isOpen) {
					this.editor.session.removeMarker(this.marker);
					this.editor.renderer.setCursorStyle("");
					this.isOpen = false;
				}
			};
			
			this.getMatchAround = function(regExp, string, col) {
				var match;
				regExp.lastIndex = 0;
				string.replace(regExp, function(str) {
					str = str.split(" ");
					str = str[str.length - 1];
					
					var offset = arguments[arguments.length-2] + 10;
					var length = str.length;
					if (offset <= col && offset + length >= col)
						match = {
							start: offset,
							value: str
						};
				});
			
				return match;
			};
			
			this.onClick = function() {
				if (this.link) {
					this.link.editor = this.editor;
					this._signal("open", this.link);
					this.clear()
				}
			};
			
			this.findLink = function(row, column) {
				var editor = this.editor;
				var session = editor.session;
				var line = session.getLine(row);
				
				/*var match = this.getMatchAround(/https?:\/\/[^\s"']+/g, line, column);*/
				var match = this.getMatchAround(/Contract:\s(\w*)/i, line, column);
				if (!match)
					return;
				
				match.row = row;
				return match;
			};
			
			this.onMouseMove = function(e) {
				if (this.editor.$mouseHandler.isMousePressed) {
		
					if (!this.editor.selection.isEmpty())
						this.clear();
					return;
				}
				this.x = e.clientX;
				this.y = e.clientY;
				this.update();
			};
		
			this.onMouseOut = function(e) {
				this.clear();
			};
		
			this.destroy = function() {
				this.onMouseOut();
				event.removeListener(this.editor.renderer.scroller, "mousemove", this.onMouseMove);
				event.removeListener(this.editor.renderer.content, "mouseout", this.onMouseOut);
				delete this.editor.hoverLink;
			};
		
		}).call(HoverLink.prototype);
		
		exports.HoverLink = HoverLink;
	
	});
	
	HoverLink = require("hoverlink").HoverLink
	editor.hoverLink = new HoverLink(editor);
	editor.hoverLink.on("open", function() {
		var ContractName = editor.hoverLink.link.value;
		PageName = $("#page_name_text").text();
		load_page('editContract', {name: ContractName , global: "{{.Global}}" });
	})
	
	function SetMenu() {
		if (!menu) {
			menu = $("#page_menu").val();
		}
		$("#DataMenuBtn").click();
		$.ajax({
			type: 'POST',
			url: 'ajax?json=ajax_get_menu&name=' +  menu + '&global=' + $("#global").val(),
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				$("#DataMenu").html("").append(
					'<div class="form-group">' +
					   '<label>Name</label>' +
					   '<p class="form-control-static">' + data.name + '</p>' +
				   '</div>' +
				   '<div class="form-group">' +
					   '<label>Value</label>' +
					   '<pre class="textEditorMenu">' +
							'<code>' + data.value + '</code>' +
							'<section id="textEditorMenu">' + data.value + '</section>' +
						'</pre>' +
				    '</div>' +
					'<div class="form-group">' +
					   '<label>Conditions</label>' +
					   '<p class="form-control-static">' + data.conditions + '</p>' +
				   '</div>'
				);
				
				var editorView = ace.edit("textEditorMenu");
				var JavaScriptMode = ace.require("ace/mode/markdown").Mode;
				editorView.setTheme("ace/theme/chrome");
				editorView.session.setMode(new JavaScriptMode());
				editorView.setShowPrintMargin(false);
				editorView.getSession().setUseWrapMode(true);
				editorView.renderer.setShowGutter(false);
				editorView.setReadOnly(true);
				
				obj.removeClass("whirl standard");
			},
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	}
	
	function EditMenu() {
		load_page('editMenu', {name: menu, global:{{.Global}}} );
	}
	
	$('#page_menu').select2({
		minimumResultsForSearch: Infinity,
		theme: 'bootstrap'
	});
	
	SetMenu();
	
	$('#page_menu').on('change', function() {
		menu = $(this).val();
		SetMenu();
	});
	
	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeId}},'+serverTime+',{{.CitizenId}},{{.StateId}},'+$("#global").val()+','+$("#page_name").val()+','+$("#page_value").val()+','+$("#page_menu").val()+','+$("#page_conditions").val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );


	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'global' : $("#global").val(),
				'name' : $("#page_name").val(),
				'value' : $("#page_value").val(),
				'menu' : $("#page_menu").val(),
				'conditions' : $("#page_conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenId}}',
				'stateId' : '{{.StateId}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );
	
	$("#back").on('click', function () {
		load_page('interface');
	});
</script>
	<div class="content-heading">
		{{if .DataPage.name}}Edit{{else}}New{{end}} Page
	</div>
	<ol class="breadcrumb">
	   <li><a href='#' onclick="load_page('interface')">Interface</a></li>
	</ol>

<div class="row">
	<div class="col-md-8">
		<!-- START panel-->
		<div class="panel panel-primary" data-sweet-alert>
	
		 <div class="panel-heading">
			<div class="panel-title">
				Page
			</div>
		 </div>
		 <div class="panel-body">
			<form role="form">
				<button type="button" class="btn btn-link" onclick="" id="back" title="Back"><span class="glyphicons glyphicons-arrow-left"></span></button>
			   <div class="form-group">
				   <label>Name</label>
				   {{if .DataPage.name}} <p class="form-control-static" id="page_name_text">{{.DataPage.name}}</p> <input type="hidden" class="form-control" id="page_name" value="{{.DataPage.name}}"> {{else}} <input type="text" class="form-control" id="page_name"> {{end}}
			   </div>
			   <div class="form-group">
				   <label>Value</label>
				   <pre class="textEditor">
						<code></code>
						<section id="textEditor">{{.DataPage.value}}</section>
					</pre>
				   <textarea id="page_value" class="form-control hidden"></textarea>
			   </div>
			   <div class="form-group">
				   <label>Menu</label>
				   <select class="form-control" id="page_menu">
					 {{range $data := .AllMenu }}
						 <option value="{{index $data "name"}}"
							{{if and $data $.DataPage.menu}}
								{{if eq (index $data "name") $.DataPage.menu}}
									selected
								{{end}}
							{{end}}
						 >
						 {{index $data "name"}}
						 </option>
					 {{end}}
					</select>
			   </div>
			   <div class="form-group">
				   <label>Conditions for change</label>
				   <textarea class="form-control" id="page_conditions">{{.DataPage.conditions}}</textarea>
			   </div>
			</form>
		 </div>
		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-left">
				<button type="button" class="btn btn-default" onClick="formatCode();"><i class="fa fa-code fa-fw mr-sm" aria-hidden="true"></i>Format Code</button>
			  </div>
			  <div class="pull-right">
				 <button type="button" class="btn btn-primary" id="send" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);">Save</button>
			  </div>
		   </div>
		  </div>
		</div>
	</div>
	<div class="col-md-4 two_col">
		<div class="panel panel-primary" data-sweet-alert>
			<div class="panel-heading">
				<div class="panel-title">
					Menu
				</div>
			</div>
			<div class="panel-body">
				<form id="DataMenu" role="form"></form>
			</div>
			<div class="panel-footer">
			   <div class="clearfix">
				  <div class="pull-left">
					 <button type="button" class="btn btn-primary" onclick="EditMenu();">edit</button>
					 <button type="button" id="DataMenuBtn" class="hidden" data-tool="panel-refresh" onClick="preloader(this);">edit</button>
				  </div>
			   </div>
		  	</div>
		</div>
		<!-- END panel-->
	</div>
</div>

<input type="hidden" id="global" value="{{.Global}}">

{{template "signatures".}}


{{end}}