{{ define "editStateParameters" }}
<script>
	var serverTime;
	
	$(".aside .nav li").removeClass("active");
	$(".citizen, .citizen_listOfTables").addClass("active");
	
	$('.selectbox').select2({
		minimumResultsForSearch: Infinity,
		theme: 'bootstrap'
	});
	
	$('#send').bind('click', function () {
		var size = $("#value").val().length;
		console.log(size);
		if (size > 102400) {
			var kb = (size / 1024).toFixed(2);
			Alert('Image size should not exceed 100kb.', 'Size your image ' + kb + 'kb', 'error');
		} else {
			$.get( 'ajax?controllerName=GetServerTime', function (data) {
				serverTime = data.time;
				if ($("#name").val()) {
					$("#for-signature").val('{{.TxTypeID}},' + serverTime + ',{{.CitizenID}},{{.StateID}},' + $("#name").val() + ',' + $("#value").val() + ',' + $("#conditions").val());
				} else {
					$("#for-signature").val('{{.TxTypeID}},' + serverTime + ',{{.CitizenID}},{{.StateID}},' + $("#name").val() + ',' + $("#value").val() + ',' + $("#conditions").val());
				}
				doSign();
				$("#send_to_net").trigger("click");
			}, "json" );
		}
	});


	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'name' : $("#name").val(),
				'value' : $("#value").val(),
				'conditions' : $("#conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenID}}',
				'stateId' : '{{.StateID}}',
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				send_to_net_success(data, MenuReload);
			},
			error: function(xhr, status, error) {
				Alert(returnLang("error"), error, "error");
			}
		});
	} );
</script>

	<div class="content-heading">
		{{if .StateParameters.name}}<span class="lang" lang-id="edit_parameter"></span>{{else}}<span class="lang" lang-id="new_parameter"></span>{{end}}
	</div>
	<ol class="breadcrumb">
		<li><a href="#" onclick="load_page('listOfTables')" class="lang" lang-id="list_of_tables"></a></li>
		<li><a href="#" onclick="load_page('stateParameters')" class="lang" lang-id="state_parameters"></a></li>
	</ol>
	<!-- START panel-->
	<div class="panel panel-default" data-sweet-alert>
	 <div class="panel-heading">
	 	<div class="panel-title">
			{{.StateParameters.parameter}}
		</div>
	 </div>
	 <div class="panel-body">
	 	<form role="form">
		   <div class="form-group">
			   <label class="lang" lang-id="name"></label>
			   {{if .StateParameters.name}} <p class="form-control-static">{{.StateParameters.name}}</p> <input type="hidden" class="form-control" id="name" value="{{.StateParameters.name}}"> {{else}} <input type="text" class="form-control" id="name"> {{end}}
		   </div>
		   <div class="form-group">
			   <label class="lang" lang-id="value"></label>

			   {{if .StateParameters.name}}
				   {{if eq .StateParameters.name "state_flag"}}<p><img id="flag" src="{{.StateParameters.value}}">
					<script>
						document.getElementById('flag').setAttribute( 'src', '{{.StateParameters.value}}' );
					</script></p>
				   {{end}}
			   {{end}}

			   <textarea class="form-control" id="value">{{.StateParameters.value}}</textarea>
		   </div>
		   <div class="form-group">
			   <label class="lang" lang-id="conditions_change"></label>
				<textarea class="form-control" id="conditions">{{.StateParameters.conditions}}</textarea>
			   <!--select class="selectbox form-control" id="conditions">
				 {{ range $param := .AllStateParameters }} <option {{if eq (index $.StateParameters "conditions") $param}} selected {{end}}>{{$param}}</option> {{end}}
			   </select-->
		   </div>
		</form>
	 </div>
	 <div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-left">
			  {{if .StateParameters.name}}
				  {{if eq .StateParameters.name "state_flag"}}
					<button type="button" class="btn btn-primary" onClick="openImageEditor('flag', 'value', '2/1', '300', '150');"><i class="fa fa-file-image-o"></i> &nbsp;<span class="lang" lang-id="add_edit_image"></span></button>
				  {{else}}
					<button type="button" class="btn btn-primary" onClick="preloader(this); openMap('value');" id="openMap"><i class="fa fa-map-marker"></i> &nbsp;<span class="lang" lang-id="add_edit_coords"></span></button>
				  {{end}}
			  {{end}}
		  </div>
		  <div class="pull-right">
			  <button type="button" id="send" class="btn btn-primary lang" data-tool="panel-refresh" onClick="preloader(this);" lang-id="send"></button>
		  </div>
	   </div>
	  </div>
	</div>
	</div>

{{template "signatures".}}

{{end}}