{{ define "editStateParameters" }}
<script>
	var serverTime;
	
	$('.selectbox').select2({
		minimumResultsForSearch: Infinity,
		theme: 'bootstrap'
	});
	
	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			if ($("#name").val()) {
				$("#for-signature").val('{{.TxTypeId}},' + serverTime + ',{{.CitizenId}},{{.StateId}},' + $("#name").val() + ',' + $("#value").val() + ',' + $("#conditions").val());
			} else {
				$("#for-signature").val('{{.TxTypeId}},' + serverTime + ',{{.CitizenId}},{{.StateId}},' + $("#name").val() + ',' + $("#value").val() + ',' + $("#conditions").val());
			}
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );


	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'name' : $("#name").val(),
				'value' : $("#value").val(),
				'conditions' : $("#conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenId}}',
				'stateId' : '{{.StateId}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );
</script>

	<div class="content-heading">
		State parameters
	</div>
	<ol class="breadcrumb">
		<li><a href="#" onclick="load_page('listOfTables')">State tables</a></li>
		<li><a href="#" onclick="load_page('stateParameters')">State parameters</a></li>
		<li class="active">{{if .StateParameters.name}}Edit{{else}}New{{end}} parameter</li>
	</ol>
	<!-- START panel-->
	<div class="panel panel-default">
	 <div class="panel-heading">
	 	<div class="panel-title">
			{{.StateParameters.parameter}}
		</div>
	 </div>
	 <div class="panel-body">
	 	<form role="form">
		   <div class="form-group">
			   <label>Name</label>
			   {{if .StateParameters.name}} <p class="form-control-static">{{.StateParameters.name}}</p> <input type="hidden" class="form-control" id="name" value="{{.StateParameters.name}}"> {{else}} <input type="text" class="form-control" id="name"> {{end}}
		   </div>
		   <div class="form-group">
			   <label>Value</label>

			   {{if eq .StateParameters.name "state_flag"}}<img src="data:image/png;base64,{{.StateParameters.value}}">{{end}}

			   <textarea class="form-control" id="value">{{.StateParameters.value}}</textarea>
		   </div>
		   <div class="form-group">
			   <label>Conditions for change</label>
			   <select class="selectbox form-control" id="conditions">
				 {{ range $param := .AllStateParameters }} <option {{if eq (index $.StateParameters "conditions") $param}} selected {{end}}>{{$param}}</option> {{end}}
			   </select>
		   </div>
		</form>
	 </div>
	 <div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-left">

		  </div>
		  <div class="pull-right">
			  <button type="button" id="send" class="btn btn-primary" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);">Send</button>
		  </div>
	   </div>
	  </div>
	</div>
	</div>

{{template "signatures".}}

{{end}}