{{ define "editContract" }}
<style>
	#back {
		margin-left:-15px;
		margin-top:-15px;
		margin-bottom:10px;
	}
	#back span {
		font-size:26px;
	}
	.formConfirm .panel-heading {
		padding-bottom:0px;
		margin-bottom:0px;
	}
	.history {
		display:none;
	}
	.thead {
		width:120px;
		font-weight:bold;
		white-space:nowrap;
	}
</style>

<script>
	var serverTime;
	
	$(".aside .nav li").removeClass("active");
	$(".citizen, .citizen_contracts").addClass("active");
	
	var contractSnippets = [];
	var editor = ace.edit("textEditor");
	var ContractMode = ace.require("ace/mode/c_cpp").Mode;
	ace.require("ace/ext/language_tools");
	$(".textEditor code").html(editor.getValue());
	$("#value").val(editor.getValue());
	editor.setTheme("ace/theme/chrome");
    editor.session.setMode(new ContractMode());
	editor.setShowPrintMargin(false);
	editor.getSession().setTabSize(4);
	editor.getSession().setUseWrapMode(true);
	editor.getSession().on('change', function(e) {
		$(".textEditor code").html(editor.getValue());
		$("#value").val(editor.getValue());
		editor.resize();
	});
	editor.setOptions({
		enableBasicAutocompletion: true,
		enableSnippets: true,
		enableLiveAutocompletion: true
	});
	
	/*$.ajax({
		type: 'POST',
		url: 'static/js/textEditor/snippets/contracts.js',
		success: function(data) {
			contractSnippets = JSON.parse(data);
			
			ace.config.loadModule('ace/ext/language_tools', function () {
				editor.setOptions({
					enableBasicAutocompletion: true,
					enableSnippets: true,
					enableLiveAutocompletion: true
				});
				
				var snippetManager = ace.require("ace/snippets").snippetManager;
				var config = ace.require("ace/config");
				
				ace.config.loadModule("ace/snippets/c_cpp", function(m) {
					if (m) {
						snippetManager.files.xml = m;
						m.snippets = snippetManager.parseSnippetFile(m.snippetText);
						contractSnippets.forEach(function (s) { m.snippets.push(s); });
						snippetManager.register(m.snippets, m.scope);
					}
				});
			});
		}
	});*/
	
	function ShowConfirm() {
		$(".form").hide();
		$(".formConfirm .panel-heading").text($("#name").val());
		$(".formConfirm .textEditorHistory code").html($("#value").val());
		$(".formConfirm").show();
	}
	
	function Edit() {
		load_page('editContract', {name: $("#name").val() , global: "{{.Global}}" });
	}
	
	function Reload() {
		load_page('editContract', {name: {{.Data.name}} , global: "{{.Global}}" });
	}
	
	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			if ($("#id").val()) {
				$("#for-signature").val('{{.TxTypeId}},' + serverTime + ',{{.CitizenId}},{{.StateId}},' + $("#global").val() + ',' + $("#id").val() + ',' + $("#value").val() + ',' + $("#conditions").val());
			} else {
				$("#for-signature").val('{{.TxTypeId}},' + serverTime + ',{{.CitizenId}},{{.StateId}},' + $("#global").val()+','+$("#name").val() + ',' + $("#value").val() + ',' + $("#conditions").val());
			}
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );


	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'global' : $("#global").val(),
				'id' : $("#id").val(),
				'name' : $("#name").val(),
				'value' : $("#value").val(),
				'conditions' : $("#conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenId}}',
				'stateId' : '{{.StateId}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success({{if .Data.name}}data, Reload{{else}}data, ShowConfirm{{end}}) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	});
	
	if (PageName == "") {
		$("#back").hide();
	}
	
	$("#back").on('click', function () {
		load_page('editPage', {name: PageName , global: "{{.Global}}" });
		PageName = "";
	});
	
	$("#btn_history").on('click', function () {
		if ($(".history").is(":visible")) {
			$(".history").hide();
			$(this).find("span").text("Show");
		} else {
			$(".history").show();
			$(this).find("span").text("Hide");
		}
	});
	
	$(".restore").on('click', function () {
		var code = $(this).parents(".panel").find(".textEditorHistory_value").val();
		editor.setValue(code, -1);
		$(window).scrollTop(0);
	});
</script>
	<div class="content-heading">
		{{if .Data.name}}Edit{{else}}New{{end}} Contract
	</div>
	<ol class="breadcrumb">
	   <li><a href="#" onclick="load_page('contracts')">Smart Contracts</a></li> {{if eq .Global "1"}}<li><a href="#" onclick="load_page('contracts', {global: 1})">Global</a></li>{{end}}
	</ol>
	
	<div class="form">
		<!-- START panel-->
		<div class="panel panel-default" data-sweet-alert>
		 <div class="panel-body">
			<form role="form">
			   <button type="button" class="btn btn-link" onclick="" id="back" title="Back"><span class="glyphicons glyphicons-arrow-left"></span></button>
			   <div class="form-group">
				   <label>Name</label>
				   {{if .Data.name}} <p class="form-control-static">{{.Data.name}}</p> <input type="hidden" class="form-control" id="id" value="{{.Data.id}}"> {{else}} <input type="text" class="form-control" id="name"> {{end}}
			   </div>
			   <div class="form-group">
				   <label>Value</label>
				   <pre class="textEditor">
						<code></code>
						<section id="textEditor">{{.Data.value}}</section>
					</pre>
				   <textarea id="value" class="form-control hidden"></textarea>
			   </div>
			   <div class="form-group">
				   <label>Conditions for change</label>
				   <textarea class="form-control" id="conditions">{{.Data.conditions}}</textarea>
			   </div>
			</form>
		 </div>



	
			<input type="hidden" id="global" value="{{.Global}}">
	
	
		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-left">
				<button type="button" class="btn btn-default" onClick="formatCode();"><i class="fa fa-code fa-fw mr-sm" aria-hidden="true"></i>Format Code</button>
				{{if .DataContractHistory}}
					<button type="button" class="btn btn-default" id="btn_history"><i class="fa fa-history fa-fw mr-sm" aria-hidden="true"></i><span>Show</span> History</button>
				{{end}}
			  </div>
			  <div class="pull-right">
				 <button type="button" id="send" class="btn btn-primary" data-tool="panel-refresh" onClick="preloader(this);">Send</button>
			  </div>
		   </div>
		  </div>
		</div>
		
		{{if .DataContractHistory}}
			<div class="history">
				<h4 class="page-header">History of {{.Data.name}}</h4>
				{{range $data := .DataContractHistory }}
					<!-- START panel-->
					<div class="panel panel-default">
					 <div class="panel-body">
						<div class="table-responsive">
						   <table class="table table-striped table-bordered table-hover">
							  <tbody>
								 <tr>
									<td class="thead">Block ID</td>
									<td><strong><a href="#" onClick="openBlockDetailPopup({{$data.block_id}})">{{$data.block_id}}</a></strong></td>
								 </tr>
								 <tr>
									<td class="thead">Conditions for change</td>
									<td>{{$data.conditions}}</td>
								 </tr>
								 <tr>
									<td class="thead">Value</td>
									<td>
										<pre class="textEditorHistory">
											<code>{{noescape $data.value}}</code>
										</pre>
										<textarea class="textEditorHistory_value form-control hidden">{{noescape $data.value}}</textarea>
									</td>
								 </tr>
							  </tbody>
						   </table>
						</div>
					 </div>
					 <div class="panel-footer">
					   <div class="clearfix">
						  <div class="pull-left"></div>
						  <div class="pull-right">
							 <button type="button" class="restore btn btn-green"><i class="fa fa-window-restore fa-fw mr-sm" aria-hidden="true"></i>Restore</button>
						  </div>
					   </div>
					  </div>
					</div>
					<!-- END panel-->
				{{end}}
			</div>
		{{end}}
	</div>
	
	<div class="formConfirm" style="display:none;">
		<!-- START panel-->
		<div class="panel panel-default" data-sweet-alert>
		 <h4 class="panel-heading"></h4>
		 <div class="panel-body">
		   <!--<label>Name</label>
		   <p class="form-control-static"></p>-->
		   <pre class="textEditorHistory">
				<code></code>
			</pre>
		 </div>
		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-left">
				
			  </div>
			  <div class="pull-right">
				 <button type="button" id="edit" class="btn btn-primary" onClick="Edit();">Edit</button>
				 <button type="button" id="new" class="btn btn-primary" onclick="load_page('newContract');">Create</button>
				 <button type="button" id="all" class="btn btn-primary" onClick="load_page('contracts');">List</button>
			  </div>
		   </div>
		  </div>
		</div>
	</div>


{{template "signatures".}}


{{end}}