{{ define "editMenu" }}
<script>
	var serverTime;

	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeId}},'+serverTime+',{{.CitizenId}},{{.StateId}},'+$("#global").val()+','+$("#menu_name").val()+','+$("#menu_value").val()+','+$("#menu_conditions").val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'global' : $("#global").val(),
				'name' : $("#menu_name").val(),
				'value' : $("#menu_value").val(),
				'conditions' : $("#menu_conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenId}}',
				'stateId' : '{{.StateId}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );
</script>
	<div class="content-heading">
		editMenu
	</div>
	<ol class="breadcrumb">
		<li><a href='#' onclick="load_page('interface')">Interface</a></li>
		<li class="active">{{if .DataMenu.name}}Edit{{else}}New{{end}} menu</li>
	</ol>

<div class="panel panel-default" data-sweet-alert>
	<div class="panel-heading">
		<div class="panel-title">
			Menu
		</div>
	</div>
	<div class="panel-body">
		<form role="form">
		   <div class="form-group">
			   <label>Name</label>
			   {{if .DataMenu.name}} <p class="form-control-static">{{.DataMenu.name}}</p> <input type="hidden" class="form-control" id="menu_name" value="{{.DataMenu.name}}"> {{else}} <input type="text" class="form-control" id="menu_name"> {{end}}
		   </div>
		   <div class="form-group">
			   <label>Value</label>
			   <textarea class="form-control" id="menu_value">{{.DataMenu.value}}</textarea>
		   </div>
		   <div class="form-group">
			   <label>Conditions</label>
			   <textarea class="form-control" id="menu_conditions">{{.DataMenu.conditions}}</textarea>
		   </div>
		</form>
	</div>
	<div class="panel-footer">
   <div class="clearfix">
	  <div class="pull-right">
		 <button type="button" class="btn btn-primary" id="send" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);">Save</button>
	  </div>
   </div>
  </div>
</div>
	<!-- END panel-->

<input type="hidden" id="global" value="{{.Global}}">

{{template "signatures".}}


{{end}}