<script>
	var serverTime;
	var name;
	var pardata;
	
	$('#send').bind('click', function () {
		name = $("#name").val();
		if (name== '') {
			alert('Specify Name of the signature');
			return false;
		}
		var pars = {title: $("#title").val(), params: []};
		var parscount = 0;
		$(".lpref").each(function(){
			var key = $(this).val();
			if (key != '') {
				var id = $(this).attr("id").substr(4);
				var text = $("#text"+id).val();
				if (text != '') {
					pars.params.push({name: key, text: text});
					parscount++;
				}
			}
		});
		if (parscount== 0) {
			alert('There are not parameters');
			return false;
		}
		pardata = JSON.stringify(pars);
		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeId}},'+serverTime+',{{.Data.CitizenId}},{{.Data.StateId}},' +
			  $("#global").val() + ','+name+','+pardata + ',' + $("#conditions").val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );
	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'name': name,
				'value': pardata,
				'global' : $("#global").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'conditions' : $("#conditions").val(),				
				'citizenId' : '{{.Data.CitizenId}}',
				'stateId' : '{{.Data.StateId}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );
var par_id = {{len .List}} + 1;
function js_newpars() {
    $("#par-list").append('<div class="col-md-1 col-xs-1" style="padding: 5px 5px;">'+
                    '<input type="text" class="form-control lpref" id="pars'+par_id+'"></div>'+
                '<div class="col-md-11 col-xs-1" style="padding: 5px 5px;">' +
                    '<input type="text" class="form-control" id="text'+par_id+'"></div>');
    par_id++;
    return false;
}	

</script>
	<div class="content-heading">
		{{if .Name}}Edit{{else}}New{{end}} Signature
	</div>
	<ol class="breadcrumb">
	   <li><a href="#" onclick="load_page('signatures')">Signatures</a></li> {{if eq .Global "1"}}<li><a href="#" onclick="load_page('signatures', {global: 1})">Global</a></li>{{end}}
	</ol>
	
	<div class="form">
		<!-- START panel-->
		<div class="panel panel-default" data-sweet-alert>
		 <div class="panel-body">
		<form role="form">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" id="name" value="{{.Name}}" {{if .Name}}disable{{end}}>
			</div>
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" id="title" value="{{.Title}}">
			</div>
			<div class="form-group">
				<div class="col-md-1 col-xs-1" style="padding: 5px 5px;">
					<label>Parameter</label>
				</div>
				<div class="col-md-11 col-xs-1" style="padding: 5px 5px;">
					<label>Text</label>
				</div>
			</div>
			<div class="form-group" id="par-list">
				{{if .List}} {{range $index, $el := .List}}
				<div class="col-md-1 col-xs-1" style="padding: 5px 5px;">
					<input type="text" class="form-control lpref" id="pars{{$index}}" value="{{.Param}}">
				</div>
				<div class="col-md-11 col-xs-1" style="padding: 5px 5px;">
					<input type="text" class="form-control" id="text{{$index}}" value="{{.Text}}">
				</div>
				{{end}} {{else}}
				<div class="col-md-1 col-xs-1" style="padding: 5px 5px;">
					<input type="text" class="form-control lpref" id="lang0">
				</div>
				<div class="col-md-11 col-xs-1" style="padding: 5px 5px;">
					<input type="text" class="form-control" id="text0">
				</div>
				{{end}}
			</div>
			<div classx="pull-left">
				<a href="#" onclick="return js_newpars();">New parameter</a>
			</div>
			<div class="form-group">
				   <label>Conditions for change</label>
				   <textarea class="form-control" id="conditions">{{.Conditions}}</textarea>
			 </div>

		</form>
		 </div>



	
			<input type="hidden" id="global" value="{{.Global}}">
	
	
		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-left">
			  </div>
			  <div class="pull-right">
				 <button type="button" id="send" class="btn btn-primary" data-tool="panel-refresh" onClick="preloader(this);">Send</button>
			  </div>
		   </div>
		  </div>
		</div>

{{template "signatures".}}
