{{ define "editTable" }}
<script>
	var serverTime;
	
	$(".aside .nav li").removeClass("active");
	$(".citizen, .citizen_listOfTables").addClass("active");

	$('#send, #sendperm').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeID}},'+serverTime+',{{.CitizenID}},{{.StateID}},{{.TableName}},'+$("#general_update").val()+','+$("#insert").val()+','+$("#new_column").val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'table_name' : '{{.TableName}}',
				'general_update' : $("#general_update").val(),
				'insert' : $("#insert").val(),
				'new_column' : $("#new_column").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenID}}',
				'stateId' : '{{.StateID}}',
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert(returnLang("error"), error, "error");
			}
		});
	} );
</script>
	<div class="content-heading">
		{{if .TableName}}<span class="lang" lang-id="edit_table"></span>{{else}}<span class="lang" lang-id="new_table"></span>{{end}}
	</div>
	<ol class="breadcrumb">
	   <li><a href="#" onclick="load_page('listOfTables')" class="lang" lang-id="list_of_tables"></a></li> {{if eq .Global "1"}}<li><a href="#" onclick="load_page('listOfTables', {global: 1})" class="lang" lang-id="global"></a></li>{{end}}
	</ol>
	<!-- START panel-->
<div class="row">
	<div class="col-md-12">
	<div class="panel panel-default">
	 <div class="panel-heading">
	 	<div class="panel-title">
			{{index .TableData "name"}} {{if .TableName}}<span class="pull-right"><a href="#" onclick="load_page('showTable', {global: {{.Global}}, name: {{.TableName}}})" class="lang" lang-id="show_data"></a></span>{{end}}
		</div>
	 </div>
	 <div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" data-role="table">
			  <thead>
				  <tr>
					  <th class="lang" lang-id="name"></th>
					  <th class="lang" lang-id="column_type"></th>
					  <th class="lang" lang-id="permissions"></th>
					  <th width="50" class="lang" lang-id="action"></th>
				  </tr>
			  </thead>
			  <tbody>
			  {{ range .ColumnsAndPermissions }}
				 <tr>
					 <td class="thead"><strong>{{.name}}</strong></td>
					 <td><strong class="lang" lang-id="{{.type}}">{{.type}}</strong></td>
					 <td><strong>{{.perm}}</strong></td>
					 <td><button class="btn btn-primary lang" onclick="load_page('editColumn', {tableName: {{index $.TableData "name"}}, columnName: {{.name}} } )" lang-id="edit"></button></td>
				 </tr>
			  {{end}}
			  </tbody>
		   </table>
		</div>
	 </div>

	 <div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-left">

		  </div>
		  <div class="pull-left">
			{{if .CanColumns}}
			    <button type="button" class="btn btn-primary lang" onclick="load_page('newColumn', {tableName: {{index .TableData "name"}}} )" lang-id="add_column"></button>
			{{end}}
		  </div>
	   </div>
	  </div>
	</div>
		</div>



<!-- START panel-->
<div class="col-md-6">
	<div class="panel panel-default" data-sweet-alert>
		<div class="panel-heading">
			<div class="panel-title">
				<span class="lang" lang-id="table_permission"></span>
			</div>
		</div>
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label class="lang" lang-id="insert"></label>
					<input type="text" class="form-control" id="insert" value="{{.TablePermission.insert}}"></input>
				</div>
				<div class="form-group">
					<label class="lang" lang-id="new_column"></label>
					<input type="text" class="form-control" id="new_column" value="{{.TablePermission.new_column}}"></input>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button type="button" class="btn btn-primary lang" id="send" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);" lang-id="save"></button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->

<!-- START panel-->
<div class="col-md-6">
	<div class="panel panel-default" data-sweet-alert>
	 <div class="panel-heading">
		<div class="panel-title">
			<span class="lang" lang-id="conditions_changing_permissions"></span>
		</div>
	 </div>
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" id="general_update" value="{{.TablePermission.general_update}}"></input>
				</div>
			</form>
		</div>
	 <div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-right">
			 <button type="button" class="btn btn-primary lang" id="sendperm" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);" lang-id="save"></button>
		  </div>
	   </div>
	  </div>
	</div>
</div>
</div>
<!-- END panel-->

{{template "signatures".}}

{{end}}