{{ define "editPage" }}
<script>
	var serverTime;
	
	$('#page_menu').select2({
		minimumResultsForSearch: Infinity,
		theme: 'bootstrap'
	});
	
	$.ajax({
		type: 'POST',
		url: 'ajax?controllerName=getMenu&name=' + {{.DataMenu.name}},
		dataType: 'json',
		crossDomain: true,
		success: function(data) {
			console.log(data)
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});

	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeId}},'+serverTime+',{{.CitizenId}},{{.StateId}},'+$("#page_name").val()+','+$("#page_value").val()+','+$("#page_menu").val()+','+$("#page_conditions").val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );


	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'name' : $("#page_name").val(),
				'value' : $("#page_value").val(),
				'menu' : $("#page_menu").val(),
				'conditions' : $("#page_conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenId}}',
				'stateId' : '{{.StateId}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data) },
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	} );
</script>
	<div class="content-heading">
		editPage
	</div>
	<ol class="breadcrumb">
	   <li><a href='#' onclick="load_page('interface')">Interface</a></li>
		<li class="active">{{if .DataPage.name}}Edit{{else}}New{{end}} page</li>
	</ol>

<div class="row">
	<div class="col-md-8">
		<!-- START panel-->
		<div class="panel panel-default" data-sweet-alert>
	
		 <div class="panel-heading">
			<div class="panel-title">
				Page
			</div>
		 </div>
		 <div class="panel-body">
			<form role="form">
			   <div class="form-group">
				   <label>Name</label>
				   {{if .DataPage.name}} <p class="form-control-static">{{.DataPage.name}}</p> <input type="hidden" class="form-control" id="page_name" value="{{.DataPage.name}}"> {{else}} <input type="text" class="form-control" id="page_name"> {{end}}
			   </div>
			   <div class="form-group">
				   <label>Value</label>
				   <textarea class="form-control" id="page_value" style="height: 500px">{{.DataPage.value}}</textarea>
			   </div>
			   <div class="form-group">
				   <label>Menu</label>
				   <select class="form-control" id="page_menu">
					 {{range $data := .AllMenu }}
						 <option value="{{index $data "name"}}"
							{{if and $data $.DataPage.menu}}
								{{if eq (index $data "name") $.DataPage.menu}}
									selected
								{{end}}
							{{end}}
						 >
						 {{index $data "name"}}
						 </option>
					 {{end}}
					</select>
			   </div>
			   <div class="form-group">
				   <label>Conditions</label>
				   <textarea class="form-control" id="page_conditions">{{.DataPage.conditions}}</textarea>
			   </div>
			</form>
		 </div>
		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-right">
				 <button type="button" class="btn btn-primary" id="send" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);">Save</button>
			  </div>
		   </div>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default" data-sweet-alert>
			<div class="panel-heading">
				<div class="panel-title">
					Menu
				</div>
			</div>
			<div class="panel-body">
		
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<tbody>
						<tr><td><strong>Name</strong><br>{{.DataMenu.name}}</td></tr>
						<tr><td><strong>Value</strong><br>{{.DataMenu.value}}</td></tr>
						<tr><td><strong>Conditions</strong><br>{{.DataMenu.conditions}}</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
			   <div class="clearfix">
				  <div class="pull-left">
					 <button type="button" class="btn btn-primary" onclick="load_page('editMenu', {name: {{.DataMenu.name}}} )">edit</button>
				  </div>
			   </div>
		  	</div>
		</div>
		<!-- END panel-->
	</div>
</div>


{{template "signatures".}}


{{end}}