{{ define "editMenu" }}
<style>
	.formConfirm .panel-heading {
		padding-bottom:0px;
		margin-bottom:0px;
	}
</style>
<script>
	var serverTime;
	
	var editor = ace.edit("textEditor");
	var JavaScriptMode = ace.require("ace/mode/markdown").Mode;
	$(".textEditor code").html(editor.getValue());
	$("#menu_value").val(editor.getValue());
	editor.setTheme("ace/theme/xcode");
    editor.session.setMode(new JavaScriptMode());
	editor.setShowPrintMargin(false);
	editor.getSession().setUseWrapMode(true);
	editor.getSession().on('change', function(e) {
		$(".textEditor code").html(editor.getValue());
		$("#menu_value").val(editor.getValue());
		editor.resize();
	});
	
	function ShowConfirm() {
		$(".form").hide();
		$(".formConfirm .panel-heading").text($("#menu_name").val());
		$(".formConfirm .textEditorHistory code").html($("#menu_value").val());
		$(".formConfirm").show();
		MenuReload();
	}
	
	function Edit() {
		load_page('editMenu', {name: $("#menu_name").val() , global: "{{.Global}}" });
	}

	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeID}},'+serverTime+',{{.CitizenID}},{{.StateID}},'+$("#global").val()+','+$("#menu_name").val()+','+$("#menu_value").val()+','+$("#menu_conditions").val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'global' : $("#global").val(),
				'name' : $("#menu_name").val(),
				'value' : $("#menu_value").val(),
				'conditions' : $("#menu_conditions").val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenID}}',
				'stateId' : '{{.StateID}}',
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { 
				send_to_net_success({{if .DataMenu.name}}data, MenuReload{{else}}data, ShowConfirm{{end}}) 
			},
			error: function(xhr, status, error) {
				Alert(returnLang("error"), error, "error");
			}
		});
	} );
</script>
	<div class="content-heading">
		{{if .DataMenu.name}}<span class="lang" lang-id="edit_menu"></span>{{else}}<span class="lang" lang-id="new_menu"></span>{{end}}
	</div>
	<ol class="breadcrumb">
		<li><a href='#' onclick="load_page('interface')" class="lang" lang-id="interface"></a></li>
	</ol>

	<div class="panel panel-primary form" data-sweet-alert>
		<div class="panel-heading">
			<div class="panel-title">
				<span class="lang" lang-id="menu"></span>
			</div>
		</div>
		<div class="panel-body">
			<form role="form">
			   <div class="form-group">
				   <label class="lang" lang-id="name"></label>
				   {{if .DataMenu.name}} <p class="form-control-static">{{.DataMenu.name}}</p> <input type="hidden" class="form-control" id="menu_name" value="{{.DataMenu.name}}"> {{else}} <input type="text" class="form-control" id="menu_name"> {{end}}
			   </div>
			   <div class="form-group">
				   <label class="lang" lang-id="value"></label>
				   <pre class="textEditor">
						<code></code>
						<section id="textEditor">{{.DataMenu.value}}</section>
				   </pre>
				   <textarea id="menu_value" class="form-control hidden"></textarea>
			   </div>
			   <div class="form-group">
				   <label class="lang" lang-id="conditions_change"></label>
				   <textarea class="form-control" id="menu_conditions">{{.DataMenu.conditions}}</textarea>
			   </div>
			</form>
		</div>
		<div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-right">
			 <button type="button" class="btn btn-primary lang" id="send" data-tool="panel-refresh" data-toggle="tooltip" data-spinner="standard" onClick="preloader(this);" lang-id="save"></button>
		  </div>
	   </div>
	  </div>
	</div>
	<!-- END panel-->
	
	<div class="formConfirm" style="display:none;">
		<!-- START panel-->
		<div class="panel panel-default" data-sweet-alert>
		 <h4 class="panel-heading"></h4>
		 <div class="panel-body">
		   <pre class="textEditorHistory">
				<code></code>
			</pre>
		 </div>
		 <div class="panel-footer">
		   <div class="clearfix">
			  <div class="pull-left">
				
			  </div>
			  <div class="pull-right">
				 <button type="button" id="edit" class="btn btn-primary lang" onClick="Edit();" lang-id="edit"></button>
				 <button type="button" id="new" class="btn btn-primary lang" onclick="load_page('newMenu', {global: {{.Global}} });" lang-id="create"></button>
				 <button type="button" id="all" class="btn btn-primary lang" onClick="load_page('interface');" lang-id="list"></button>
			  </div>
		   </div>
		  </div>
		</div>
	</div>
<input type="hidden" id="global" value="{{.Global}}">

{{template "signatures".}}


{{end}}