{{ define "editColumn" }}
<script>
	var serverTime;
	
	$(".aside .nav li").removeClass("active");
	$(".citizen, .citizen_listOfTables").addClass("active");
	
	function CheckIndex() {
		var id = $(".column_type");
		var index = $(".index");
		var val = id.val();
		if (val === "text" || !{{.CanIndex}}) {
			index.prop("checked", false);			
			index.prop("disabled", true);
		} else {
			index.prop("disabled", false);
		}
	}
	
	function BackToEditTable() {
		if (TableName && TableName.length > 0) {
			load_page('editTable', {name: TableName, global: TableGlobal });
			TableName = "";
		}
		else {
			var glob = 0;
			var tbl = "{{.TableName}}";
			if (tbl.substr(6) == 'global') 
				glob = 1;
			load_page('editTable', {name: tbl, global: glob });
		}
	}
	
	$(".column_type").select2({
		minimumResultsForSearch: Infinity,
		theme: 'bootstrap'
	});
	
	CheckIndex();
	var colname;
	$('#send').bind('click', function () {
		colname = $('#column_name').val().toLowerCase();
		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val('{{.TxTypeID}},'+serverTime+',{{.CitizenID}},{{.StateID}},{{.TableName}},'+colname+','+$('#permissions').val(){{if not .ColumnName}}+','+($("#index").is(":checked") ? "1" : "0")+','+$("#column_type").val(){{end}});
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'table_name' : '{{.TableName}}',
				'column_name' : colname,
				'permissions' : $('#permissions').val(),
				'index' : ($("#index").is(":checked") ? "1" : "0"),
				'column_type' : $('#column_type').val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'citizenId' : '{{.CitizenID}}',
				'stateId' : '{{.StateID}}',
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) { send_to_net_success(data, BackToEditTable) },
			error: function(xhr, status, error) {
				Alert(returnLang("error"), error, "error");
			}
		});
	} );
</script>
	<div class="content-heading">
		{{if .ColumnName}}<span class="lang" lang-id="edit_column"></span>{{else}}<span class="lang" lang-id="new_column"></span>{{end}}
	</div>
	<ol class="breadcrumb">
		<li><a href="#" onclick="load_page('listOfTables')" class="lang" lang-id="list_of_tables"></a></li>
	   <li><a href="#" onclick="load_page('editTable', {name: {{.TableName}}})">{{.TableName}}</a></li>
	</ol>
	<!-- START panel-->
	<div class="panel panel-default" data-sweet-alert>
	 <div class="panel-heading">
	 	<div class="panel-title">
			{{.TableName}}
		</div>
	 </div>
	 <div class="panel-body">
	 	<form role="form">
		   <div class="form-group">
			   <label class="lang" lang-id="name"></label>
			   {{if .ColumnName}} <p class="form-control-static">{{.ColumnName}}</p> <input type="hidden" class="form-control" id="column_name" value="{{.ColumnName}}"> {{else}} <input type="text" class="form-control" id="column_name"> {{end}}
		   </div>
			{{if not .ColumnName}}
				<div class="row">
					<div class="form-group col-md-10">
						<label class="lang" lang-id="column_type"></label>
						<select id="column_type" class="column_type form-control" onChange="CheckIndex();">
							<option value="text" class="lang" lang-id="text"></option>
							<option value="int64" class="lang" lang-id="numbers"></option>
							<option value="time" class="lang" lang-id="date_time"></option>
							<option value="hash" class="lang" lang-id="varchar"></option>
							<option value="money" class="lang" lang-id="money"></option>
							<option value="double" class="lang" lang-id="double"></option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<label style="display:block;" for="index" class="lang" lang-id="index"></label>
						<div class="checkbox c-checkbox" style="display:inline-block; width:auto;">
							<label style="padding-left:0px;">
								<input id="index" class="hidden index" type="checkbox">
								<span class="fa fa-check" style="margin:0px; margin-top:-4px;"></span>
							</label>
						</div>
					</div>
				</div>
			{{else}}
	   		<div class="form-group">
			   <label class="lang" lang-id="column_type"></label>
			   <p class="form-control-static lang" lang-id="{{.ColumnType}}">{{.ColumnType}}</p> 
		   </div>			
			{{end}}
			<div class="form-group">
				<label class="lang" lang-id="permissions"></label>
				<textarea class="form-control" id="permissions">{{if not .ColumnPermission}}ContractConditions("MainCondition"){{else}}{{.ColumnPermission}}{{end}}</textarea>
			</div>
		</form>
	 </div>
	 <div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-left">

		  </div>
		  <div class="pull-left">
			 <button type="button" class="btn btn-primary lang" id="send" data-tool="panel-refresh" onClick="preloader(this);" lang-id="send"></button>
		  </div>
	   </div>
	  </div>
	</div>
	<!-- END panel-->

{{template "signatures".}}

{{end}}