<div class="content-heading">
   Login
</div>
<!-- START panel-->
<div class="panel panel-default" style="max-width:400px;">
 <div class="panel-body">
	<div id="modal_alert"></div>
	<input type="hidden" id="incorrect_key_or_password" value="{{.Lang.incorrect_key_or_password}}">
	<input type="hidden" id="pool_is_full" value="{{.Lang.pool_is_full}}">
	<fieldset style="padding-bottom:0px; margin-bottom:0px;">
		<span id="key_selector" style="float:right"><a href="#" onclick="show_text_key()">{{.Lang.text}}</a></span><div class="clearfix"></div>
			<div style="width:100%;  border:2px dashed black; display: flex;  height: 110px; padding: 15px 0px 15px 0px" id="key_div">
				<div style="margin:auto; text-align:center; line-height:22px">
				 <p style="margin-bottom:0px"  id="key_file_name" onclick="document.getElementById('upload_hidden').click();">The key is not selected</p>
				  <div id="key_btn" style="margin-top:0px"  class="btn btn-primary" onclick="document.getElementById('upload_hidden').click();" type="button">
					{{.Lang.select_key}}
					<input type="file" accept="image/*,text/*" name="upload" id="upload_hidden" style="position: absolute; visibility:hidden;" />
				  </div>
				  {{if not .Mobile}}<p>{{.Lang.or_drag_and_drop_key}}</p>{{end}}
				</div>
			</div>
		<textarea rows="3" id="modal_key" class="form-control" style="display:none"></textarea><br>
		<label class="modal_password_label">{{.Lang.key_password}}</label>
		<input type="password" id="modal_password" class="form-control">
		{{if .SetupPassword}}
		<label class="modal_password_label">Setup password</label>
		<input type="password" id="modal_setup_password" class="form-control">
		{{end}}
		{{if not .Community}}
		<div class="checkbox c-checkbox" style="margin-top:20px; margin-bottom:0px;">
			<label>
			   <input type="checkbox" {{if or .Mobile .Desktop}}checked{{end}} id="modal_save_key">
			   <span class="fa fa-check"></span>
			   {{.Lang.save_key}}
			</label>
		 </div>
		{{end}}
	</fieldset>
	<button id="saveKeyAndLogin" type="button" class="btn btn-success  btn-lg btn-block" data-toggle="button">{{.Lang.login}}</button>
 </div>
</div>
<!-- END panel-->