<style>
	.tab-content {
		border: 0px;
		padding: 0px;
	}
	
	.panel.panel-default {
		border-top: 0px;
		border-radius: 0px 0px 4px 4px;
	}
	
	#message {
		display: none;
	}
</style>
<script language="JavaScript" type="text/javascript">
	$(".aside .nav li").removeClass("active");
	$(".anonym, .anonym_export_tpl").addClass("active");

function js_checkall() {
	$("input[type=checkbox]").attr("checked", true);
	return false;
}

function get_name(obj) {
	var name = $(obj).attr('name');
	if ($(obj).attr("data-global")=="1" ) {
		name = 'global_' + name;
	}
	return name;
}

function append_name(obj) {
	var id = $(obj).attr("data-id");

	var name = $("#name"+id).html();
	var val = $("#val"+id).html();
	return name+'='+val;
}

function get_tpl() {
	var name = $("#name").val();
	if (name == '') {
		alert('Specify Name of tpl file');
		return false;
	}
	var contracts = [];
	$(".contracts:checked").each(function(){
		contracts.push(get_name(this));
	});
	var pages = [];
	$(".pages:checked").each(function(){
		pages.push(get_name(this));
	});
	var apppages = [];
	$(".appendpage:checked").each(function(){
		apppages.push(append_name(this));
	});
	var tables = [];
	$(".tables:checked").each(function(){
		tables.push(get_name(this));
	})
	var menu = [];
	$(".menu:checked").each(function(){
		menu.push(get_name(this));
	})
	var appmenu = [];
	$(".appendmenu:checked").each(function(){
		appmenu.push(append_name(this));
	});	
	var params = [];
	$(".params:checked").each(function(){
		params.push(get_name(this));
	})
	data = {"name": name, "title": $("#title").val(),"desc": $("#desc").val(), 
	    "smart_contracts": contracts.join(','), "pages": pages.join(','), "tables": tables.join(','), 
		"menu": menu.join(','), "state_parameters": params.join(','), "apppages": JSON.stringify( apppages ),
		"appmenu": JSON.stringify( appmenu )};
	console.log('Data', data);
	load_page('export_tpl', data);
	return false;
}

var idappend = 0;

function js_appendpage(pref) {
	var name = $("#sel" + pref).val();
	var val = $("#" + pref + "value").val();
	if (val == '') {
		alert('Specify text');
		return;
	}
	idappend++;
	$("#append" + pref).before('<tr><td style="width: 50px;"><input type="checkbox" checked name="'+pref+
	 '" data-id="'+idappend+'" class="form-control append'+pref+'"></td>'+
				'<td style="width: 200px;" id="name'+idappend+'">'+name+'</td><td id="val'+idappend+'">'+val+'</td></tr>');
}

</script>

<div class="content-heading">
	Export to Tpl
</div>
<!-- Tab panes-->
<div class="tab-content">
	<!-- START panel-->
	<div class="panel panel-default" data-sweet-alert>
		<div class="panel-body">
			{{if .Message}}
			<div class="form-group">
				<label>{{.Message}}</label>
			</div>
			{{end}}
			<form role="form">
				<div class="form-group">
					<label for="name">Name</label>
					<input id="name" name="name" type="text" value="" class="form-control">
				</div>
				<div class="form-group">
					<label for="name">Title</label>
					<input id="title" name="title" type="text" value="" class="form-control">
				</div>
				<div class="form-group">
					<label for="name">Description</label>
					<input id="desc" name="desc" type="text" value="" class="form-control">
					<a href="#" onclick="return js_checkall()">Отметить все</a>
				</div>
			</form>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>Contracts</th>
					<th></th>
				</tr>
				{{range .Contracts}}
				<tr>
					<td style="width: 50px;"><input type="checkbox" name="{{.Name}}" data-global="{{if .Global}}1{{else}}0{{end}}" class="form-control contracts"></td>
					<td style="width: 200px;">{{.Name}}</td>
					<td>{{if .Global}}global{{end}}</td>
				</tr>
				{{end}}
			</table>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>Pages</th>
					<th></th>
				</tr>
				{{range .Pages}}
				<tr>
					<td style="width: 50px;"><input type="checkbox" name="{{.Name}}"  data-global="{{if .Global}}1{{else}}0{{end}}" class="form-control pages"></td>
					<td style="width: 200px;">{{.Name}}</td>
					<td>{{if .Global}}global{{end}}</td>
				</tr>
				{{end}}
			</table>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>Append Pages</th>
					<th></th>
				</tr>
				<tr id="appendpage">
					<td style="width: 50px;"></td>
					<td style="width: 200px;">
						<select id="selpage">
						{{range .Pages}}
							<option value="{{if .Global}}global_{{end}}{{.Name}}">{{.Name}}{{if .Global}} [global]{{end}}</option>
						{{end}}
						</select>							
					</td>
					<td><textarea id="pagevalue" rows="7" class="form-control" style="width: 500px;"></textarea>
					<div><button type="button" class="btn btn-primary" onclick="js_appendpage('page');">Append Page</button></div>
					</td>
				</tr>
			</table>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>Menu</th>
					<th></th>
				</tr>
				{{range .Menu}}
				<tr>
					<td style="width: 50px;"><input type="checkbox" name="{{.Name}}"  data-global="{{if .Global}}1{{else}}0{{end}}" class="form-control menu"></td>
					<td style="width: 200px;">{{.Name}}</td>
					<td>{{if .Global}}global{{end}}</td>
				</tr>
				{{end}}
			</table>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>Append Menu</th>
					<th></th>
				</tr>
				<tr id="appendmenu">
					<td style="width: 50px;"></td>
					<td style="width: 200px;">
						<select id="selmenu">
						{{range .Menu}}
							<option value="{{if .Global}}global_{{end}}{{.Name}}">{{.Name}}{{if .Global}} [global]{{end}}</option>
						{{end}}
						</select>							
					</td>
					<td><textarea id="menuvalue" rows="7" class="form-control" style="width: 500px;"></textarea>
					<div><button type="button" class="btn btn-primary" onclick="js_appendpage('menu');">Append Menu</button></div>
					</td>
				</tr>
			</table>			
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>State parameters</th>
					<th></th>
				</tr>
				{{range .Params}}
				<tr>
					<td style="width: 50px;"><input type="checkbox" name="{{.Name}}"  data-global="{{if .Global}}1{{else}}0{{end}}" class="form-control params"></td>
					<td style="width: 200px;">{{.Name}}</td>
					<td>{{if .Global}}global{{end}}</td>
				</tr>
				{{end}}
			</table>			
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th></th>
					<th>Tables</th>
					<th></th>
				</tr>
				{{range .Tables}}
				<tr>
					<td style="width: 50px;"><input type="checkbox" name="{{.Name}}"  data-global="{{if .Global}}1{{else}}0{{end}}"  class="form-control tables"></td>
					<td style="width: 200px;">{{.Name}}</td>
					<td>{{if .Global}}global{{end}}</td>
				</tr>
				{{end}}
			</table>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button type="button" class="btn btn-primary" onclick="return get_tpl();">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END panel-->
</div>