<style>
</style>
<script language="JavaScript" type="text/javascript">
	function SendTxOK{{.Unique}}() {
	}
	var serverTime{{.Unique}};
	var predata{{.Unique}};
	$(document).ready(function(){
	$('#send{{.Unique}}').bind('click', function () {
        do_generate();
        var key = $("#pubkey").val();
        if (key.length > 128) {
			key = key.substr( 2 );
		}
		predata{{.Unique}} = {
			'TxName' : 'GenCitizen',
        	'Name': $("#name").val(),
	        'PublicKey': key
		};

		$.get( 'ajax?json=ajax_prepare_tx', predata{{.Unique}},
			 function (data) {
				if (data.error.length > 0 ) {
					Alert("Error", data.error, "error");
				} else {
					console.log(data);
					predata{{.Unique}}.time = data.time;
					$("#for-signature{{.Unique}}").val(data.forsign);
					doSign({{.Unique}});
					predata{{.Unique}}.signature1 = $('#signature1{{.Unique}}').val();
					predata{{.Unique}}.signature2 = $('#signature2{{.Unique}}').val();
					predata{{.Unique}}.signature3 = $('#signature3{{.Unique}}').val();
//					$("#send_to_net{{.Unique}}").trigger("click");
					sendnet{{.Unique}}();
				}
		}, "json" );
	} );

function sendnet{{.Unique}}() {
  	predata{{.Unique}}['public'] = GKey.Public;
	$.ajax({
		type: 'POST',
		url: 'ajax?json=ajax_send_tx',
		data: predata{{.Unique}},
		dataType: 'json',
		crossDomain: true,
		success: function(result) {
			send_to_net_success(result, SendTxOK{{.Unique}});
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});
}
	$('#send_to_net{{.Unique}}').bind('click', sendnet{{.Unique}} );	
})

var phrase_limit = 20;

function randomPassword(length) {
    var chars = "abcdefghijkmnpqrstuvwxyzABCDEFGHJKLMNP23456789"; // !@#$%&-+
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function enc_phrase() {
    do_phrase(phrase_limit);
	var msg = $("#phrase").val();
	var valid = true;
	var i = 0;
	for (i = 0; i < msg.length; i ++) {
		var num = msg.charCodeAt(i);
		if ((num < '0'.charCodeAt(0) || num > 'z'.charCodeAt(0)) && num != 0x20 ) {
			valid = false;
			break;
		}
	}
	if (!valid) {
		$("#encphrase").val("Not valid character: " + msg[i]);
		return false;
	}

	var pass = randomPassword(10);//Math.random().toString(36).slice(-10);
	var emsg = CryptoJS.AES.encrypt(msg, pass/*, {
	mode: CryptoJS.mode.ECB, padding: CryptoJS.pad.Pkcs7}*/);
	emsg = emsg.toString().replace(/\+/g, '@');
	$("#encphrase").val(emsg);
	$("#encpass").val(pass);
	emsg = $("#encphrase").val().replace(/@/g, '+');
	var check = CryptoJS.AES.decrypt(emsg, pass).toString( CryptoJS.enc.Utf8 );
	if (check != msg)  {
		$("#encphrase").val('Wrong decryption');
		$("#encpass").val('');
	} 
}

$(document).ready(function(){
    enc_phrase();
})
</script>

<div class="content-heading lang" lang-id="add_new_citizen">
	Add New Citizen
</div>
<!-- START panel-->
<div class="panel panel-default" data-sweet-alert>
    <div class="panel-body">
        {{if .Message}}
        <div class="form-group">
            <label>{{.Message}}</label>
        </div>
        {{end}}
        <form role="form">
            <div class="form-group">
                <label for="name"  class="lang" lang-id="name">Name</label>
                <input id="name" name="name" type="text" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="seed" class="lang" lang-id="account_seed">Account seed</label>
				<textarea class="form-control" name="phrase" id="phrase" rows="5"></textarea>
				<div class="clearfix">
    				<button id="genseed" class="btn btn-default pull-left" type="button" onclick="return enc_phrase();" class="lang" lang-id="generate_new_seed">Generate new seed</button>
                </div>
                <label for="encseed">Encrypted account seed</label>
				<textarea class="form-control" name="encphrase" id="encphrase" rows="5"></textarea>
                <label for="pass">Password</label>
				<input disable id="encpass" value="" class="form-control" >
                <input id="prvkey" type="hidden" value="">
                <input id="pubkey" type="hidden" value="">
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <button type="button" class="btn btn-primary lang" id="send{{.Unique}}"  data-tool="panel-refresh" onClick="preloader(this);"  lang-id="create_new_citizen">Create new citizen</button>
            </div>
        </div>
    </div>
</div>
<!-- END panel-->
{{template "signatures".}}