<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>eGaaS</title>
<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
<script>document.write("<link rel='stylesheet' href='static/css/style.css?v=" + Math.floor((Math.random() * 1000000) + 1) + "'>");</script>
<style>
	#NProgressStart .bar:before {
		background-image:url(/static/img/logo.{{.LogoExt}});
	}
	#NProgressStart .bar .peg {
		background-image:url(/static/img/logo.{{.LogoExt}});
	}
	.loader .logo .null {
		background-image:url(static/img/logo_null.svg);
	}
	.loader .logo .ok {
		background-image:url(static/img/logo_ok.svg);
	}
	.brand:after {
		background-image:url(static/img/logo.{{.LogoExt}});
	}
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBSoSxKFr6M-iL3RUm-PtHmA2zZTesjNKo"></script>
<script type="text/javascript" src="static/js/app.js"></script>
<script type="text/javascript" src="static/js/elliptic.min.js"></script>
<script type="text/javascript" src="static/js/keys.js"></script>
<script>document.write("<script type='text/javascript' src='static/js/index.js?v=" + Math.floor((Math.random() * 1000000) + 1) + "'><\/script>");</script>
<script>
	var isMobile = {{.Mobile}};
	var Version = '{{.Version}}';
//	    var accounts = '{{.Accounts}}';
	var thrust = {{.Thrust}};
	var PageName = "";
	var TableName = "";
	var TableGlobal = "";
	if ( typeof THRUST != "undefined" )
	{
		THRUST.remote.send('ACCOUNTS');
		THRUST.remote.listen(function(answer) {
			localStorage.setItem('Accounts', answer.payload );
			GKey.init();
		});
	}
/*		if (accounts.length > 0 && thrust) {
		localStorage.setItem('Accounts', accounts);
	}*/
	$( document ).ready(function() {
		{{if .Langs}}
			var list = {{.Langs}}.split(',');
			localStorage.setItem('EGAAS_LANG', list[0]);
			changeLanguage(list[0]);
		{{else}}
			loadLanguage();
		{{end}}
		
		NProgressStart.set(1);
		{{if not .DbOk}}
			$("#dl_content").load("content", function(response, status) {
				if ( status == "error" ) { window.location.href = "index"; }
				$("#loading_db").css("display", "none");
			})
		{{else if .Key}}
			$( "#dl_content" ).load( "content", { key: {{.Key}}}, function() {
				NProgressStart.done();
			});
		{{else if .PKey}}
			$( "#dl_content" ).load( "content", { pkey: {{.PKey}}, state: {{.State}}}, function() {
				$("#phrase").prop("disabled", true);
				$("#key_btn, h1.noregister").hide();
				$(".flex.buttons.noregister").addClass("flex-end");
				$("#import_btn").html($("h1.noimport").html());
				$("h1.noimport").show();
				$("#pass").focus();
				NProgressStart.done();
			});

/*				NProgressStart.set(1);
			$("#dl_content").load( "content", { {{if .SetLang}}"parameters": {"lang":{{.SetLang}} }{{end}} }, function() {
				$("#key").text("{{.Key}}");
				doSign('login');
			})
			load_menu({{if .SetLang}}{{.SetLang}}{{end}});*/
		{{else}}
			//g_menuShow = false;
			//load_menu();
			
			//setTimeout(function(){
				$( "#dl_content" ).load( "content", { tpl_name: 'home'}, function() {
					load_menu(undefined, 'dashboard_default');
					NProgressStart.done();
				});
			//}, 100);
		{{end}}
	});
</script>
</head>
<body class="layout-fixed">
	<a href="#" id="hamburger" class="visible-xs">
		<span class="hamburger hamburger--collapse">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</span>
	</a>
	<div id="dl_page">
		<div class="wrapper">
			<div class="nav_hist">
				<a href="#" id="hist_back" onclick="return hist_back();" style="display:none;">Back</a>
				<a href="#" id="hist_forward" onclick="return hist_forward();" style="display:none;">Forward</a>
			</div>
			<div id="dl_menu"></div>
			<section>
				<div id="dl_content" class="content-wrapper"></div>
			</section>
		</div>
	</div>
	<div id="dl_modal"></div>
	<div id="loader"></div>
	<div style="display: none;">
		<div id="key">key</div>
		<div id="password">password</div>
		<img  id="image_key" alt="" />
		<canvas  id="canvas_key"></canvas>
	</div>
	<button id="notify" class="hidden" type="button" data-notify="" data-message="" data-options=""></button>
	<div id="triangles">
		<div id="triangles_output" class="triangles"></div>
		<div id="triangles_controls" class="controls" style="visibility:hidden;"></div>
	</div>
</body>
</html>