{{ define "interface" }}
<style>
	.textEditor {
		position:relative;
		font-size:0px;
		padding-top:1px;
		padding-bottom:1px;
	}
	.textEditor code  {
		position:relative;
		font: 14px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
		line-height:17px;
		z-index:1;
    }
	.textEditor section  {
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
        height:100%;
		z-index:2;
    }
</style>

<script>
	var i = 0;
	
	$(".textEditor").each(function() {
		i += 1;
		$(this).find("section").attr("id", "textEditor_" + i);
		var editor = ace.edit($(this).find("section").attr("id"));
		var JavaScriptMode = ace.require("ace/mode/markdown").Mode;
		editor.setTheme("ace/theme/chrome");
		editor.session.setMode(new JavaScriptMode());
		editor.setShowPrintMargin(false);
		editor.getSession().setUseWrapMode(true);
		editor.renderer.setShowGutter(false);
		editor.setReadOnly(true);
	});
</script>

	<div class="content-heading">
		Interface
	</div>
	<ol class="breadcrumb">
	   {{if not .Global}}
			<li class="active">Interface</li>
	   {{else}}
		   <li><a href="#" onclick="load_page('interface')">Interface</a></li>
		   <li class="active">Global</li>
	   {{end}}
	</ol>
	<!-- START panel-->
	<div class="panel panel-default">
	 <div class="panel-heading">
	 	<div class="panel-title">
			Pages
		</div>
	 </div>
	 <div class="panel-body">
		<div class="table-responsive">
		   <table class="table table-striped table-bordered table-hover">
			  <tbody>
			  <tr>
				  <td width="150">Name</td>
				  <td width="450" style="min-width:275px;">Value</td>
				  <td>Menu</td>
				  <td>Conditions for change </td>
				  <td width="50"></td>
			  </tr>
			  {{ range $value := .InterfacePages }}
				 <tr>
					 <td class="thead"><strong>{{$value.name}}</strong></td>
					 <td>
					 	<pre class="textEditor">
							<code>{{$value.value}}</code>
							<section>{{$value.value}}</section>
						</pre>
					 </td>
					 <td><strong>{{$value.menu}}</strong></td>
					 <td><strong>{{$value.conditions}}</strong></td>
					 <td><button type="button" class="btn btn-primary" onclick="load_page('editPage', {name: {{$value.name}}, global: {{$.Global}} } )">edit</button></td>
				 </tr>
			  {{end}}
			  </tbody>
		   </table>
		</div>
	 </div>
	 <div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-left">
			 <button type="button" class="btn btn-primary" onclick="load_page('newPage', {global: {{.Global}} } )">Add page</button>
		  </div>
	   </div>
	  </div>

	</div>
	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="panel-title">
				Menu
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<tbody>
					<tr>
						<td width="150">Name</td>
						<td width="450" style="min-width:275px;">Value</td>
						<td>Conditions for change</td>
						<td width="50"></td>
					</tr>
					{{ range $value := .InterfaceMenu }}
					<tr>
						<td class="thead"><strong>{{$value.name}}</strong></td>
						<td>
							<pre class="textEditor">
								<code>{{$value.value}}</code>
								<section>{{$value.value}}</section>
							</pre>
						</td>
						<td><strong>{{$value.conditions}}</strong></td>
						<td><button type="button" class="btn btn-primary" onclick="load_page('editMenu', {name: {{$value.name}}, global: {{$.Global}} } )">edit</button></td>
					</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
	   <div class="clearfix">
		  <div class="pull-left">
			 <button type="button" class="btn btn-primary" onclick="load_page('newMenu', {global: {{.Global}}} )">Add menu</button>
		  </div>
	   </div>
	  </div>
	</div>
	<!-- END panel-->
	{{if not .Global}}
	<div class="text-center">
		<button type="button" class="btn btn-info" onclick="load_page('interface', {global: 1})">Global</button>
	</div>
	{{end}}
{{end}}