{{ define "interface" }}
<style>
	.textEditor {
		position:relative;
		font-size:0px;
		padding-top:1px;
		padding-bottom:1px;
	}
	.textEditor code  {
		position:relative;
		font: 14px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
		line-height:17px;
		z-index:1;
    }
	.textEditor section  {
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
        height:100%;
		z-index:2;
    }
</style>

    {{if ne .Global "1"}}
		<div class="content-heading">
		  <div class="pull-right">
			  <button type="button" class="btn btn-green" onclick="load_page('interface', {global: 1})"><em class="fa fa-globe fa-fw mr-sm"></em>Global</button>
			  <button type="button" class="btn btn-default" onclick="load_page('newPage', {global: {{.Global}} } )"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add page</button>
			  <button type="button" class="btn btn-default" onclick="load_page('newMenu', {global: {{.Global}}} )"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add menu</button>
		  </div>
		  Interface
		</div>
    {{else}}
		<div class="content-heading">
		  <div class="pull-right">
			  <button type="button" class="btn btn-default" onclick="load_page('newPage', {global: {{.Global}} } )"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add page</button>
			  <button type="button" class="btn btn-default" onclick="load_page('newMenu', {global: {{.Global}}} )"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add menu</button>
		  </div>
		  Global
		</div>
		<ol class="breadcrumb">
		   <li><a href="#" onclick="load_page('interface')">Interface</a></li>
	   </ol>
    {{end}}
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
			 <div class="panel-heading">
				<div class="panel-title">
					Pages
				</div>
			 </div>
			 <div class="panel-body">
				<div class="table-responsive">
				   <table class="table table-striped table-bordered table-hover">
					  <tbody>
					  {{ range $value := .InterfacePages }}
						 <tr>
							 <td><strong>{{$value.name}}</strong></td>
							 <td width="50"><button type="button" class="btn btn-labeled btn-default" onclick="load_page('editPage', {name: {{$value.name}}, global: {{$.Global}} } )"><span class="btn-label"><em class="fa fa-edit"></em></span></button></td>
						 </tr>
					  {{end}}
					  </tbody>
				   </table>
				</div>
			 </div>
			</div>
		</div>
		<div class="col-md-4 two_col">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">
						Menu
					</div>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
					   <table class="table table-striped table-bordered table-hover">
						  <tbody>
						  {{ range $value := .InterfaceMenu }}
							 <tr>
								 <td><strong>{{$value.name}}</strong></td>
								 <td width="50"><button type="button" class="btn btn-labeled btn-default" onclick="load_page('editMenu', {name: {{$value.name}}, global: {{$.Global}} } )"><span class="btn-label"><em class="fa fa-edit"></em></span></button></td>
							 </tr>
						  {{end}}
						  </tbody>
					   </table>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}