{{ define "listOfTables" }}
<script>
	$(".aside .nav li").removeClass("active");
	$(".citizen, .citizen_listOfTables").addClass("active");
</script>
	
	{{if not .Global}}
		<div class="content-heading">
		  <div class="pull-right">
			  <button type="button" class="btn btn-green" onclick="load_page('listOfTables', {global: 1})"><em class="fa fa-globe fa-fw mr-sm"></em>Global</button>
			  <button type="button" class="btn btn-default" onclick="load_page('stateParameters')"><em class="fa fa-cogs fa-fw mr-sm"></em>State parameters</button>
			  <button type="button" class="btn btn-default" onclick="load_page('newTable', {global: {{.Global}} })"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add new</button>
		  </div>
		  List Of Tables
		</div>
    {{else}}
		<div class="content-heading">
		  <div class="pull-right">
			  <button type="button" class="btn btn-default" onclick="load_page('newTable', {global: {{.Global}} })"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add new</button>
		  </div>
		  Global
		</div>
		<ol class="breadcrumb">
		   <li><a href="#" onclick="load_page('listOfTables')">List Of Tables</a></li>
	   </ol>
    {{end}}
	
	<!-- START panel-->
	<div class="panel panel-default">
	 <!--<div class="panel-heading">
	 	<div class="panel-title">
			List Of Tables
		</div>
	 </div>-->
	 <div class="panel-body">
		<div class="table-responsive">
		   <table class="table table-striped table-bordered table-hover">
			  <thead>
				  <tr>
					  <td>table name</td>
					  <td width="100">count</td>
					  <td width="50" align="center">show</td>
					  <td width="50" align="center">edit</td>
				  </tr>
			  </thead>
			  <tbody>
			  {{ range $value := .Tables }}
				 <tr>
					 <td class="thead"><strong>{{$value.name}}</strong></td>
					 <td><strong>{{$value.count}}</strong></td>
					 <td><button type="button" class="btn btn-primary" onclick="load_page('showTable', {name: {{$value.name}}, global:{{$.Global}}} )">show</button></td>
					 <td><button type="button" class="btn btn-primary" onclick="load_page('editTable', {name: {{$value.name}}, global:{{$.Global}}} )">edit</button></td>
				 </tr>
			  {{end}}
			  </tbody>
		   </table>
		</div>
	 </div>
	</div>
{{end}}