{{ define "loginECDSA" }}

<style>
	#triangles {
		display:block;
	}
	.wrapper {
		display:flex;
		flex-flow:row wrap;
		align-items:flex-start;
		align-content:center;
		max-width:600px;
		overflow-x:visible;
		border:0px;
		box-shadow:none;
		background-color:transparent;
	}
	.wrapper > section {
		flex:1 100%;
		border:0px;
		margin:0px !important;
		transition:none !important;
	}
	.content-wrapper {
		border-top:0px;
		padding:0px;
		margin:0px;
	}
	@media only screen and (min-width: 768px) {
		.content-wrapper {
			padding:0px;
		}
	}
	.flex {
		display:flex;
		flex-flow:row nowrap;
		justify-content:space-between;
	}
	.panel {
		margin:0px;
	}
	.brand .sweet-alert {
		padding-top:17px;
	}
	@media only screen and (max-width: 767px) {
		body {
			background-image:none;
			background-color:#ffffff;
		}
		#triangles {
			display:none;
		}
		.brand {
			border-radius:0px;
			box-shadow:none;
			padding-top:0px;
		}
		.brand:before, .brand:after {
			display:none;
		}
		.panel-footer {
			border:0px;
			background-color:#ffffff;
		}
	}
	h1 {
		margin-top:0px;
	}
	.state_0 i {
		background-image:url(static/countries/no_citizenship.png) !important;
		background-position:center center !important;
		background-size:auto 100% !important;
	}
	.accounts {
		text-align:left;
		padding: 0em;
		margin:0;
	}
	.accounts li {
		margin-left: 20px;
		padding:0;
	}
	#back {
		display:none;
		position:absolute;
		left:0px;
		top:15px;
	}
	#back span {
		font-size:26px;
	}
	@media only screen and (max-width: 767px) {
		textarea.form-control {
			height:80px;
		}
	}
</style>

<!-- START panel-->
<div class="brand panel panel-default" data-version="">
	<input type="hidden" id="prvkey" value="" />
	<input type="hidden" id="pubkey" value="" />
	
	<div id="login_form" class="start_form" style="display:none;" data-sweet-alert>
		<div class="panel-body">
			<h1 class="lang" lang-id="login"></h1>
			<form class="keyCode_13">
				<fieldset class="form-group" id="field-list">
					<label class="col-sm-3 control-label" for="list"></label>
					<div class="col-sm-9">
						<ul class="accounts" id="accounts">
						</ul>
					</div>
				</fieldset>
				<fieldset id="countries" class="form-group phrase" {{if .OneCountry}}style="display:none;"{{end}}>
					<label class="col-sm-3 control-label lang" for="phrase" lang-id="country"></label>
					<div class="col-sm-9">
						<select id="state_id" class="form-control">
							<option value="0" class="no_citizenship lang" selected="selected" lang-id="no_citizenship"></option>
							<!--<option value="0">-----</option>-->
							<!--{ range $id, $name := .States }
							<option value="{$id}">{$name}</option>
							{end}-->
						</select>
					</div>
				</fieldset>
				<fieldset class="s-box form-group" id="field-address">
					<label class="col-sm-3 control-label lang" for="address" lang-id="address"></label>
					<div class="col-sm-9">
						<input id="address" class="form-control" type="text" disabled/>
					</div>
				</fieldset>
				<fieldset class="form-group decpass">
					<label class="col-sm-3 control-label lang" for="decpass" lang-id="password"></label>
					<div class="col-sm-9">
						<input id="decpass" class="form-control" type="password"/>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="panel-footer flex buttons">
			<a href="" onclick="return import_form()" class="btn btn-link lang" lang-id="import_account"></a>
			{{if not .PrivCountry}}<a href="" onclick="return register_form()" class="btn btn-link lang" lang-id="create_account"></a>{{end}}
			<button type="button" class="submit btn btn-primary lang" data-tool="panel-refresh" onclick="preloader(this); return do_login();" id="login_btn" lang-id="login"></button>
		</div>
	</div>
	<div id="register_form" class="start_form" style="display:none;" data-sweet-alert>
		<div class="panel-body">
			<button type="button" class="btn btn-link" onclick="return do_register_back()" id="back" title="Back"><span class="glyphicons glyphicons-arrow-left"></span></button>
			<h1 style="padding-bottom: 10px;" class="noimport lang" lang-id="create_account"></h1>
			<h1 style="padding-bottom: 10px;display:none;" class="noregister lang" lang-id="import_account"></h1>
			<form class="keyCode_13">
				<fieldset class="s-box form-group phrase">
					<label id="lseed" class="col-sm-3 control-label lang" for="phrase" lang-id="account_seed"></label>
					<div class="col-sm-9 text-right">
						<textarea class="form-control" name="phrase" id="phrase" rows="5"></textarea>
						<input type="hidden" id="rep_phrase" value="">
						<div id="key_btn" style="margin-top:0px;position:relative;"  class="btn btn-default pull-right" onclick="document.getElementById('upload_key').click();" type="button">
							<span class="lang" lang-id="select_privatekey_file"></span>
							<input type="file"  id="upload_key" value="" style="visibility:hidden;position:absolute;">
						</div>
						<div class="clearfix">
							<button id="genseed" class="btn btn-default noimport pull-left lang" type="button" onclick="return do_phrase();" lang-id="generate_new_seed"></button>
							<button id="saveseed" class="btn btn-default noimport pull-right" type="button" data-clipboard-action="copy" data-clipboard-target="#phrase" onclick="return save_phrase(this);"></button>
						</div>
					</div>
				</fieldset>
				<fieldset class="form-group pass">
					<label id="lpass" class="col-sm-3 control-label lang" for="pass" lang-id="password"></label>
					<div class="col-sm-9">
						<input id="pass" class="form-control" type="password">
					</div>
				</fieldset>
				<fieldset class="form-group rep_pass noregister">
					<label class="col-sm-3 control-label lang" for="rep_pass" lang-id="repeat_password"></label>
					<div class="col-sm-9">
						<input id="rep_pass" class="form-control" type="password">
					</div>
				</fieldset>
			</form>
			<p class="noimport lang" id="notice" style="font-weight: bold;" lang-id="make_sure"></p>
		</div>
		<div class="panel-footer">
			<div class="noimport flex buttons">
				<a href="" onclick="return import_form()" class="btn btn-link btn-default lang" lang-id="import_account"></a>
				<a href="" onclick="return login_form()" class="islogin btn btn-link lang" lang-id="login"></a>
				{{if not .PrivCountry}}<button type="button" class="submit btn btn-primary lang" datax-tool="panel-refresh" onclick="return do_register(this, true)" id="create_btn" lang-id="create_account"></button>{{end}}
			</div>
			<div class="noregister flex buttons" style="display:none;">
				{{if not .PrivCountry}}<a href="" onclick="return register_form()" class="btn btn-link lang" lang-id="create_account"></a>{{end}}
				<a href="" onclick="return login_form()" class="islogin btn btn-link lang" lang-id="login"></a>
				<button type="button" class="submit btn btn-primary lang" data-tool="panel-refresh" onclick="return do_register(this, false)" id="import_btn" lang-id="import_account"></button>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->

<script language="JavaScript" type="text/javascript" src="static/js/keys.js"></script>
<script language="JavaScript" type="text/javascript">
g_menuShow = false;  // hide menu
$(".brand").attr("data-version", "v" + Version);

var repeat_step = false;
var backup = '';
var private = ''; // to delete?

//var copied = 0;
var passphraseText;
var passphraseTextCopy = 'Copy passphrase';
var passphraseTextSave = 'Save passphrase';

if (!isMobile) {
	passphraseText = passphraseTextSave;
} else {
	passphraseText = passphraseTextCopy;
}

$("#saveseed").text(passphraseText);

function save_phrase(el) {
	if (!isMobile/* || copied == 1*/) {
		/*if (clipboard) {
			clipboard.destroy();
		}*/
		backup = $( repeat_step ? "#rep_phrase" : "#phrase").val();
		var Data = new Blob([backup], {type: 'text/plain;charset=utf-8;'});
		if (navigator.msSaveBlob) {
			navigator.msSaveBlob(Data, 'egaas.txt');
		} else {
			var link = document.createElement('a');
			link.href = window.URL.createObjectURL(Data);
			link.setAttribute('download', 'egaas.txt');
			document.body.appendChild(link);    
			link.click();
			document.body.removeChild(link);    
		}
	} else {
		preloader(el);
		CopyToClipboard("#saveseed");
	}
	return false;
}

function do_register(obj, is_register) {
	var pass = $("#pass").val();
	var phrase = $("#phrase").val();

	if (pass.length < 6) {
		preloader(obj);
		Alert("Warning", "Password is too week. The length is less than 6.", "warning");
		return false;
	} 
	if (is_register && !repeat_step) {
		$("#key_btn").show();
		$("#back").show();
		$("#rep_pass").val( pass );
		$("#rep_phrase").val( phrase);
		$("#pass").val('');
		$("#phrase").val('');
		$("#genseed").hide();
		$("#lseed").html('Repeat account seed');
		$("#lpass").html('Repeat password');
		$("#notice").hide();
		repeat_step = true;
		/*if (isMobile) {
			copied = 1;
			$("#saveseed").text(passphraseTextSave);
		}*/
		return false;
	}
	preloader(obj);
	if (pass != $("#rep_pass").val()) {
		Alert("Warning", "Passwords do not match.", "warning");
		return false;
	} 
	if (is_register && repeat_step && phrase != $("#rep_phrase").val()) {
		Alert("Warning", "Account seeds do not match.", "warning");
		return false;
	}
	do_generate();
	GKey.Public = $("#pubkey").val();
//	address = hex_sha1( GKey.Public ).toLowerCase();
	GKey.Private = $("#prvkey").val();
	GKey.Password = pass;
	GKey.save(phrase);
	do_sign();
	return false;
}

function do_register_back() {
	var pass = $("#rep_pass").val();
	var phrase = $("#rep_phrase").val();
	
	$("#back").hide();
	$("#key_btn").hide();
	$("#pass").val(pass);
	$("#phrase").val(phrase);
	$("#genseed").show();
	$("#saveseed").show();
	$("#lseed").html('Account seed');
	$("#lpass").html('Password');
	$("#notice").show();
	repeat_step = false;
	/*if (isMobile) {
		copied = 0;
		$("#saveseed").text(passphraseTextCopy);
	}*/
	return false;
}

function do_sign() {
	NProgressStart.start();
	{{if .OneCountry}}
		$( "#state_id" ).val('{{.OneCountry}}');
	{{end}}
	
	$.get( 'ajax?json=ajax_get_uid',{}, function(data) {
		console.log(data);
		var key = GKey.Public;
		if (key.length > 128) {
			key = key.substr( 2 );
		}
		var sign = GKey.sign(data.uid);
		$.post( 'ajax?json=ajax_sign_in', {
				'sign': sign,
				'key': key,
				'state_id': $( "#state_id" ).val(),
				'citizen_id': GKey.CitizenId,
			}, function (data) {
				console.log('DATA', data, $( "#state_id" ).val());
				if (data.address) {
					GKey.StateId = $( "#state_id" ).val();
					GKey.add(data.address);
				}
				login_ok( data.result );
			}, 'JSON'
		)
	}, 'JSON');
}

function login_form() {
	$("#register_form").hide();
	$("#login_form").show();
	$("#address").val(GKey.Address ? GKey.Address : '');
	$("#login_form").removeClass("whirl standard");
/*	if ($("#accounts li").length) {
		$("#accounts li a").each(function() {
			
			if ($("#address").val() == $(this).html()) {
				$(this).click();
			} else {
				$("#accounts li:last a:first").click();
			}
		});
	}*/
	WatchForm();
	return false;
}

function register_form() {
	repeat_step = false;
	do_phrase();
	$("#key_btn").hide();
	$("#notice").show();
	$("#genseed").show();
	$("#saveseed").show();
	$("#lseed").html('Account seed');
	$("#lpass").html('Password');
	$("#login_form").hide();
	$(".noregister").hide();
	$("#register_form").show();
	$(".noimport").show();
	$("#state_id").val("");
	if (!$("#accounts li").length) {
		$(".islogin").hide();
	}
	WatchForm();
	return false;
}

function import_form() {
	if (!private.length)
		$("#phrase").val('');
	if (!private.length || private != $("#phrase").val()) {
		$("#phrase").val('');
		$("#key_btn").show();
	} else
		$("#key_btn").hide();
	$("#lseed").html('Account seed');
	$("#lpass").html('Password');
	$("#rep_pass").val('');
	$("#login_form").hide();
	$(".noimport").hide();
	$("#register_form").show();
	$(".noregister").show();
	if (!$("#accounts li").length) {
		$(".islogin").hide();
	}
	WatchForm();
	return false;
}

var encKey;
var loginAttempts = 0;

function do_login() {
	// Check encKey
	var pass = $("#decpass").val();
	
	if ($("#address").val() == "" && $("#decpass").val() == "") {
		Alert("Warning", "Enter the wallet address and the password, please", "warning");
		return false;
	}
	if ($("#address").val() == "") {
		Alert("Warning", "Enter the wallet address, please", "warning");
		return false;
	}
	if ($("#decpass").val() == "") {
		Alert("Warning", "Enter the password, please", "warning");
		return false;
	}
	
	if (GKey.decrypt(encKey, pass)) {
		GKey.StateId = $( "#state_id" ).val();
		GKey.save();
		do_sign();
	} else {
		loginAttempts++;
		//alert('Login Fail ' + loginAttempts + '/3');
		if (loginAttempts >= 3) {
			Alert("Login Fail", "Attempts - " + loginAttempts + "/3", "error", del_fail_address);
			loginAttempts = 0;
			localStorage.removeItem('EncKey');
			localStorage.removeItem('PubKey');
//			$("#address").html('');
			//import_form();
		} else {
			Alert("Login Fail", "Attempts - " + loginAttempts + "/3", "error");
		}
	}
}

function del_fail_address() {
	var wallet;
	var number;
	if ($("#accounts li").length) {
		$("#accounts li a").each(function() {
			if ($("#address").val() == $(this).html()) {
				wallet = $(this);
				number = $(this).attr("data-ind");
			}
		});
	}
	del_account(wallet, number);
}

function sel_account(ind) {
	var newAccount = GKey.Accounts[ind];
	localStorage.setItem('EncKey', newAccount.EncKey);
	localStorage.setItem('Encrypt', newAccount.Encrypt);
	localStorage.setItem('PubKey', newAccount.Public);
	localStorage.setItem('Address', newAccount.Address);
	localStorage.setItem('StateId', newAccount.StateId);
	localStorage.setItem('CitizenId', newAccount.CitizenId);
	
	GKey.Public = newAccount.Public;
	GKey.StateId = newAccount.StateId;
	GKey.CitizenId = newAccount.CitizenId;
	encKey = newAccount.EncKey;
	$("#address").val(newAccount.Address);
	return false;
}

function load_accounts() {
	var accounts = '';
	for (i=0;i<GKey.Accounts.length;i++) {
		accounts += '<li><a href="" onclick="return sel_account(' + i + ');" data-ind="' + i + '">' + GKey.Accounts[i].Address + 
		 '</a>&nbsp;&nbsp;&nbsp;<a class="atimes" href="" onclick="return del_account( this, ' + i + ');"><i class="fa fa-fw fa-times"></i></a></li>';
	}
	$("#accounts").html(accounts);
}

function del_account(obj, ind) {
	$(obj).parent().remove();
	GKey.Accounts.splice(ind, 1);
	localStorage.setItem('Accounts', JSON.stringify(GKey.Accounts));
	load_accounts();
	if ($("#accounts li").length) {
		$("#accounts li a").each(function() {
			
			if ($("#address").val() == $(this).html()) {
				$(this).click();
			} else {
				$("#accounts li:last a:first").click();
			}
		});
	}
	if (!GKey.Accounts.length) {
		import_form();
		$("#address").val("");
	}
	return false;
}

var selectbox = $("#state_id");

function WatchForm() {
	/*var el = $(".start_form");
	var list = $("#countries");
	el.each(function() {
		if ($(this).is(":visible")) {
			list.insertBefore($(this).find(".s-box"));
		}
	});*/
}

$(document).ready(function(){
/*	if (pubkey) {
		$("#address").html( 'Address: ' +  hex_sha1( pubkey ).toLowerCase());
	}*/
	load_accounts();
	if (!GKey.Public && !GKey.Accounts.length) {
		if (private.length)	{
			$("#phrase").val(private);
			import_form();
		} else {
			{{if .PrivCountry}}
				import_form();
			{{else}}
				do_phrase();
				register_form();
			{{end}}
		}
	} else if (localStorage.getItem('EncKey') || GKey.Accounts.length) {
		login_form();
	} else {
		import_form();
	}
	if (!localStorage.getItem('EncKey')) {
		//$(".islogin").hide();
	}
	encKey = localStorage.getItem('EncKey');
	selectboxState(JSON.parse({{.States}}));	
	{{if .OneCountry}}
		GKey.StateId = '{{.OneCountry}}';
		$( "#state_id" ).val('{{.OneCountry}}');
	{{end}}
	if (GKey.Private) {
		$( "#state_id" ).val(GKey.StateId);
//		document.getElementById('state_id').value = GKey.StateId;
		GKey.save();
		do_sign();
	} else {
		if ($("#accounts li").length) {
			$("#accounts li a").each(function() {
				
				if ($("#address").val() == $(this).html()) {
					$(this).click();
				} else {
					$("#accounts li:last a:first").click();
				}
			});
		}
	}
	
/*	$.ajax({
		type: 'GET',
		url: '/ajax?controllerName=AjaxStatesList',
		dataType: 'json',
		crossDomain: true,
		success: function(data) {
			selectboxState(data);
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});*/
});

$(document).on('keydown', function(e){
	if (e.keyCode == 13 && $(".keyCode_13").length) {
		if (!$(".select2-container--focus").length) {
			if (!$(".sweet-alert").is(":visible")) {
				$(".start_form:visible").find(".buttons:visible .submit").click();
			} else {
				$(".start_form:visible").find(".sweet-alert:visible .confirm").click();
				$("[data-sweet-alert]").removeClass("whirl standard");
			}
			return false;
		}
	}
	if (e.keyCode == 8 && $("#back:visible").length && !$("#register_form .form-control:focus").length) {
		do_register_back();
	}
});

function handleFileSelect(evt) {
//    $('#key_file_name').html(this.value);
	var f = evt.target.files[0];

//	 $('#key_file_name').html(f.name);
    var reader = new FileReader();
    reader.onload = (function(theFile) {
        return function(e) {
            console.log(e.target.result);
			$('#phrase').val(e.target.result);
        };
    })(f);
    reader.readAsText(f);
};

$( document ).ready(function() {
	var upload = document.getElementById('upload_key');
	if (upload)
		upload.addEventListener('change', handleFileSelect, false);
	updateLanguage(".lang");
});

		
</script>
<script type="text/javascript" src="static/js/triangles.js"></script>
{{end}}
