{{ define "loginECDSA" }}

<style>
	.wrapper {
		display:flex;
		flex-flow:row wrap;
		align-items:flex-start;
	}
	.wrapper > section {
		flex:1 100%;
		border:0px;
		margin:0px !important;
		transition:none !important;
	}
	.content-wrapper {
		border-top:0px;
	}
	.flex {
		display:flex;
		flex-flow:row nowrap;
		justify-content:space-between;
	}
	.accounts {
		text-align:left;
		padding: 0em;
		margin:0;
	}
	.accounts li {
		margin-left: 20px;
		padding:0;
	}
</style>

<div class="start_type">
	<input type="hidden" id="prvkey" value="" />
	<input type="hidden" id="pubkey" value="" />
	<div id="register_form" style="display:none;">
		<h1 style="padding-bottom: 10px;" class="noimport">Create account</h1>
		<h1 style="padding-bottom: 10px;display:none;" class="noregister">Import account</h1>
		<div id="extended_div" >
			<form class="extended_form">


				<fieldset class="form-group phrase">
					<label class="col-sm-3 control-label" for="phrase">Country</label>
					<div class="col-sm-9">
						<select id="state_id">
							<option value="0">-----</option>
							{{ range $data := .States }}
							<option value="{{index $data "id"}}">{{index $data "name"}}</option>
							{{end}}
						</select>
					</div>
				</fieldset>


				<fieldset class="form-group phrase">
					<label class="col-sm-3 control-label" for="phrase">Wallet seed or <br>Private key</label>
					<div class="col-sm-9">
						<textarea class="form-control" name="phrase" id="phrase" rows="5"></textarea>
						<button id="genseed" class="btn btn-default noimport" onclick="return do_phrase();">Generate new seed</button>
					</div>
				</fieldset>

				<fieldset class="form-group pass">
					<label class="col-sm-3 control-label" for="pass">Password</label>
					<div class="col-sm-9">
						<input id="pass" class="form-control" type="password">
					</div>
				</fieldset>
				<fieldset class="form-group rep_pass">
					<label class="col-sm-3 control-label" for="rep_pass">Repeat password</label>
					<div class="col-sm-9">
						<input id="rep_pass" class="form-control" type="password">
					</div>
				</fieldset>
			</form>
		</div>
		<div style="padding-top: 10px; text-align:left;" class="noimport">
			<div class="col-sm-3"></div>
			<div class="flex">
				<button type="button" class="btn btn-primary" style="vertical-align:top;" onclick="return do_register()">Create account</button>
				<a href="" onclick="return import_form()" class="btn btn-link btn-default">Import account</a>
				<a href="" onclick="return login_form()" class="islogin btn btn-link">Login</a>
			</div>
		</div>
		<div style="padding-top: 10px; text-align:left; display:none;" class="noregister">
			<div class="col-sm-3"></div>
			<div class="flex">
				<button type="button" class="btn btn-primary" style="vertical-align:top;" onclick="return do_register()">Import account</button>
				<a href="" onclick="return register_form()" class="btn btn-link">Create account</a>
				<a href="" onclick="return login_form()" class="islogin btn btn-link">Login</a>
			</div>
		</div>
	</div>
	
	<div id="login_form" style="display:none;">
		<h1 style="padding-bottom: 10px;">Login</h1>
		<div id="extended_div" >
			<form class="extended_form">
				<fieldset class="form-group" id="field-list">
					<label class="col-sm-3 control-label" for="list"></label>
					<div class="col-sm-9">
						<ul class="accounts" id="accounts">
						</ul>
					</div>
				</fieldset>
			
				<fieldset class="form-group" id="field-address">
					<label class="col-sm-3 control-label" for="address">Address</label>
					<div class="col-sm-9">
						<input id="address" class="form-control" type="text" disabled/>
					</div>
				</fieldset>

				<fieldset class="form-group decpass">
					<label class="col-sm-3 control-label" for="decpass">Password</label>
					<div class="col-sm-9">
						<input id="decpass" class="form-control" type="password"/>
					</div>
				</fieldset>
			</form>
		</div>
		<div style="padding-top:10px; text-align:left;">
			<div class="col-sm-3"></div>
			<div class="flex">
				<button type="button" class="btn btn-primary" style="vertical-align:top;" onclick="return do_login()">Login</button>
				<a href="" onclick="return import_form()" class="btn btn-link">Import account</a>
				<a href="" onclick="return register_form()" class="btn btn-link">Create account</a>
			</div>
		</div>
	</div>
</div>
<script language="JavaScript" type="text/javascript" src="static/js/keys.js"></script>
<script language="JavaScript" type="text/javascript">
g_menuShow = false;  // hide menu

function do_register() {
	var pass = $("#pass").val();
	if (pass.length < 6) {
		alert('Password is too week. The length is less than 6.');
		return false;
	} 
	if (pass != $("#rep_pass").val()) {
		alert('Passwords do not match');
		return false;
	} 
	do_generate();
	GKey.Public = $("#pubkey").val();
//	address = hex_sha1( GKey.Public ).toLowerCase();
	GKey.Private = $("#prvkey").val();
	GKey.Password = pass;
	GKey.save($("#phrase").val());
	do_sign();
	return false;
}

function do_sign() {
	$.get( 'ajax?json=ajax_get_uid',{}, function(data) {
		console.log(data);
		var key = GKey.Public;
		if (key.length > 128) {
			key = key.substr( 2 );
		}
		var sign = GKey.sign(data.uid);
		$.post( 'ajax?json=ajax_sign_in', {
				'sign': sign,
				'key': key,
				'state_id': $( "#state_id" ).val(),
				'citizen_id': GKey.CitizenId,
			}, function (data) {
				if (data.address) {
					GKey.add(data.address);
				}
				login_ok( data.result );
			}, 'JSON'
		)
	}, 'JSON');
}

function login_form() {
	$("#register_form").hide();
	$("#login_form").show();
	$("#address").val(GKey.Address ? GKey.Address : '');
	return false;
}

function register_form() {
	$("#login_form").hide();
	$(".noregister").hide();
	$("#register_form").show();
	$(".noimport").show();
	return false;
}

function import_form() {
	$("#login_form").hide();
	$(".noimport").hide();
	$("#register_form").show();
	$(".noregister").show();
	return false;
}

var encKey;
var loginAttempts = 0;

function do_login() {
	// Check encKey
	
	var pass = $("#decpass").val();
	if (GKey.decrypt(encKey, pass)) {
		GKey.save();
		do_sign();
	} else {
		loginAttempts++;
		alert('Login Fail ' + loginAttempts + '/3');
		if (loginAttempts > 3) {
			loginAttempts = 0;
			localStorage.removeItem('EncKey');
			localStorage.removeItem('PubKey');
//			$("#address").html('');
			import_form();
		}
	}
}

function sel_account(ind) {
	var newAccount = GKey.Accounts[ind];
	localStorage.setItem('EncKey', newAccount.EncKey);
	localStorage.setItem('Encrypt', newAccount.Encrypt);
	localStorage.setItem('PubKey', newAccount.Public);
	localStorage.setItem('Address', newAccount.Address);
	localStorage.setItem('StateId', newAccount.StateId);
	localStorage.setItem('CitizenId', newAccount.CitizenId);
	
	GKey.Public = newAccount.Public;
	GKey.StateId = newAccount.StateId;
	GKey.CitizenId = newAccount.CitizenId;
	encKey = newAccount.EncKey;
	$("#address").val(newAccount.Address);
	return false;
}

function load_accounts() {
	var accounts = '';
	for (i=0;i<GKey.Accounts.length;i++) {
		accounts += '<li><a href="" onclick="return sel_account(' + i + ');">' + GKey.Accounts[i].Address + 
		 '</a>&nbsp;&nbsp;&nbsp;<a class="atimes" href="" onclick="return del_account( this, ' + i + ');"><i class="fa fa-fw fa-times"></i></a></li>';
	}
	$("#accounts").html(accounts);
}

function del_account(obj, ind) {
	$(obj).parent().remove();
	GKey.Accounts.splice(ind, 1);
	localStorage.setItem('Accounts', JSON.stringify(GKey.Accounts));
	load_accounts();
	if (!GKey.Accounts.length) {
		import_form();
	}
	return false;
}


$(document).ready(function(){
/*	if (pubkey) {
		$("#address").html( 'Address: ' +  hex_sha1( pubkey ).toLowerCase());
	}*/
	do_phrase();
	load_accounts();
	if (!GKey.Public && !GKey.Accounts.length) {
		register_form();
	} else if (localStorage.getItem('EncKey') || GKey.Accounts.length) {
		login_form();
	} else {
		import_form();
	}
	if (!localStorage.getItem('EncKey')) {
		$(".islogin").hide();
	}
	encKey = localStorage.getItem('EncKey');
	if (GKey.Private) {
		do_sign();
	}
});
	
</script>
{{end}}
