<script>
	var lastBlock = 1;
	var BlockNumberID = $("#BlockNumber");
	$(".version").text("v" + Version);
	
	function updateBlockNumber(){
		console.log('update');
		$.ajax({
			type: 'POST',
			url: 'ajax?json=ajax_explorer',
			data: {
				latest: lastBlock
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				lastBlock = data.latest;
				BlockNumberID.text(lastBlock);
				IgnoreTimer = setTimeout(updateBlockNumber, 4000);
			},
			error: function(xhr, status, error) {
				IgnoreTimer = setTimeout(updateBlockNumber, 4000);
			}
		});
	}
</script>
<!-- top navbar-->
<header class="topnavbar-wrapper">
 <!-- START Top Navbar-->
 <nav role="navigation" class="navbar topnavbar">
	<!-- START navbar header-->
	<div class="navbar-header">
	   <a href="#" class="navbar-brand" onclick="dl_navigate('beta');">
		  <div class="brand-logo hidden-xs">
			 <!--<span class="beta">Testing</span>-->
			 <span class="version"></span>
			 <img src="static/img/logo.svg" alt="App Logo" class="img-responsive">
		  </div>
		  <!--<div class="brand-logo-collapsed visible-xs">
			 <span class="beta">Testing</span>
			 <span class="version hidden-xs"></span>
			 <img src="static/img/logo_null.svg" alt="App Logo" class="img-responsive">
		  </div>-->
	   </a>
	</div>
	<!-- END navbar header-->
	<div class="content-heading"></div>
	<!-- START Nav wrapper-->
	<div class="nav-wrapper">
	   <!-- START Left navbar-->
	   <ul class="nav navbar-nav">
		  <li>
			 <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
			 <!--<a href="#" data-trigger-resize="" data-toggle-state="aside-collapsed" class="hidden-xs">
				<em class="fa fa-navicon"></em>
			 </a>-->
			 <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
			 <!--<a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle mobile_menu">-->
			 <!--<a href="#mmenu" class="visible-xs sidebar-toggle mobile_menu">
				<em class="fa fa-navicon"></em>
				<div class="patty"></div>
			 </a>-->
		  </li>
		  {{if ne .Data.CitizenId 0}}
		  <!-- START User avatar toggle-->
		  <!--<li>
			  <a id="user-block-toggle" class="hidden-xs" href="#user-block" data-toggle="collapse">
				<em class="icon-user"></em>
			 </a>
		  </li>-->
		  <!-- END User avatar toggle-->
		  {{end}}
	   </ul>
	   <!-- END Left navbar-->
	   <!-- START Right Navbar-->
	   <ul class="nav navbar-nav navbar-right">
		 {{if .UpdVer}}
		  <li class="dropdown dropdown-list">
			Version {{.UpdVer}} is available. <a href="#" onClick="load_page('upgrade');">Upgrade</a>
		  </li>
		 {{end}}
		  <!--<li class="hidden-xs">
			 <a id="BlockNumber" href="#" onClick="load_page('block_explorer', {singlePage: 1});">0</a>
		  </li>-->
		  <!-- START Language menu-->
		  <li class="language dropdown dropdown-list hidden-xs">
			 <a href="#" class="current_language" data-toggle="dropdown">
				<em id="langflag" class="gb flag"></em>
				<span class="lang" lang-id="lng"></span>
				<i class="fa fa-angle-down"></i>
			 </a>
			 <ul class="dropdown-menu animated flipInX">
				<li>
				   <div class="list-group">
					  <a href="#" class="list-group-item" onClick="changeLanguage('gb')">
						 <div class="media-box">
							<div class="pull-left">
							   <em class="gb flag"></em>
							</div>
							<div class="media-box-body clearfix">
							   <p class="m0">English (UK)</p>
							</div>
						 </div>
					  </a>
					  <a href="#" class="list-group-item" onClick="changeLanguage('nl')">
						 <div class="media-box">
							<div class="pull-left">
							   <em class="nl flag"></em>
							</div>
							<div class="media-box-body clearfix">
							   <p class="m0">Nederlands (NL)</p>
							</div>
						 </div>
					  </a>
				   </div>
				</li>
			 </ul>
		  </li>
		  <!-- END Language menu-->
		  <!-- START Alert menu-->
		  <li class="dropdown dropdown-list hidden-xs">
			 <a href="#" data-toggle="dropdown">
				<em class="icon-bell"></em>
				<!--<div class="label label-danger">11</div>-->
			 </a>
			 <!-- START Dropdown menu-->
			 <ul class="dropdown-menu animated flipInX">
				<li>
				   <!-- START list group-->
				   <div class="list-group">
					  <div class="list-group-item">
						 <small>No notifications</small>
					  </div>
					  <!--<a href="#" class="list-group-item">
						 <small>More notifications</small>
						 <span class="label label-danger pull-right">14</span>
					  </a>-->
				   </div>
				   <!-- END list group-->
				</li>
			 </ul>
			 <!-- END Dropdown menu-->
		  </li>
		  <!-- END Alert menu-->
		  <!-- START Offsidebar button-->
		  <li class="hidden-xs">
			 <a href="" onclick="return logout()">
				<em class="icon-logout"></em>
			 </a>
		  </li>
		  <!-- END Offsidebar menu-->
	   </ul>
	   <!-- END Right Navbar-->
	</div>
	<!-- END Nav wrapper-->
 </nav>
 <!-- END Top Navbar-->
</header>
<!-- sidebar-->
<!--<aside class="aside">-->
 <!-- START Sidebar (left)-->
 <!--<div class="aside-inner">-->
	<!--<nav data-sidebar-anyclick-close="" class="sidebar">-->
	<nav id="mmenu">
	   <!-- START sidebar nav-->
	   <ul id="mmenu-panel" class="nav">
		  <!-- START user info-->
		  <li class="has-user-block">
			 <span id="user-block">
				<div class="item user-block">
				   <!-- User picture-->
				   <div class="user-block-picture user-block-info">
				   		<div class="img-thumbnail img-circle" {{if .CitizenAvatar}}style="cursor:pointer;" onclick="load_template('citizen_profile');"{{end}}>
							<img id="Avatar" class="img-circle" src="static/img/avatar.svg" alt="" />
						</div>
						{{if .CitizenAvatar}}<script>document.getElementById('Avatar').setAttribute( 'src', '{{.CitizenAvatar}}' ); </script>{{end}}
						<span class="user-block-name">{{if .CitizenName}}{{.CitizenName}}{{else}}Anonym{{end}}</span>
						<!--<img id="menu-flag" class="menu-flag" src="static/countries/no_citizenship.png" alt="" />
						{{if .StateFlag}}
							<script>document.getElementById('menu-flag').setAttribute('src', '{{.StateFlag}}');</script>
						{{end}}-->
						<span class="user-block-role">{{if .StateName}}{{.StateName}}{{else}}No citizenship{{end}}</span>
				   </div>
				</div>
			 </span>
		  </li>
		  <!-- END user info-->
		  <!-- Iterates over all sidebar items-->
		  <!--<li class="nav-heading ">
			 <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
		  </li>-->
{{if .MainMenu}}	
 		{{noescape .Menu}}		
{{else}}
		  <li>
			 <span>
				<em class="icon-user"></em>
				<span class="lang" lang-id="egs_wallet"></span>
			 </span>
			 <ul>
				<li class="{{if not .Menu}}active{{end}}">
				   <a href="#" title="Dashboard" onclick="dl_navigate0('dashboardAnonym');" class="lang" lang-id="dashboard"></a>
				</li>
				<li>
				   <a href="#" title="Money transfer" onclick="dl_navigate0('anonymMoneyTransfer');" class="lang" lang-id="money_transfer"></a>
				</li>
				{{if .Btc}}
				<li>
				   <a href="#" title="{{.Btc}}" onclick="load_page('btc');">{{.Btc}}</a>
				</li>
				{{end}}
				<li>
				   <a href="#" title="History" onclick="load_page('history');" class="lang" lang-id="history"></a>
				</li>
				<li>
				   <a href="#" title="Forging" onclick="dl_navigate0('forging');" class="lang" lang-id="forging"></a>
				</li>
				<li>
				   <a href="#" title="Backup" onclick="load_page('backup');" class="lang" lang-id="backup"></a>
				</li>
				 <li>
					 <a href="#" title="Create a new state" onClick="load_page('newState');" class="lang" lang-id="create_new_state"></a>
				 </li>
				{{if .CanCitizen}}
				 <li>
					 <a href="#" title="Request for citizenship" onClick="load_page('smart_request_citizen');" class="lang" lang-id="request_citizenship"></a>
				 </li>
				{{end}}
			 </ul>
		  </li>
		  
			<li>
				<span>
					<em class="icon-emotsmile"></em>
					<span>Menu</span>
				</span>
				<ul>
					<li>
						<a href="#" title="Submenu 1">Submenu 1</a>
					</li>
					<li>
						<a href="#" title="Submenu 1">Submenu 1</a>
					</li>
					<li>
						<span>
							<em class="icon-emotsmile"></em>
							<span>Submenu 1</span>
						</span>
						<ul>
							<li>
								<span>
									<em class="icon-emotsmile"></em>
									<span>Submenu 2</span>
								</span>
								<ul>
									<li>
										<a href="#" title="Submenu 3">Submenu 3</a>
									</li>
									<li>
										<a href="#" title="Submenu 3"><em class="icon-emotsmile"></em> Submenu 3</a>
									</li>
									<li>
										<a href="#" title="Submenu 3">Submenu 3</a>
									</li>
									<li>
										<a href="#" title="Submenu 3">Submenu 3</a>
									</li>
									<li>
										<a href="#" title="Submenu 3">Submenu 3</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" title="Submenu 2">Submenu 2</a>
							</li>
							<li>
								<a href="#" title="Submenu 2">Submenu 2</a>
							</li>
							<li>
								<a href="#" title="Submenu 2">Submenu 2</a>
							</li>
							<li>
								<a href="#" title="Submenu 2">Submenu 2</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Submenu 1">Submenu 1</a>
					</li>
					<li>
						<a href="#" title="Submenu 1">Submenu 1</a>
					</li>
				</ul>
			</li>

		   <li>
			   <a href="#" title="Government" onClick="load_page('system_info');">
				   <em class="icon-map"></em>
				   <span>System</span>
			   </a>
		   </li>

		  {{if .Menu}}
		  <li>
			 <span>
				<em class="icon-home"></em>
				<span class="lang" lang-id="citizen"></span>
			 </span>
			 <ul>
				 {{noescape .Menu}}
			 </ul>
		  </li>
		  {{end}}
{{end}}
		  <li class="company Demo">
			 <a href="#dco" title="Company" data-toggle="collapse" class="toggle-hover">
				<em class="fa fa-building-o"></em>
				<span>Company</span>
			 </a>
			 <ul id="dco" class="nav sidebar-subnav collapse">
				<li class="sidebar-subnav-header">Company</li>
				<li class="dashboard_company">
				   <a href="#dashboard_company" title="Dashboard" >
					  <span>Dashboard</span>
				   </a>
				</li>
				<li class="company_new_company">
				   <a href="#company_new_company" title="New company" >
					  <span>New company</span>
				   </a>
				</li>
				<li class="company_crowdfunding">
				   <a href="#company_crowdfunding" title="CrowdFunding" >
					  <span>CrowdFunding</span>
				   </a>
				</li>
				<li class="company_new_shares">
				   <a href="#company_new_shares" title="New shares" >
					  <span>New shares</span>
				   </a>
				</li>
				<li class="company_new_good">
				   <a href="#company_new_good" title="New good" >
					  <span>New good</span>
				   </a>
				</li>
				<li class="company_new_item">
				   <a href="#company_new_item" title="New item" >
					  <span>New item</span>
				   </a>
				</li>
				<li class="company_new_order">
				   <a href="#company_new_order" title="New order" >
					  <span>New order</span>
				   </a>
				</li>
				<li class="company_currency_exchange">
				   <a href="#company_currency_exchange" title="Currency Exchange" >
					  <span>Currency Exchange</span>
				   </a>
				</li>
				<li class="company_shares_exchange">
				   <a href="#company_shares_exchange" title="Shares Exchange" >
					  <span>Shares Exchange</span>
				   </a>
				</li>
			 </ul>
		  </li>
		  <li class="health Demo">
			 <a href="#dh" title="Health" data-toggle="collapse" class="toggle-hover">
				<em class="fa fa-medkit"></em>
				<span>Health</span>
			 </a>
			 <ul id="dh" class="nav sidebar-subnav collapse">
				<li class="sidebar-subnav-header">Health</li>
				<li class="dashboard_health">
				   <a href="#dashboard_health" title="Dashboard" >
					  <span>Dashboard</span>
				   </a>
				</li>
				<li class="health_patient">
				   <a href="#dhp" title="Patient" data-toggle="collapse">
					  <em class="fa fa-angle-right"></em>
					  <span>Patient</span>
				   </a>
				   <ul id="dhp" class="nav sidebar-subnav collapse">
					<li class="sidebar-subnav-header">Patient</li>
					<li class="health_patient_d">
					   <a href="#health_patient" title="Dashboard" >
						  <span>Dashboard</span>
					   </a>
					</li>
					<li class="health_vital_signs">
					   <a href="#health_vital_signs" title="Vital Signs" >
						  <span>Vital Signs</span>
					   </a>
					</li>
					<li class="health_symptom">
					   <a href="#health_symptom" title="Add symptom" >
						  <span>Add symptom</span>
					   </a>
					</li>
					<li class="health_entries_clinic">
					   <a href="#health_entries_clinic" title="Write to the clinic" >
						  <span>Write to the clinic</span>
					   </a>
					</li>
					<li class="health_procedure">
					   <a href="#health_procedure" title="Add procedure" >
						  <span>Add procedure</span>
					   </a>
					</li>
				   </ul>
				</li>
				<li class="health_facility">
				   <a href="#health_facility" title="Health facility" >
					  <span>Health facility</span>
				   </a>
				</li>
			 </ul>
		  </li>
		  <li class="cb Demo">
			 <a href="#dcb" title="CB" data-toggle="collapse" class="toggle-hover">
				<em class="fa fa-money"></em>
				<span>CB</span>
			 </a>
			 <ul id="dcb" class="nav sidebar-subnav collapse">
				<li class="sidebar-subnav-header">CB</li>
				<li class="dashboard_cb">
				   <a href="#dashboard_cb" title="Dashboard" >
					  <span>Dashboard</span>
				   </a>
				</li>
				<li class="cb_citizens">
				   <a href="#cb_citizens" title="Citizens" >
					  <span>Citizens</span>
				   </a>
				</li>
				<li class="cb_representatives">
				   <a href="#cb_representatives" title="Representatives" >
					  <span>Representatives</span>
				   </a>
				</li>
				<li class="cb_delegate">
				   <a href="#cb_delegate" title="Delegate" >
					  <span>Delegate</span>
				   </a>
				</li>
				<li class="cb_select_emission">
				   <a href="#cb_select_emission" title="Emission" >
					  <span>Emission</span>
				   </a>
				</li>
				<li class="cb_currency_exchange">
				   <a href="#cb_currency_exchange" title="Currency exchange" >
					  <span>Currency exchange</span>
				   </a>
				</li>
			 </ul>
		  </li>
		  <li class="gov Demo">
			 <a href="#dg" title="Government" data-toggle="collapse" class="toggle-hover">
				<em class="icon-map"></em>
				<span>Government</span>
			 </a>
			 <ul id="dg" class="nav sidebar-subnav collapse">
				<li class="sidebar-subnav-header">Government</li>
				<li class="dashboard_gov">
				   <a href="#dashboard_gov" title="Dashboard" >
					  <span>Dashboard</span>
				   </a>
				</li>
				<li class="gov_citizens">
				   <a href="#dgc" title="Patient" data-toggle="collapse">
					  <em class="fa fa-angle-right"></em>
					  <span>Citizens</span>
				   </a>
				   <ul id="dgc" class="nav sidebar-subnav collapse">
					<li class="sidebar-subnav-header">Citizens</li>
					<li class="gov_citizens_d">
					   <a href="#gov_citizens" title="Dashboard" >
						  <span>Dashboard</span>
					   </a>
					</li>
					<li class="gov_register_citizen">
					   <a href="#gov_register_citizen" title="Register citizen" >
						  <span>Register citizen</span>
					   </a>
					</li>
					<li class="gov_register_property">
					   <a href="#gov_register_property" title="Register property" >
						  <span>Register property</span>
					   </a>
					</li>
					<li class="gov_birth_statement">
					   <a href="#gov_birth_statement" title="Birth statement" >
						  <span>Birth statement</span>
					   </a>
					</li>
					<li class="gov_date_death">
					   <a href="#gov_date_death" title="Date of death" >
						  <span>Date of death</span>
					   </a>
					</li>
				   </ul>
				</li>
				<li class="gov_create_budget">
				   <a href="#gov_create_budget" title="Create budget" >
					  <span>Create budget</span>
				   </a>
				</li>
				<li class="gov_settings">
				   <a href="#gov_settings" title="Settings" >
					  <span>Settings</span>
				   </a>
				</li>
				<li class="gov_taxes">
				   <a href="#gov_taxes" title="Taxes" >
					  <span>Taxes</span>
				   </a>
				</li>
				<li class="gov_currency_exchange">
				   <a href="#gov_currency_exchange" title="Currency Exchange" >
					  <span>Currency Exchange</span>
				   </a>
				</li>
				<li class="gov_shares_exchange">
				   <a href="#gov_shares_exchange" title="Shares Exchange" >
					  <span>Shares Exchange</span>
				   </a>
				</li>
			 </ul>
		  </li>
		  <li class="html_elements Demo">
			   <a href="#html_elements" title="HTML-Elements">
				   <em class="fa fa-html5"></em>
				   <span>HTML-Elements</span>
			   </a>
		  </li>
		  <li class="visible-xs">
			 <span>
				<em class="fa fa-language"></em>
				<span>Language</span>
			 </span>
			 <ul id="language">
				<li>
				   <a href="#" onClick="changeLanguage('gb');">
					  <span>Enghlish (UK)</span>
				   </a>
				</li>
				<li>
				   <a href="#" onClick="changeLanguage('nl');">
					  <span>Nederlands (NL)</span>
				   </a>
				</li>
			 </ul>
		  </li>
		  <li id="exit">
			 <!--<a href="#mmenu-panel">
				<em class="icon-home"></em>
				<span>Home</span>
			 </a>-->
			 <a href="" onclick="return logout();">
				<!--<em class="icon-logout"></em>
				<span>Exit</span>-->
				<i class="fa fa-power-off" aria-hidden="true"></i>
			 </a>
		  </li>
		  <li id="DemoButton">
		  	<button class="btn btn-default btn-demo" type="button" onClick="Demo();">
			<span class="fa fa-eye"></span><em> Show opportunities</em></button>
			<input id="demo" type="hidden" value="0">
		  </li>
	   </ul>
	   <!-- END sidebar nav-->
	</nav>
<!-- </div>-->
 <!-- END Sidebar (left)-->
<!--</aside>-->
<style>
	#DemoButton {
		display:none;
	}
</style>
<script>
	$(document).ready(function(){
		updateLanguage('#mmenu .lang');
		
		$("#mmenu").mmenu({
			extensions: ['widescreen', 'theme-white', 'effect-menu-slide', 'pagedim-black'],
			navbar: {
				add: true,
				title: 'Welcome',
				titleLink: 'parent'
			},
			navbars	: [
				{
					position: 'top',
					content: [
						/*'breadcrumbs',*/
						'prev',
						'title'
					]
				},
				{
					position: 'bottom',
					content: $("#exit")
				/*},
				{
					position: 'top',
					height: 4,
					content	: $("#user")*/
				}
			],
			setSelected: {
				//hover: true,
				parent: true
			}
		}, {
			classNames: {
				selected: "active"
			},
			offCanvas: {
				pageSelector: "#dl_page"
			}
		});
		
		MenuAPI = $("#mmenu").data("mmenu");
		MenuAPI.initPanels($("#mmenu-panel"));
		MenuAPI.bind("initPanels", function($panel) {
			//console.log("This panel is now opened:" + $panel.attr( "id" ));
		});
		
		var $html = $("html");
		var $burger = $("#hamburger").on('click', function(e) {
			e.preventDefault();
			if ($html.hasClass("mm-opened")){
				MenuAPI.close();
			} else {
				MenuAPI.open();
			}
		})
		.children(".hamburger");
		
		MenuAPI.bind('closed', function() {
			setTimeout(function() {
				$burger.parent().removeClass("isActive");
				$burger.removeClass("is-active");
			}, 100);
		});
		
		MenuAPI.bind('opened', function() {
			setTimeout(function() {
				$burger.parent().addClass("isActive");
				$burger.addClass("is-active");
			}, 100);
		});
	});
	
	$(document).keydown(function(e){
		'use strict';
		
		if (e.shiftKey === true && e.keyCode === 68) {
			$("#DemoButton").show();
		}
	});
</script>