{{ define "newState" }}
<script>

	var serverTime;
	var selectbox = $("#countries");
	
	function StateOK() {
		$("#new_state_request").css("display", "none");
		$("#my_state").css("display", "block");
		preloader(document.getElementById('go_to_the_state'));
		obj.addClass("whirl standard");
		
		$.get( '/ajax?controllerName=AjaxStatesList', function (data) {
			selectboxState(data);
			obj.removeClass("whirl standard");
		}, "json" );
	}
	
	$('#send').bind('click', function () {

		$.get( 'ajax?controllerName=GetServerTime', function (data) {
			serverTime = data.time;
			$("#for-signature").val( '{{.TxTypeID}},'+serverTime+',{{.WalletID}},'+$('#state_name').val()+','+$('#currency_name').val());
			doSign();
			$("#send_to_net").trigger("click");
		}, "json" );
	} );

	$('#send_to_net').bind('click', function () {
		$.ajax({
			type: 'POST',
			url: 'ajax?controllerName=saveQueue',
			data: {
				'state_name' : $('#state_name').val(),
				'currency_name' : $('#currency_name').val(),
				'type' : '{{.TxType}}',
				'time' : serverTime,
				'walletId' : '{{.WalletID}}',
				'signature1': $('#signature1').val()
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				send_to_net_success(data, StateOK);		

			},
			error: function(xhr, status, error) {
				Alert(returnLang("error"), error, "error");
			}
		});
	} );


	$('#go_to_the_state').bind('click', function () {
		$.get( 'ajax?json=set_state&state_id='+$("#countries").val()+'&citizen_id={{.WalletID}}', function (data) {
			load_menu();
			load_template("dashboard_default");
		}, "json" );
	});
</script>
	<div class="content-heading lang" lang-id="create_new_state_or_community"></div>
	 
	<!-- START panel-->
	<div id="my_state" class="panel panel-default" data-sweet-alert style="display:none;">
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label for="countries" class="lang" lang-id="country"></label>
					<select id="countries" class="form-control"></select>
				</div>
			</form>
		</div>
		<div id="buttons" class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button type="button" class="btn btn-primary lang" data-tool="panel-refresh" onClick="preloader(this);" id="go_to_the_state" lang-id="go_to_my_state"></button>
				</div>
			</div>
		</div>
	</div>
	<!-- END panel-->

	<div id="new_state_request">
		<div class="panel panel-default" data-sweet-alert>
			<div class="panel-body">
				<form role="form">
				   <div class="form-group">
					   <label for="state_name" class="lang" lang-id="state_or_community_name"></label>
					   <input class="form-control" type="text" id="state_name">
				   </div>
				   <div class="form-group">
					   <label for="currency_name" class="lang" lang-id="currency_name"></label>
					   <input class="form-control" type="text" id="currency_name">
				   </div>
				</form>
			</div>
			<div class="panel-footer">
			   <div class="clearfix">
				  <div class="pull-right">
					 <button type="button" class="btn btn-primary lang" id="send" data-tool="panel-refresh" onClick="preloader(this);" lang-id="next"></button>
				  </div>
			   </div>
			</div>
		</div>
	</div>

{{template "signatures".}}

{{end}}