{{ define "restoreAccess" }}
<script>
	var encrypted_message = '';
	$('#save').bind('click', function () {

	    if ($("#change_key_status").val()=='1') {
			encrypted_message = 30;
			$("#for-signature").val( '{{.TxTypeID}},{{.TimeNow}},'+encrypted_message );
			doSign();
			$("#send_to_net").trigger("click");
		 }
		 else {
					$.post( 'ajax?controllerName=encryptComment', {
						'type' : 'restoringAccess',
						'comment' : $("#secret").val()
					}, function (data) {
						encrypted_message = data;
						$("#for-signature").val( '{{.TxTypeID}},{{.TimeNow}},'+encrypted_message );
						doSign();
						$("#send_to_net").trigger("click");
					});
				}
	});

	$('#send_to_net').bind('click', function () {

		$.post( 'ajax?controllerName=saveQueue', {
					'type' : '{{.TxType}}',
					'time' : '{{.TimeNow}}',
					'secret' : encrypted_message,
					'signature1': $('#signature1').val()
				}, function (data) {
					dc_navigate ('restoringAccess', {'alert': '{{.Lang.sent_to_the_net}}'} );
				}
		);

	} );
</script>
	<div class="content-heading">
		<span class="lang" lang-id="restore_access"></span>
	</div>
	<!-- START panel-->
	<div class="panel panel-default">
	 <div class="panel-body">
		 {{if eq .Active 1}}
		 <button type="button" class="btn btn-primary lang" id="save" lang-id="forbid"></button>
		 {{else}}
		 <span class="lang" lang-id="secret"></span>:<br><textarea id="secret" class="form-control"></textarea><br><button type="submit"  id="save" class="btn btn-primary lang" lang-id="next"></button>
		 {{end}}
		 {{if ne .Request 0}}
		 <p><span class="lang" lang-id="request"></span>: {{.Request}}</p>
		 <a href="#changeKeyClose" class="btn btn-primary lang" lang-id="cancel_the_requests"></a>
		 {{end}}
	 </div>
	</div>
	<!-- END panel-->
{{end}}