{{ define "showTable" }}

	<div class="content-heading">
		showTable
	</div>
	<ol class="breadcrumb">
	   <li><a href="#">Dashboard</a></li>
	   <li class="active">showTable</li>
	</ol>
	<!-- START panel-->
	<div class="panel panel-default">
	 <div class="panel-heading">
	 	<div class="panel-title">
			showTable
		</div>
	 </div>
	 <div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
			  <tbody>
			  <tr>
			  {{ range $name, $permissions := .Columns }}
			  	  <td class="thead"><strong>{{$name}}</strong></td>
			  {{end}}
			  </tr>

			  </tbody>
		   </table>
		</div>
	 </div>
	</div>
	<!-- END panel-->
<script type="text/javascript">
	$(document).ready(function() {
		$(".edit").editable({
            type: 'text'
		})
	});
</script>
{{end}}