
	<div class="content-heading">
	   System info
	</div>
	<ol class="breadcrumb">
	   <li><a href="#" onclick="load_page('block_explorer')">Block Explorer</a></li>
	   <li class="active">System info</li>
	</ol>

	<div class="panel panel-default">
	 <div class="panel-body">
		 UpdFullNodes
		 {{if .UpdFullNodes}}
		<div class="table-responsive">
			<table class="table table-striped table-hover">

				<tr>
					{{range $i, $data1 := (index .UpdFullNodes 0)}}
					<td>{{$i}}</td>
					{{end}}
				</tr>

				{{range $i, $data := .UpdFullNodes}}
				<tr>
					{{range $i, $data1 := $data}}
					<td>{{$data1}}</td>
					{{end}}
				</tr>
				{{end}}
			</table>
		</div>
		 {{end}}
	 </div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			MainLock
			{{if .MainLock}}
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<tr>
						{{range $i, $data1 := (index .MainLock 0)}}
						<td>{{$i}}</td>
						{{end}}
					</tr>

					{{range $i, $data := .MainLock}}
					<tr>
						{{range $i, $data1 := $data}}
						<td>{{$data1}}</td>
						{{end}}
					</tr>
					{{end}}
				</table>
			</div>
			{{end}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			FullNodes
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<tr>
						{{range $i, $data1 := (index .FullNodes 0)}}
						<td>{{$i}}</td>
						{{end}}
					</tr>
					{{range $i, $data := .FullNodes}}
					<tr>
						{{range $i, $data1 := $data}}
						<td>{{$data1}}</td>
						{{end}}
					</tr>
					{{end}}
				</table>
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-body">
			SystemParameters
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<tr>
						{{range $i, $data1 := (index .SystemParameters 0)}}
						<td>{{$i}}</td>
						{{end}}
					</tr>
					{{range $i, $data := .SystemParameters}}
					<tr>
						{{range $i, $data1 := $data}}
						<td>{{$data1}}</td>
						{{end}}
					</tr>
					{{end}}
				</table>
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-body">
			Votes
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<tr>
						{{range $i, $data1 := (index .Votes 0)}}
						<td>{{$i}}</td>
						{{end}}
					</tr>
					{{range $i, $data := .Votes}}
					<tr>
						{{range $i, $data1 := $data}}
						<td>{{$data1}}</td>
						{{end}}
					</tr>
					{{end}}
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			Rollback
			{{if .Rollback}}
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<tr>
						{{range $i, $data1 := (index .Rollback 0)}}
						<td>{{$i}}</td>
						{{end}}
					</tr>
					{{range $i, $data := .Rollback}}
					<tr>
						{{range $i, $data1 := $data}}
						<td>{{replaceBr $data1}}</td>
						{{end}}
					</tr>
					{{end}}
				</table>
			</div>
			{{end}}
		</div>
	</div>