<script language="JavaScript" type="text/javascript">
	function SendTxOK{{.Unique}}() {
		{{if .Silent}}preloader_hide();{{end}}
		{{if .OnSuccess}}
			{{.OnSuccess}};
		{{end}}
	}
	var serverTime{{.Unique}};
	var predata{{.Unique}};

	$(document).ready(function(){
	$('#send{{.Unique}}').bind('click', function () {
		predata{{.Unique}} = {
			'TxName' : '{{.TxName}}',
		};
		{{range .Fields}}
			{{if ne .HTMLType "image"}}
				{{if eq .HTMLType "money"}}
					predata{{$.Unique}}['{{.Name}}'] = MoneyDigit($("#" + '{{.ID}}').val(), "{{.Param}}");
				{{else}}
					predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.ID}}').val();
				{{end}}
			{{end}}
		{{end}}
		prepare_contract(predata{{.Unique}}, {{$.Unique}}, sendnet{{$.Unique}});
	} );

function sendnet{{.Unique}}() {
	{{range .Fields}}
		{{if eq .HTMLType "image"}}
			predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.ID}}').val();
		{{end}}
	{{end}}
	predata{{.Unique}}['public'] = GKey.Public;
	$.ajax({
		type: 'POST',
		url: 'ajax?json=ajax_send_tx',
		data: predata{{.Unique}},
		dataType: 'json',
		crossDomain: true,
		success: function(result) {
			{{if .AutoClose}}
				result.type_success = 'notification';
			{{end}}
			send_to_net_success(result, SendTxOK{{.Unique}}, {{if .Silent}}true{{else}}false{{end}});
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});
}
	$('#send_to_net{{.Unique}}').bind('click', sendnet{{.Unique}}/*function () {
		{{range .Fields}}
			{{if eq .HTMLType "image"}}
				predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.ID}}').val();
			{{end}}
		{{end}}
		predata{{.Unique}}['public'] = GKey.Public;
		$.ajax({
			type: 'POST',
			url: 'ajax?json=ajax_send_tx',
			data: predata{{.Unique}},
			dataType: 'json',
			crossDomain: true,
			success: function(result) {
				send_to_net_success(result, SendTxOK{{.Unique}});
			},
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	}*/ );	
})
</script>
<!--<div class="{{.Class}}">-->
<div class="clearfix">
	<div class="pull-right">
		{{range .Fields}}{{if .Value}}
			<textarea id="{{.ID}}" style="display:none;">{{.Value}}</textarea>
		{{end}}{{end}}
		<button id="send{{.Unique}}" type="button" class="{{.ClassBtn}}" data-tool="panel-refresh" onClick="preloader(this);">{{.Name}}</button>
	</div>
</div>

{{template "signatures".}}