<script language="JavaScript" type="text/javascript">
	function SendTxOK{{.Unique}}() {
		{{if .OnSuccess}}
			{{.OnSuccess}};
			HideMenu();	
		{{end}}
	}
	var serverTime{{.Unique}};
	var predata{{.Unique}};
	$(document).ready(function(){
	$('#send{{.Unique}}').bind('click', function () {
		predata{{.Unique}} = {
			'TxName' : '{{.TxName}}',
		};
		{{range .Fields}}
			{{if ne .HtmlType "image"}}
				{{if eq .HtmlType "money"}}
					predata{{$.Unique}}['{{.Name}}'] = MoneyDigit($("#" + '{{.Id}}').val(), "{{.Param}}");
				{{else}}
					predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.Id}}').val();
				{{end}}
			{{end}}
		{{end}}
		$.get( 'ajax?json=ajax_prepare_tx', predata{{.Unique}},
			 function (data) {
				if (data.error.length > 0 ) {
					Alert("Error", data.error, "error");
				} else {
					console.log(data);
					predata{{.Unique}}.time = data.time;
					$("#for-signature{{.Unique}}").val(data.forsign);
					doSign({{.Unique}});
					predata{{.Unique}}.signature1 = $('#signature1{{.Unique}}').val();
					predata{{.Unique}}.signature2 = $('#signature2{{.Unique}}').val();
					predata{{.Unique}}.signature3 = $('#signature3{{.Unique}}').val();
//					$("#send_to_net{{.Unique}}").trigger("click");
					sendnet{{.Unique}}();
				}
		}, "json" );
	} );

function sendnet{{.Unique}}() {
	{{range .Fields}}
		{{if eq .HtmlType "image"}}
			predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.Id}}').val();
		{{end}}
	{{end}}
	predata{{.Unique}}['public'] = GKey.Public;
	$.ajax({
		type: 'POST',
		url: 'ajax?json=ajax_send_tx',
		data: predata{{.Unique}},
		dataType: 'json',
		crossDomain: true,
		success: function(result) {
			{{if .AutoClose}}
				result.type_success = 'notification';
			{{end}}
			send_to_net_success(result, SendTxOK{{.Unique}});
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});
}
	$('#send_to_net{{.Unique}}').bind('click', sendnet{{.Unique}}/*function () {
		{{range .Fields}}
			{{if eq .HtmlType "image"}}
				predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.Id}}').val();
			{{end}}
		{{end}}
		predata{{.Unique}}['public'] = GKey.Public;
		$.ajax({
			type: 'POST',
			url: 'ajax?json=ajax_send_tx',
			data: predata{{.Unique}},
			dataType: 'json',
			crossDomain: true,
			success: function(result) {
				send_to_net_success(result, SendTxOK{{.Unique}});
			},
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	}*/ );	
})
</script>
<div class="{{.Class}}">
	{{range .Fields}}{{if .Value}}
		<textarea id="{{.Id}}" style="display:none;">{{.Value}}</textarea>
	{{end}}{{end}}
	<button id="send{{.Unique}}" type="button" class="btn btn-primary" data-tool="panel-refresh" onClick="preloader(this);">{{.Name}}</button>
</div>

{{template "signatures".}}