<style>
	.tab-content {
		border: 0px;
		padding: 0px;
	}
	
	.panel.panel-default {
		//border-radius: 0px 0px 4px 4px;
	}
	
	#message {
		display: none;
	}
</style>
<script language="JavaScript" type="text/javascript">
	$(".aside .nav li").removeClass("active");
//	$(".citizen, .anonym_request_citizen").addClass("active");
//	$(".wrapper").addClass("map");
	
{{if eq .TxName "TXCitizenRequest"}}	
	var arr = [];
	var coords = [];
	var selectbox = $("#countries");
	var container = $("#fields");
	var msg = $("#message");
	var btn = $("#send");
	var btns = $("#buttons");
	
	$.ajax({
		type: 'GET',
		url: '/ajax?controllerName=AjaxStatesList',
		dataType: 'json',
		crossDomain: true,
		success: function(data) {
			selectboxState(data);
			regMap(JSON.parse(data[1].state_coords));
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});
	function Message(text) {
		if (!text) {
			msg.html('').hide();
		} else {
			msg.html(text).show();
		}
	}
	
	function showFields() {
		arr = [];
		msg.hide();
		btns.show();
		btn.prop("disabled", false);
		$('[data-sweet-alert]').removeClass("whirl standard");
	}
	
	function hideFields(text) {
		Message(text);
		btns.hide();
		container.html("");
		btn.prop("disabled", true);
	}
	function changeCountry(elem) {
		console.log("elem", elem);
		var id = $("#countries").val();
		Country(id);
		$.ajax({
			type: 'GET',
			url: '/ajax?controllerName=AjaxStatesList',
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				regMap(JSON.parse(data[id].state_coords));
			},
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	}
	
	function Country(id) {
		if (!id) {
			id = 1;
		}
		
		msg.hide();
		container.html("");
		$("#refresh").click();
		$.ajax({
			type: 'GET',
			url: 'ajax?json=ajax_smart_fields',
			data: {
				'state_id' : id,
				'contract_name': '{{.TxName}}'
			},
			dataType: 'json',
			crossDomain: true,
			success: function(data) {
				showFields();
				//container.prepend('<div class="form-group"><label for="price">Price</label><input id="price" type="text" class="form-control" value="' + data.price + ' DLT" disabled></div>');
				if (localStorage.getItem('reqPrv') && localStorage.getItem('reqState')== id && data.fields.length == 0) {
					if (data.approved == 0) {
						hideFields();
						Notify('The request is in the queue.', 'warning');
					}
					if (data.approved < 0) {
						hideFields('The request has been rejected.');
					}
					if (data.approved == 1) {
						hideFields();
						Notify('The request has been accepted.', 'success');
					}
					if (data.approved > 1) {
						var idz = id.toString(16);
						if (idz.length & 1)
							idz = '0' + idz;
						var ciz = data.approved.toString(16);
						if (ciz.length & 1)
							ciz = '0' + ciz;
							
						//alert('Your Private key: ' + localStorage.getItem('reqPrv') + idz + ciz);
						Alert("Citizenship Registration completed successfully!<br />Please accept our sincere congratulations!<br />Now you are a citizen of DayLight!", 'Your Private key: ' + localStorage.getItem('reqPrv') + idz + ciz, "success");
					}
//					return
				}
				
				if (data.valid == false) {
					$("#sorry").click();
					btn.prop("disabled", true);
				}
				
				if (data.fields.length) {
					var fields = JSON.parse(data.fields);
					
					for (i = 0; i < fields.length; i++ ) {
						if (fields[i].htmlType == "textinput") {
							var el = '<div class="form-group"><label for="' + fields[i].name + '">' + fields[i].title + '</label><input id="' + fields[i].name + '" name="' + fields[i].name + '" type="text" class="form-control"></div>'
						}
						if (fields[i].htmlType == "calendar") {
							var el = '<div class="form-group"><label for="' + fields[i].name + '">' + fields[i].title + '</label><div class="input-group date datetimepickerx"><input id="' + fields[i].name + '" type="text" class="form-control"><span class="input-group-addon"><span class="fa fa-calendar"></span></span></div></div>'
						}
						if (fields[i].htmlType == "file") {
							var el = '<div class="form-group"><label for="' + fields[i].name + '">' + fields[i].title + '</label><input id="' + fields[i].name + '" type="file" accept="image/*" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle"></div>'
						}
						if (fields[i].htmlType == "map") {
							var el = '<div class="form-group"> <label>'+fields[i].Title + '</label>' +
							'<textarea class="form-control map" id="' + fields[i]..Name + '">' + fields[i].Value + '</textarea></div>';
						}
						if (fields[i].htmlType == "date") {
							var el = '<div class="form-group" style="position:relative;">' +
				'<label class="control-label" for="' + fields[i].Name + '">' + fields[i].Title + '</label>' +
				'<input type="text" class="datetimepicker form-control" id="' + fields[i].Name + '" value="' + fields[i].Value + '"></div>';
						}
						container.append(el);
						arr.push(fields[i].name);
					}
					$(".datetimepickerx").datetimepicker({
						icons: {
							time: 'fa fa-clock-o',
							date: 'fa fa-calendar',
							up: 'fa fa-chevron-up',
							down: 'fa fa-chevron-down',
							previous: 'fa fa-chevron-left',
							next: 'fa fa-chevron-right',
							today: 'fa fa-crosshairs',
							clear: 'fa fa-trash'
						},
						minDate: moment("01/01/1950"),
						maxDate: 'now',
						format: 'DD MMMM, YYYY'
					});
					$(".filestyle").filestyle();
					
					console.log(fields)
					console.log(arr)
				}
			},
			error: function(xhr, status, error) {
				Alert("Error", error, "error");
			}
		});
	}
	
	Country();

{{end}}
	function SendTxOK{{.Unique}}() {
		{{if .Silent}}preloader_hide();{{end}}
		{{if .OnSuccess}}
			{{.OnSuccess}};
		{{end}}
	}
	var serverTime{{.Unique}};
	var predata{{.Unique}};
	
	$('#send{{.Unique}}').bind('click', function () {
		predata{{.Unique}} = {
			'TxName' : '{{.TxName}}',
		};
		{{range .Fields}}
			{{if ne .HtmlType "image"}}
				{{if eq .HtmlType "money"}}
					predata{{$.Unique}}['{{.Name}}'] = MoneyDigit($("#" + '{{.Name}}{{$.Unique}}').val(), "{{.Param}}");
				{{else}}
					predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.Name}}{{$.Unique}}').val();
				{{end}}
			{{end}}
		{{end}}
		$.get( 'ajax?json=ajax_prepare_tx', predata{{.Unique}},
			 function (data) {
				if (data.error.length > 0 ) {
					Alert("Error", data.error, "error");
				} else {
					console.log(data);
					predata{{.Unique}}.time = data.time;
					$("#for-signature{{.Unique}}").val(data.forsign);
					doSign({{.Unique}});
					predata{{.Unique}}.signature1 = $('#signature1{{.Unique}}').val();
					predata{{.Unique}}.signature2 = $('#signature2{{.Unique}}').val();
					predata{{.Unique}}.signature3 = $('#signature3{{.Unique}}').val();
//					$("#send_to_net{{.Unique}}").trigger("click");
					sendnet{{.Unique}}();					
				}
		}, "json" );
	} );

function sendnet{{.Unique}}() {
	{{range .Fields}}
		{{if eq .HtmlType "image"}}
			predata{{$.Unique}}['{{.Name}}'] = $("#" + '{{.Name}}{{$.Unique}}').val();
		{{end}}
	{{end}}
	predata{{.Unique}}['public'] = GKey.Public;
	$.ajax({
		type: 'POST',
		url: 'ajax?json=ajax_send_tx',
		data: predata{{.Unique}},
		dataType: 'json',
		crossDomain: true,
		success: function(result) {
			{{if .AutoClose}}
				result.type_success = 'notification';
			{{end}}
			send_to_net_success(result, SendTxOK{{.Unique}}, {{if .Silent}}true{{else}}false{{end}});
		},
		error: function(xhr, status, error) {
			Alert("Error", error, "error");
		}
	});
}

	$('#send_to_net{{.Unique}}').bind('click', sendnet{{.Unique}} );	

 $(document).ready(function() {
	
	userLocation("map", "100%", "250px");
//	miniMap("polymap", "100%", "250px");
	$(".address").prop("autocomplete", "off").inputmask({mask: "9999-9999-9999-9999-9999", autoUnmask: true }).focus();
	$(".address").typeahead({
		minLength: 1,
		items: 10,
		source: function (query, process) {
			return $.get('ajax?json=ajax_addresses', { 'address': query }, function (data) {
				return process(data.address);
			});
		}
	}).focus();
	$(".inputmask").inputmask({'autoUnmask': true});
 });
</script>
<div class="panel-body">
	<form role="form">
		{{.TxName}} {{if eq .TxName "TXCitizenRequest"}}
		<div class="form-group">
			<label for="countries">Country</label>
			<select id="countries" class="form-control" onChange="changeCountry(this);"></select>
		</div>
		{{end}}
		<div id="message" class="alert alert-danger"></div>
		<div id="fields">
			{{range .Fields}} {{if eq .HtmlType "textinput"}}
			<div class="form-group"><label for="{{.Name}}">{{.Title}}</label>
				<input id="{{.Name}}{{$.Unique}}" name="{{.Name}}" type="text" value="{{.Value}}" class="form-control"></div>
			{{end}}{{if eq .HtmlType "money"}}
			<div class="form-group"><label for="{{.Name}}">{{.Title}}</label>
				<input id="{{.Name}}{{$.Unique}}" name="{{.Name}}" type="text" value="{{.Value}}"
				data-inputmask="'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ' ', 'autoGroup': true, 'digits': {{.Param}}, 'digitsOptional': false, 'prefix': '', 'placeholder': '0'"
				 class="inputmask form-control"></div>
			{{end}}{{if eq .HtmlType "hidden"}}
			<input id="{{.Name}}{{$.Unique}}" name="{{.Name}}" type="hidden" value="{{.Value}}">
			{{end}} {{if eq .HtmlType "address"}}
			<div class="form-group"><label for="{{.Name}}">{{.Title}}</label>
				<input id="{{.Name}}{{$.Unique}}" name="{{.Name}}" type="text" value="{{.Value}}" data-type="wallet" class="form-control address">
				<ul class="parsley-errors-list">
					<li class="parsley-required">Please enter the correct address</li>
				</ul>
			</div>
			{{end}} {{if eq .HtmlType "text"}}
			<div class="form-group"><label for="{{.Name}}">{{.Title}}</label>
				<textarea id="{{.Name}}{{$.Unique}}" name="{{.Name}}" style="height: 180px;" class="form-control">{{.Value}}</textarea></div>
			{{end}} {{if eq .HtmlType "select"}}
			<div class="form-group"><label for="{{.Name}}">{{.Title}}</label>
				<select id="{{.Name}}{{$.Unique}}" class="selectbox form-control">
				{{$cur := .Value.Cur}}
				{{range $key, $val := .Value.List}}<option value="{{$key}}" {{if eq $cur $key}}selected{{end}}>{{$val}}</option>{{end}}
				</select>
			</div>
			{{end}} {{if eq .HtmlType "map"}}
			<div class="form-group"> <label>{{.Title}}</label>
				<textarea class="form-control map" id="{{.Name}}{{$.Unique}}">{{.Value}}</textarea>
				<!--div class="map" id="{{.Name}}">{{.Value}}</div>
			</div>
			<div class="clearfix">
				<div class="pull-left">
					<button type="button" onClick="openMap('{{.Name}}');" class="map btn btn-primary"><i class="fa fa-map-marker"></i> &nbsp;Add/Edit Coords</button>
				</div-->
			</div>
			{{end}}{{if eq .HtmlType "polymap"}}
			<!--div class="form-group"> <label>{{.Title}}</label>
				<textarea class="form-control polymap" id="{{.Name}}">{{.Value}}</textarea>
			</div-->
			<div class="form-group"> <label>{{.Title}}</label>
				<textarea class="form-control" id="{{.Name}}{{$.Unique}}">{{.Value}}</textarea>
			</div>
			<!--<div class="clearfix">
				<div class="pull-left">-->
					<button type="button" onClick="openMap('{{.Name}}{{$.Unique}}');" class="btn btn-primary"><i class="fa fa-map-marker"></i> &nbsp;Add/Edit Coords</button>
				<!--</div>
			</div>-->
			{{end}}{{if eq .HtmlType "date"}}
			<div class="form-group" style="position:relative;">
				<label class="control-label" for="{{.Name}}">{{.Title}}</label>
				<input type="text" class="datetimepicker form-control" id="{{.Name}}{{$.Unique}}" value="{{.Value}}">
			</div>
			{{end}} {{if eq .HtmlType "image"}} <img id="img{{.Name}}{{$.Unique}}" style="margin: 10px 0px;" src=""> {{if .Value}}<script>
						document.getElementById('img{{.Name}}{{$.Unique}}').setAttribute( 'src', '{{.Value}}' );
					</script>{{end}}
			<div class="form-group"> <label>{{.Title}}</label>
				<textarea class="form-control" id="{{.Name}}{{$.Unique}}">{{.Value}}</textarea>
			</div>
			<!--<div class="clearfix">
				<div class="pull-left">-->
					<button type="button" class="btn btn-primary" onClick="openImageEditor('img{{.Name}}{{$.Unique}}', '{{.Name}}{{$.Unique}}', '1/1', '100', '100');"><i class="fa fa-file-image-o"></i> &nbsp;Add/Edit Image</button>
				<!--</div>
			</div>-->
			{{end}} {{end}}
		</div>
	</form>
</div>
<div class="panel-footer">
	<div class="clearfix">
		<div class="pull-right">
			<button id="send{{.Unique}}" type="button" class="btn btn-primary" data-tool="panel-refresh" onClick="preloader(this);">Send</button>
		</div>
	</div>
</div>

{{template "signatures".}}