/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  position: fixed;
  /*left:0px;*/
  top:55px;
  z-index:100000;
  left:50%;
  width:1200px;
  height:5px;
  overflow:hidden;
  margin-left:-600px;
}

#nprogress .bar {
  background: #2f80e7;

  /*position: fixed;*/
  position:absolute;
  top:0px;
  left: 0;

  width: 100%;
  height: 2px;
  background-repeat:no-repeat;
  background-position:0px 0px;
  background-size:170px 35px !important;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /*box-shadow: 0 0 10px #23b7e5, 0 0 5px #23b7e5;*/
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #5d9cec;
  border-left-color: #5d9cec;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#NProgressStart {
  pointer-events: none;
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-color:#23b7e5;
  z-index:100001;
}

#NProgressStart .bar {
  position: fixed;
  left:50%;
  top:50%;
  width:170px;
  height:35px;
  margin-left:-85px;
  margin-top:-17px;
}
#NProgressStart .bar:before {
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
  background-image:url(/static/img/logo.svg);
  background-repeat:no-repeat;
  background-position:0px 0px;
  background-size:170px 35px !important;
  opacity:0.3;
}
#NProgressStart .bar .peg {
  position:absolute;
  left:0px;
  top:0px;
  height:35px;
  background-image:url(/static/img/logo.svg);
  background-repeat:no-repeat;
  background-position:0px 0px;
  background-size:170px 35px !important;
}