{{ define "login" }}
<style>
	body {
		display:flex;
	}
	.container-fluid {
		display:flex;
		left:0px;
		flex-flow:row wrap;
		align-items:center;
		align-content:center;
		padding-bottom:15px;
		margin-left:auto;
	}
	#show_login, #show_signup{
		float:left
	}
	#show_signup{
		margin-left:5px;
	}
</style>

{{if not .UserID}}
<header class="nologin navbar-fixed-top">
	<div class="logo no"><i></i></div>
</header>
{{end}}

{{if .PoolTechWorks}}
	<div class="alert alert-info" style="max-width: 540px; text-align: center; position: relative; top: 35%; bottom: 0px; margin: auto">{{.Lang.pool_tech_works}}</div><div id="show_login" style="width: 40px; height:40px"></div>
{{else}}
	<div id="login_div" style="width:100%; text-align:center; font-size:0px;">
		<span style="display:inline-block;">
			<button type="button" class="btn btn-primary btn-lg" id="show_login" style="vertical-align:top;">{{.Lang.login}}</button>
			{{if .SignUp}}<button type="button" class="btn btn-primary btn-lg" id="show_signup" style="vertical-align:top;">{{.Lang.sign_up}}</button>{{end}}
		</span>
	</div>
{{end}}

<div style="display:none; width:100%; text-align:center;" id="loading_div">
		<span style="display: inline-block; text-align: center">
			<div id="available_key_alert"></div>
			{{.Lang.please_wait_free_key}}
		</span>
</div>
<div style="width:100%; text-align:center; padding-top:50px;">
	<span style="display: inline-block; text-align: center">
		<a href="mailto:darwin@dcoin.club">help</a>
	</span>
</div>
<div class="for-signature"></div>
{{end}}
