{{ define "modal" }}
<script>
$('#myModal').modal('hide');

function show_text_key () {
	$("#modal_key").css("display", "block");
	$("#key_div").css("display", "none");
	$("#key_selector").html('<a href="#" onclick="show_file_key()">{{.Lang.from_file}}</a>');
	return false;
}

function show_file_key () {
	$("#modal_key").css("display", "none");
	$("#key_div").css("display", "block");
	$("#key_selector").html('<a href="#" onclick="show_text_key()">{{.Lang.text}}</a>');
	return false;
}

function handleFileSelect2(evt) {
    $('#key_file_name').html(this.value);
	var f = evt.target.files[0];
	handleFileSelect(f);
}

var handleFileSelect = function(f) {

    $('#key_file_name').html(f.name);
    var reader = new FileReader();
    if (f.type.substr(0,5) =='image') {
	    reader.onload = (function(theFile) {
	        return function(e) {
		        console.log('img2key');
				img2key(e.target.result, 'modal_key');
	        };
	    })(f);
	    reader.readAsDataURL(f);
	}
	else {
	    reader.onload = (function(theFile) {
	        return function(e) {
		            console.log(e.target.result);
					$('#modal_key').val(e.target.result);
	        };
	    })(f);
	    reader.readAsText(f);
	}
};

$( document ).ready(function() {
	if (window.FileReader === undefined) {
		$("#modal_key").css("display", "block");
		$("#key_div").css("display", "none");
		$("#key_selector").css("display", "none");
	}
	var upload = document.getElementById('upload_hidden');
	if (upload)
		upload.addEventListener('change', handleFileSelect2, false);
});


$('#key_div').on(
    'dragover',
    function(e) {
        e.preventDefault();
        e.stopPropagation();
    }
)
$('#key_div').on(
    'dragenter',
    function(e) {
        e.preventDefault();
        e.stopPropagation();
    }
)
$('#key_div').on(
    'drop',
    function(e){
        if(e.originalEvent.dataTransfer){
            if(e.originalEvent.dataTransfer.files.length) {
                e.preventDefault();
                e.stopPropagation();
               handleFileSelect(e.originalEvent.dataTransfer.files[0]);
            }
        }
    }
);

$('#saveKeyAndLogin').bind('click', function () {
	save_key();
	$(this).html('Wait...');
	$(this).addClass( "disabled" );
	setTimeout(function() {
		doSign('login');
		$('#saveKeyAndLogin').html('{{.Lang.login}}');
		$('#saveKeyAndLogin').removeClass( "disabled" );
		$('#myModal').modal('hide');
	}, 500);
});

$(document).keypress(function(e){
	if(e.keyCode == 13){
		if ($("#modal_password, #modal_setup_password").is(":focus")) {
			$("#saveKeyAndLogin").click();
		}
	}
});

</script>

<style>
	.modal_password_label {
		display:block;
	}
  </style>

<div class="modal fade" id="{{.MyModalIdName}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">{{.Lang.login_title}}</h4>
			</div>
			<div class="modal-body">

				<div id="modal_alert"></div>

				<input type="hidden" id="incorrect_key_or_password" value="{{.Lang.incorrect_key_or_password}}">
				<input type="hidden" id="pool_is_full" value="{{.Lang.pool_is_full}}">

					<fieldset>
						<span id="key_selector" style="float:right"><a href="#" onclick="show_text_key()">{{.Lang.text}}</a></span><div class="clearfix"></div>
							<div style="width:100%;  border:2px dashed black; display: flex;  height: 100px; padding: 15px 0px 15px 0px" id="key_div">
								<div style="margin:auto; text-align:center; line-height:22px">
								 <p style="margin-bottom:0px"  id="key_file_name" onclick="document.getElementById('upload_hidden').click();"></p>
								  <div id="key_btn" style="margin-top:0px"  class="btn btn-outline btn-primary" onclick="document.getElementById('upload_hidden').click();" type="button">
								  	{{.Lang.select_key}}
									<input type="file" accept="image/*,text/*" name="upload" id="upload_hidden" style="position: absolute; visibility:hidden;" />
								  </div>
								  {{if not .Mobile}}<p>{{.Lang.or_drag_and_drop_key}}</p>{{end}}
								</div>
							</div>
						<textarea rows="3" id="modal_key" class="form-control" style="display:none"></textarea><br>
						<label class="modal_password_label">{{.Lang.key_password}}</label>
						<input type="password" id="modal_password" class="form-control">
						{{if .SetupPassword}}
						<label class="modal_password_label">Setup password</label>
						<input type="password" id="modal_setup_password" class="form-control">
						{{end}}
						{{if not .Community}}
						<div style="margin-top: 20px">
							<input {{if or .Mobile .Desktop}}checked{{end}} type="checkbox" class="checkbox" id="modal_save_key" style="float:left;" >
						<label for="modal_save_key" style="min-height: 0px; float: left; line-height: 14px; margin-left: 5px; white-space:nowrap;">
							{{.Lang.save_key}}
						</label>
						</div>
						{{end}}
					</fieldset>
			</div>
			<div class="modal-footer">
				<button id="saveKeyAndLogin" type="button" class="btn btn-success  btn-lg btn-block" data-toggle="button">{{.Lang.login}}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="signUpModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">{{.Lang.signup_title}}</h4>
			</div>
			<div style="margin: 15px" id="no_available_keys">
				{{noescape .Lang.need_key}}
			</div>
			<div style="margin: 15px" id="sign_up_in_pool">
				<div id="available_key_alert"></div>
				<div class="form-horizontal">
					<fieldset>

						<legend>{{.Lang.register_key_at_the_pool}}</legend>
						<div id="alerts"></div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="sign_up_in_pool_email">E-mail</label>
							<div class="col-md-4">
								<input id="sign_up_in_pool_email" name="email" placeholder="" class="form-control input-md" type="text">
								<span class="help-block">{{.Lang.enter_your_email}}</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="sign_up_in_pool_send"></label>
							<div class="col-md-4">
								<button id="sign_up_in_pool_send" name="sign_up_in_pool_send" class="btn btn-primary" onclick="availableKeys()">{{.Lang.send}}</button>
							</div>
						</div>

					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}